@mixin navBackground($top, $bottom, $circle){
	background: $top;
    background: -moz-linear-gradient(-45deg, $top 65%, $bottom 50%),-moz-radial-gradient(circle farthest-side at 50% 150%, $bottom 20%, $circle 75%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
    background: -webkit-linear-gradient(-225deg ,$top 65%, $bottom 50%), -webkit-radial-gradient(50% 150%, circle,  $bottom 20%, $circle 75%);
    background: -o-linear-gradient(-225deg ,$top 65%, $bottom 50%), -o-radial-gradient(50% 150%, circle,  $bottom 20%,  $circle 75%); 
    background: -ms-linear-gradient(-225deg ,$top 65%, $bottom 50%), -ms-radial-gradient(50% 150%, circle,  rgba(82,82,82,1) 20%, $circle 75%); 
    background: linear-gradient(-45deg, $top 65%, $bottom 50%),radial-gradient(circle farthest-side at 50% 150%, $bottom 20%, $circle 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#525252',GradientType=0 );
}
@mixin rotateElement($deg){
	-webkit-transform:rotate($deg);
	-moz-transform:rotate($deg);
	-o-transform:rotate($deg);
	-ms-transform:rotate($deg);
	transform:rotate($deg);
}
@mixin clearfix(){
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin filterGrayscale($opacity, $filter){
    opacity:$opacity;
    filter:grayscale($filter);
    -webkit-filter:grayscale($filter);
}

