/*CAROUSEL*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel{
    left: 0px;
    position:relative;
    margin:0 auto;
}
.carousel-indicators{
    bottom: 5%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        width: 2rem;
        height: 8px;
        margin: 1px;
        text-indent: -999px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        background-color: rgba(255,255,255,0.5);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .active {
        margin: 0;
        width: 2rem;
        height: 8px;
        margin: 1px;
        background-color: rgba(255,255,255,1);
    }
}

/*CLOCK SLOT GAMES*/
.slot,.flag,.mobile,.promo{
    margin:0 auto;
    text-align:center;
}


.slot__platforms{
    width:90%;
    margin:5% auto 0% auto;
    background-color:rgba(196,196,196,1);
    padding:2% 1%;
    box-shadow:0 100px 10px -101px rgba(0,0,0,.5);
}
.slot__platforms_shadow{
    position:relative
}
.slot__platforms_shadow:before,.slot__platforms_shadow:after{
    z-index:-1;
    position:absolute;
    content:"";
    border-radius:50%;
    bottom:25px;
    left:80px;
    width:50%;
    height:35%;
    top:55%;
    max-width:500px;
    background:rgba(0,0,0,0.7);
    -webkit-box-shadow:0 35px 30px -8px rgba(0,0,0,0.7),0 25px 50px 25px rgba(0,0,0,0.25);
    -moz-box-shadow:0 35px 30px -8px rgba(0,0,0,0.7),0 25px 50px 25px rgba(0,0,0,0.25);
    box-shadow:0 35px 30px -8px rgba(0,0,0,0.5),0 25px 50px 25px rgba(0,0,0,0.25);
}
.slot__platforms_shadow:before{
    -webkit-transform:rotate(-3.5deg);
    -moz-transform:rotate(-3.5deg);
    -o-transform:rotate(-3.5deg);
    -ms-transform:rotate(-3.5deg);
    transform:rotate(-3.5deg)}
.slot__platforms_shadow:after{
    -webkit-transform:rotate(3.5deg);
    -moz-transform:rotate(3.5deg);
    -o-transform:rotate(3.5deg);
    -ms-transform:rotate(3.5deg);
    transform:rotate(3.5deg);
    right:80px;
    left:auto;
}
.slot__platforms_block{
    height:  9rem;
    width: 9rem;
    background-color: rgba(225,225,225,1); 
    display: inline-block;
    margin: 5px 5px;
    background-size: cover;
}
.slot__platforms--pt{
    background: url(../images/platforms/pt.png) no-repeat;
    
}
.slot__platforms--mg{
    background: url(../images/platforms/mg.png) no-repeat;
}
.slot__platforms--ttg{
    background: url(../images/platforms/ttg.png) no-repeat;
}
.slot__platforms--png{
    background: url(../images/platforms/png.png) no-repeat;
}
.slot__platforms--bs{
    background: url(../images/platforms/bs.png) no-repeat;
}
.slot__platforms--isb{
    background: url(../images/platforms/isb.png) no-repeat;
}
.slot__platforms--fg{
    background: url(../images/platforms/fg.png) no-repeat;
}
.slot__platforms--hb{
    background: url(../images/platforms/hb.png) no-repeat;
}

.slot__section--top{
    margin:10px auto;
    width:100%;
    h2{
        display:inline-block;
        margin-right:5%
    }
    .button{
        display:inline-block;
        p{
            display:inline-block
        }
    }
}

.slot__section--btm{
    margin:15px auto
}
.slot__section--btn{
    margin: 0 auto;
    .button{
        position: relative;
    }
}

.clock__container{
    height:5rem;
    position:relative;
    .clock{
        position:absolute;
        top:50%;
        left:50%;
        margin-right:-50%;
        transform:translate(-50%,-50%)
    }

}

.slot__center{
    width: 30%;
    height: auto;
    position: relative;
    z-index: 1;
}
.slot__center--games{
    margin: 1% auto;
}
.slot__center--main{
    margin: 4% auto;
}
.slot__logos{
    margin: 0px auto;
    text-align: center;
    top: 50px;
}
.slot__logos--bg{
    position:relative;
    border-radius: 5px; 
    background-color: rgba(177,177,177,1);
    padding: 4%;
    height: 5%;
    z-index: -1;
    bottom: 50px;
}
.slot__img span img {   
    width: 56px; 
    position: absolute; 
    left: -28px; 
    top: 0;
    transition:  filter .5s ease;
    @include filterGrayscale(.5, 100%)
}

.slot__img span img:hover{
    @include filterGrayscale(1, 0%)
}
.slot__img{
    cursor: pointer;
}
.slot__img>span{
    position: relative;
}


/*LIVE*/
.section--live{
    margin-top: 5rem;
}
.heading.heading--coins{
    /*position: absolute;*/
}
.live__container{
    max-width: 70%;
    margin: 0 auto;
}
.live__contents{
    margin:0 auto;
    position:relative;
    z-index:3;
}
.live__contents--container{
    max-width: 300px;
}
.live__logos-sa,
.live__logos-ag,
.live__logos-mg,
.live__logos-pt{
    img{
        width: 85%;
    }
}

.live--sa{
    bottom:240px;
    float:right;
    right: 260px;
}
.live--ag{
    right: -160px;
    bottom: 260px;
    float: right;
}
.live--mg{
    float: left;
    bottom: 200px;
    left: 300px;
}


.live--pt{
    bottom: 5px;
    left: 400px;
    position: absolute;
}

.live__model{
    max-width:70%;
    position:relative;
}
.live__model--sa{
    left:-3rem;
}
.live__model--mg{
    left:2.5rem;
    top:4rem;
}
.live__model--ag{
    left:5rem;
    bottom:4rem;
}
.live__model--pt{
    left:7rem;
    position:relative;
    max-width:60%;
}
.live__btn{
    margin:0 auto;
    max-width:10%;
    z-index:100;
    position:relative;
    transition:background-color .5s ease-out;
    @include filterGrayscale(1, 100%)
}
.live__btn:hover{
    @include filterGrayscale(1, 0%)
}

.live__logos-sa{
    right:86px;
    bottom:5px;
}
.live__logos-mg{
    right:60px;
    bottom:15px
}
.live__logos-ag{
    right:50px;
    bottom:5px
}
.live__logos-pt{
    right:45px;
    bottom:5px
}

.live__btn--sa{
    left: 140px;
    bottom: 50px;
}
.live__btn--ag{
    left: 50px;
    bottom: 50px;
}
.live__btn--pt{
    right: 200px;
    bottom: 30px;
}
.live__btn--mg{
    right: 150px;
    bottom: 50px;
}

.live__background{
    background:url(../images/live_wm.jpg);
    width:100%;
    height:auto;
    background-repeat:no-repeat;
    background-size:contain;
    margin:0 auto;

    position: relative; 
    top: 50px;
}
.live__right,.live__left,.live__right::before,.live__left::before,.live__right::after,.live__left::after{
    transition:background-color .5s ease-out
}
.live__right:nth-child(2)::before,.live__right:nth-child(2)::after{
    -webkit-transform:rotate(-8deg);
    -moz-transform:rotate(-8deg);
    -o-transform:rotate(-8deg);
    -ms-transform:rotate(-8deg);
    transform:skewY(-8deg);
    right:0;
    left:0;
    bottom:0
}
.live__right:nth-child(4)::before,.live__right:nth-child(4)::after{
    -webkit-transform:rotate(-10deg);
    -moz-transform:rotate(-10deg);
    -o-transform:rotate(-10deg);
    -ms-transform:rotate(-10deg);
    transform:skewY(-10deg);
    right:0;
    left:0;
    bottom:0
}
.live__left:nth-child(1)::before,.live__left:nth-child(1)::after{
    -webkit-transform:rotate(7deg);
    -moz-transform:rotate(7deg);
    -o-transform:rotate(7deg);
    -ms-transform:rotate(7deg);
    transform:skewY(7deg);
    padding-left:-50%;
}
.live__left:nth-child(3)::before,.live__left:nth-child(3)::after{
    -webkit-transform:rotate(7deg);
    -moz-transform:rotate(7deg);
    -o-transform:rotate(7deg);
    -ms-transform:rotate(7deg);
    transform:skewY(7deg);
    right:0;
    left:0;
    bottom:0
}

.live__left:nth-child(5)::before,.live__left:nth-child(5)::after{
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
    transform:skewY(5deg);
    right:0;
    left:0;
    bottom:0
}
.live__lr::before,.live__lr::after{
    content:'';
    height:100%;
    width:100%;
    position:absolute;
    background:inherit;
}
.live__right::before,.live__right::after{
    transform-origin:left top
}
.live__left::before,.live__left::after{
    top:0;
    transform-origin:right top
}

/*LIVE SLIDER*/
.live__slider{
    text-align:right;
    bottom: 15px!important;
    text-align: right; 
    z-index: 1;
}

.live__slider .img{
    display: inline-block; 
    margin: 20px auto; 

}
.img--live-slides{
    display: inline-block; 
    margin: 5px auto; 
    padding: 5px;
}
.live__background .button{
    margin: -15px auto; 
    text-align: center;
}
.button__slides--pt{
    margin: 15px auto!important;
}
.live__slider .img img{
    display:inline-block;
    margin:0 auto
}
.live_control{
    display:inline-block;
    position:relative;
    top:-245px;
    width:10rem;
    height:12rem;
    background-color:rgba(255,255,255,0.25);
    z-index:1
}
.live__control-next{
    left:800px;
}
.live__girls-slider{
    text-align: right; 
    z-index: 1;
}
.livegirls__image{
    float: left ;
    position: relative ;
    z-index: 1 ;
    bottom: -25px;
}
.livegirls__image img{
    width: 280px;
}
.live__title{
    display: inline-block; 
    position: relative;
    top: 20px;
}

.live__title--sa img{
    text-align: right; 
    position: relative; 
    left: 550px; 
    float: right
}

.live__title--sa,.live__title--mg, .live__title--pt,.live__title--ag{
    display: inline-block; 
    position: relative; 
    top: 20px;
}

.live__title--sa .text--lightGrey,
.live__title--mg .text--lightGrey,
.live__title--pt .text--lightGrey,
.live__title--ag .text--lightGrey{
    text-align: left ;
    font-size: 3.25rem ; 
    font-weight: 300 ;
}
.live__title img{
    text-align: right; 
    position: relative; 
    float: right;

}
.live__title--mg img,.live__title--pt img,.live__title--ag img{
    left: 370px;
}
.live--slides-mg{
    left:100px  
}

.live__logos{
    min-width:225px;
    position:relative;
    z-index:-1;
    transition:1s ease;
    width:50%;
    margin-top:2%
}

.live__games{
    width:100%;
    position:relative
}
.live__games::before{
    -webkit-box-shadow:0 -15px 25px -15px rgba(100,100,100,.3);
    -moz-box-shadow:0 -15px 25px -15px rgba(100,100,100,.3);
    box-shadow:0 -15px 25px -15px rgba(100,100,100,.3);
}
.live__games:nth-child(1){
    z-index:-1;
    border:none;
    max-width:90%;
    margin:0 auto;
    top:40px;
}
.live__games:nth-child(2){
    background:rgba(172,172,172,1);
    top: 20px;
    height:140px;
    z-index:2;
    margin-left:10%;
    width:90%
}
.live__games:nth-child(3){
    background:rgba(191,191,191,1);
    bottom:60px;
    height:140px;
    z-index:3;
    margin-right:10%;
    width:90%
}
.live__games:nth-child(4){
    background:rgba(196,196,196,1);
    top:-60px;
    height:170px;
    z-index:4;
    margin-left:10%;
    width:90%
}
.live__games:nth-child(5){
    background:rgba(214,214,214,1);
    bottom:160px;
    height:100px;
    z-index:5;
    width:100%;
}


/*FLAG*/
.lottery__game{
    position: relative;
    left: 0; 
    top: 0;
    img{
        width: 70%; 
    }
}
.flag__content{
    margin:0 auto;
}
.flag__content h4{
    max-width:600px;
    margin:10px auto;
    padding: 1% 0%;
}

.lottery_game_item {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    .img{
        max-width: 125px;
    }
}
.lottery_game_item a{
    margin: auto 10px; 
    width: 150px;
    display: inline-block;
    z-index: 2;

}
.lottery_game_item .img img:hover{
    opacity:1;
    filter:grayscale(0%);
    -webkit-filter:grayscale(0%);
    transform: scale(1.1);
}
.lottery_game_item .img img{
    opacity:1;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transform: scale(1);

}
/*FISH GAMES*/
.heading.heading--fish{
    position: absolute;
}
.fish{
    margin: 10% auto;
    text-align: center;
}
.fish__section .img{
    display: inline-block;
    max-width: 350px;
    margin: auto 2%;
}
.fish__logo{
    width:70%;
    margin:0 15%;
}
.fish__img{
    height:auto;
    overflow:hidden;
    position:relative;
    display:inline-block;
    border:none
}
.fish__img img{
    -webkit-transition:all .25s linear;
    transition:all .25s linear; 
}
.fish_water_bg {
    position: absolute;
    left: 50%;
    top: 52.5%;
    transform: translate(-50%, -50%);
    z-index: -2;
    width: 50%;
}
.fish__img::before{
    position:absolute;
    top:0;left:-85%;
    z-index:2;
    display:block;
    content:'';
    width:50%;
    height:100%;
    background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
    background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
    -webkit-transform:skewX(-25deg);transform:skewX(-25deg)
}
.fish__img:hover::before{
    -webkit-animation:shine 1s;
    animation:shine 1s
}
@-webkit-keyframes shine {
    100%{
        left:125%
    }
}
@keyframes shine {
    100%{
        left:125%
    }
}

/*MOBILE SERVICES*/
.mobile__content--container{
    position: relative; 
    display: inline-block;
    margin: auto 5%; 
    vertical-align: middle;
}
.mobile__content--container img{
    max-width: 650px;
}

.mobile__content{
    max-width:400px;
    background-color:rgba(212,212,212,1);
    padding:2%;
    margin: 3% auto;
    text-align:left;
    height:100%;
    h3{
        font-style:normal
    }
    p{
        font-size:15px
    }
}
.mobile__img{
    width:80%;
    padding:1%
}
.mobile__img--left{
    margin-right:-30%
}
.mobile__img--right{
    margin-left:-30%
}
.qrcode{
    background-color:rgba(189,189,189,1);
    text-align:center;
    height:100%;
    padding:1%;
    margin-top:5%;
    .row .img img{
        border-radius:5px
    }
}
.qrcode__img{
    margin-top:5%;
    border-right:1px solid rgba(148,148,148,1)
}
.qrcode__link{
    font-size:17px;
    padding-top:65px;
}
.qrcode--btm{
    font-size:15px;
    color:rgba(255,255,255,1)
}
.services{
    text-align: center; 
    margin: 2% auto;
}
.services__block{
    background-color:rgba(221,221,221,1);
    height:150px;
    width:150px;
    padding:1%;
    margin:1%;
    display:inline-block;
    h5{
        margin-top:8%;
        &before,&::before{
            content:" EGC ";
            color:transparent;
            position:relative;
            font-size:25px;
        }
    }
    p{
        font-size:14px
    }
}

.services--devices h5,.services--gift h5,.services--csr h5,.services--csr h5,.services--lock h5,.services--net h5, .services--card h5{
    :before,&::before{
        background-size:220px;
    }
}


.services--devices h5::before{
    background:url(../images/spritesheet_footer.png) -5px -15px;
}

.services--gift h5::before{
    background:url(../images/spritesheet_footer.png) -65px -10px;
}

.services--csr h5::before{
    background:url(../images/spritesheet_footer.png) -145px -10px;
}

.services--lock h5::before{
    background:url(../images/spritesheet_footer.png) 8px -70px;
}

.services--net h5::before{
    background:url(../images/spritesheet_footer.png) -70px -70px;
}

.services--card h5::before{
    background:url(../images/spritesheet_footer.png) -145px -75px;
}
.section__bg--mobile{
    top: 22.5%;
}
