/*MOBILE APP PAGE*/
.app{
	margin:0 auto;
	text-align:center;
	p{
		font-weight: 300;
	}
}
.app__head-first{
	margin-bottom: 10px; 
	display: none
}
.app__text-first{
	font-size: 1.15rem;
	width: 380px;
	margin: 0 auto;
	display: none;
}
.heading--mobile-hide{
	display: none
}
.app__image-gold{
	display: inline-block; 
	width: 4.5%;
}
.app__text-second{
	display: inline-block; 
	text-align: left
}
.app__text-second--title{
	position: relative; 
	bottom: 10px;
	font-style: normal;
	font-weight: 400;
}
.app__head-second{
	text-align: left; 
	width: 470px;
	margin: 10% auto; 
	left: 20%; 
	position: relative;
	p{
		font-size: 1.25rem
	}
	.img img{
		width: 100%;margin-top: 2%;
	}
}
.app__image--slot{
	max-width: 90%;
	margin: 10% auto;
	right: 20%;
	position: relative;
}
.app__image--live{
	width: 250px;
}
.app__text-third{
	font-size: 1.25rem;
	width: 590px;
	margin: 0 auto  
}
.app__image-platforms{
	margin: 0 auto;
}

.mobile__img{
	width:80%;
	padding:1%
}
.mobile__img--left{
	margin-right:-30%
}
.mobile__img--right{
	margin-left:-30%
}
.slotty,.live,.platforms{
	p{
		font-size:1.25rem;
	}
}
.info__text h5{
	font-style:none
}
.slot__content p{
	width:500px
}
.live{
	height:100%;
	background:url(../images/live_bg.png) no-repeat;
	background-size:contain
}
.live__content{
	text-align:right;
	width:500px;
	margin:18% auto;
}
.platforms__text{
	text-align:center;
}
.platforms .img{
	width:60%;
	margin:0 auto;
	margin-top:5%;
}