.promo{
    position:relative;
    width:65%;
}
.promo__container .img{
    margin-bottom:10px;
}
.promo--slider{
    top:100px;
}
.promo__controls{
    text-transform:uppercase;
    text-align:right;
    margin:0 auto;
    bottom:50px;
    margin-bottom:5%;
    font-size:14px;
}
.promo__controls a{
    padding:5px;
    text-decoration:none;
    cursor:pointer;
}
.inactive{
    display:none!important;
}
.active{
    display:block;
}
.slider__bg{
    display:inline-block;
    position:relative;
    bottom: 51px;
    width:5rem;
    height:5rem;
    background-color: $primary;
    border-radius:50%;
    box-shadow:0 3px 5px rgba(0,0,0,0.2);
}
.slider__bg-prev{
    right:570px;
}
.slider__bg-next{
    left:570px;
}
.promo__content{
    display:none;
    z-index:99;
    position:relative;
}

.promo__content--heading{
    padding:3%;
}
.promo__content--body{
    background-color:rgba(225,225,225,1);
    padding:3%;
    text-align:left;
    z-index:7;
    position:relative;
}
.promo__content--body p{
    padding-top:1%;
}
.promo__content--body ul{
    list-style:none;
    margin:5px 20px;
}
.promo__content--body ul li{
    margin-bottom:.5rem;
    line-height:1.3;
    padding-left:1.5rem;
    position:relative;
}
.promo__content--body ul li:after{
    content:'';
    height:.4em;
    width:.4em;
    background:rgba(0,0,0,1);
    display:block;
    position:absolute;
    transform:rotate(45deg);
    top:.25em;
    left:0;
}
.carousel.carousel-promo{
    position: relative;
    left: 350px;
    margin: 0 auto;
}