/*SLOT GAMES PAGE*/
.section--games{
	padding-top: 140px;
}
.slot__img {
	cursor: pointer;
	span img {	
		width: 56px; 
		position: absolute; 
		left: -28px; 
		top: 0;
		transition:  filter .5s ease;
		@include filterGrayscale(.5, 100%);
		&:hover{
			@include filterGrayscale(.1, 0%);
		}
	}
	span{
		position: relative;
	}
}

.slot__active{
	@include filterGrayscale(.1, 0%);
}

.slot__games{
	width: 68%;
	margin: 1.5% auto;
	background-color: rgba(196,196,196,1); 
	padding: 2% 2.5% 1% 3.5%; 
	bottom: 110px;
	position: relative;
}
.slot__games--header{
    margin: 3% 2% 3% 2%;
    span{
		text-transform: uppercase;
		font-weight: 300;
	}
}
.slot__search{
	text-align: right;
	span{
		font-size: 0.9rem;
	}
	input{
		border: none;
		background: rgba( 255,255,255,1);
		width: 70%;
		height: 2.25rem;
		text-indent: 10px;
	}
	.fa-search{
		position: relative;
		right: 2rem;
	}
} 

.slot__games .img{
	margin: 0px 5px 0px 5px;
}

.slot__games--content .img{
	display: inline-block;
}
.slot__games--content{
	text-align: center;
}
.slot__games--category{
	display: inline-block;
	margin: 1% auto;
	margin-right: 2%;
	min-width: 100px;
}

.slot__games--category>a,
.slot__games--category>a:visited
.slot__games--category>a:link{
	cursor: pointer; 
	color: rgba(0,0,0,1); 
	text-transform: capitalize; 
	font-size: 1rem; 
	font-weight: 300;
	transition: .5s ease;
}
.slot__games--category>a:hover,
.slot__games--category>a:focus,
.slot__games--category>a:active{
	color: rgba(196,135,15,1);
}
.slot__games--category>a>img{
	width: 30px; 
	height: auto; 
	vertical-align: middle !important;
}
.slot__games--content-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: rgba(110,110,110,0.4);
}
.slot__games--content-overlay>.slot__games_button{
	display: block;
	position: relative;
 	margin: 2rem auto;
}
.slot__games--content>.img>a>figure{
  position: relative;
  width: 100%;
}
.slot__games_button>button{
	display: block;
}
.img:hover>a>figure>.slot__games--content-overlay{
 	opacity: 1;
 	border: 1px solid rgba(196,135,15,.5);
}

.img:hover>a>figure>.slot__games--content-overlay>.slot__games_button{
	opacity: 1;
	animation: open-pop-up .24s ease-in-out;
}
.slot__games_button--demo,.slot__games_button--play {
	position: relative;
	max-width: 150px;
	text-align: center;
	border: none;
	color: rgba(255,255,255,1);
	padding: 0.5rem 0.8rem;
	z-index: 1;
	display: block;
	margin: 1rem auto;
	animation: open-popup .24s ease-in-out;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.slot__games_button--play{
	background: rgba(196,135,15,1);
}
.slot__games_button--demo{
	background: rgba(74,74,74,1);
}
.slot__games_button--demo:hover,.slot__games_button--play:hover,
.slot__games_button--demo:hover,.slot__games_button--play:hover{
	opacity:.6;filter:grayscale(100%);-webkit-filter:grayscale(100%)
}
.slot__center{
	width: 30%;
	height: auto;
	position: relative;
	z-index: 1;
}
.slot__center--games{
	margin: 1% auto;
}
.slot__center--main{
	margin: 4% auto;
}
.slot__logos{
	margin: 0px auto;
	text-align: center;
	top: 50px;
}
.slot__img{
	border-radius:50%;
	background-color:rgba(255,255,255,1);
	width:3.5rem;
	height:3.5rem;
	top:500px;
	border-radius:50%;
	margin:0 auto;
	display:inline-block;
	box-shadow:0 2.5px 5px rgba(0,0,0,.25);
	margin-right: 1%;
}
.slot__logos--bg{
	position:relative;
	border-radius: 5px; 
	background-color: rgba(177,177,177,1);
	padding: 4%;
	height: 5%;
	z-index: -1;
	bottom: 50px;
}
.games__bg{
	background-color: rgba(201,201,201,1);
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background-position: center center;
    object-fit: cover;
    background-size: contain;
    z-index: -4;

}
@keyframes open-pop-up{
	0% {
	    display: none;
	    opacity: 0;
	}
	 1% {
	    display: block;
	    opacity: 0;
	    transform: scale(0);
	}
	 100% {
	    opacity: 1;
	    transform: scale(1);
	}
}
