@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  width: 100%;
  height: 100%; }

img {
  outline: none;
  border: 0; }

button {
  cursor: pointer; }

.text--strong, h1, h2, h3, h4, h5, h6, thead {
  font-weight: 700; }

.text--light {
  font-weight: 300; }

.text--big {
  font-size: 1.75rem; }

.text--red {
  color: #c4870f; }

.text--lightGrey {
  color: #6e6e6e; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-style: italic; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

small {
  font-size: 0.7rem; }

p, td {
  line-height: 1.4; }

body {
  font-family: "Microsoft Yahei", Arial, "σ╛«Φ╜»Θ¢àΘ╗æ", STXihei, "σìÄµûçτ╗åΘ╗æ", sans-serif;
  background-color: #d4d4d4; }

.heading {
  text-align: left; }
  .heading h1:before, .heading h1::before {
    content: " E ";
    color: transparent;
    font-weight: bolder;
    margin-right: 5px;
    position: relative;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast; }

.heading--slot h1:before, .heading--slot h1::before {
  background: url(../images/spritesheethd.png) -240px -50px;
  background-size: 300px;
  font-size: 55px; }

.heading--coins h1:before, .heading--coins h1::before {
  background: url(../images/spritesheethd.png) -62px -50.5px;
  background-size: 300px;
  font-size: 60px; }

.heading--flag h1:before, .heading--flag h1::before {
  background: url(../images/spritesheethd.png) -183px -175px;
  background-size: 300px;
  font-size: 50px; }

.heading--fish h1:before, .heading--fish h1::before {
  background: url(../images/spritesheethd.png) -175px 10px;
  background-size: 290px;
  font-size: 55px; }

.heading--mobile h1:before, .heading--mobile h1::before {
  background: url(../images/spritesheethd.png) -55px -152px;
  background-size: 250px;
  font-size: 40px; }

.heading--gift h1:before, .heading--gift h1::before {
  background: url(../images/spritesheethd.png) -180px -54px;
  background-size: 300px;
  font-size: 55px; }

body {
  overflow-x: hidden !important; }

.btn a:link, .btn a:active, .btn a:visited {
  color: #c4870f; }

a:hover, a:focus, a:visited, a:active, a:link {
  text-decoration: none;
  outline: none;
  color: #c4870f; }

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges; }

table {
  border: 1px solid black;
  padding: 1%;
  text-align: center;
  margin: 10px auto;
  width: 100%; }

td {
  width: 200px;
  padding: 5px 0; }
  td:first-child {
    text-align: left;
    padding-left: 3%; }

.img img {
  max-width: 100%;
  height: auto; }
.img figure img {
  border: 0.5rem solid #d7d7d7;
  background-color: #acacac; }
.img a p {
  text-align: center;
  font-size: 14px;
  position: relative;
  padding: 3%;
  color: #323232; }

.img--grayscale {
  filter: alpha(opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }

.btn {
  text-align: center; }

.button p {
  margin-top: 1rem;
  margin-left: 1.5rem;
  color: #c4870f;
  text-transform: uppercase;
  font-size: 16px; }

.btn--go, .btn--back {
  display: inline-block;
  border: 2.25px solid #c4870f;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: 1.5rem;
  background: #d4d4d4; }

.btn--go:after, .btn--go::after, .btn--back-small::after, .btn--back-small:after, .btn--back-small::after, .btn--back-small:after {
  content: '';
  display: inline-block;
  border-top: 2.25px solid #c4870f;
  border-right: 2.25px solid #c4870f;
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn--back-small::after, .btn--back-small:after {
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg); }

.btn--go-small, .btn--back-small {
  height: 3.75rem;
  width: 3.75rem; }

.btn--go-large {
  width: 4.5rem;
  height: 4.5rem; }

.btn--go-small::after, .btn--go-small:after, .btn--back-small::after, .btn--back-small:after {
  width: 1rem;
  height: 1rem;
  margin-top: 1.3rem;
  margin-left: -.5rem; }

.btn--back-small::after, .btn--back-small:after {
  margin-left: 0.3rem; }

.btn--go-small:hover, .btn--go-large:hover, .btn--back-small:hover {
  background: #c4870f;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.btn--go-small:hover::after, .btn--go-small:hover:after, .btn--go-large:hover::after, .btn--go-large:hover:after, .btn--back-small:hover::after, .btn--back-small:hover:after {
  border-top: 2.25px solid #d4d4d4;
  border-right: 2.25px solid #d4d4d4; }

.btn--go-large:after, .btn--go-large::after {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 1.45rem;
  margin-left: -.6rem; }

.btn--play {
  height: auto;
  max-width: 100%;
  background-color: #595959;
  color: white !important;
  padding: 30% 125%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-size: 13px;
  z-index: 10 !important;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer; }

.btn--play:hover {
  background-color: #c4870f; }

.section__bg {
  background-color: #c9c9c9;
  position: absolute;
  bottom: 0;
  top: 50%;
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background-position: center center;
  object-fit: cover;
  background-size: contain;
  z-index: -4; }

.btn--mobile {
  position: relative;
  margin: 0 auto; }

.container-resized {
  width: 70%;
  margin-top: 5%; }

input, button {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*NAVBAR*/
.container-header {
  width: 70%; }

.header {
  width: inherit;
  border-bottom: 2.5px solid #c4870f;
  background: #525252;
  background: -o-linear-gradient(135deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -o-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: -ms-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -ms-radial-gradient(50% 150%, circle, #525252 20%, #212121 75%);
  background: -moz-linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -moz-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: -webkit-linear-gradient(135deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -webkit-radial-gradient(50% 150%, circle cover, #525252 20%, #212121 75%);
  background: linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), radial-gradient(circle farthest-side at 50% 150%, #525252 20%, #212121 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#525252',GradientType=0 ); }

.header__wrap {
  -webkit-box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 28px 0px rgba(0, 0, 0, 0.25), 0 1px 10px 0px rgba(0, 0, 0, 0.22); }

.fixed {
  position: fixed;
  z-index: 8888;
  width: 100%; }

.header__announce {
  width: 100%;
  background: #fec24e; }

.announce {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 70%;
  margin: 0 auto;
  font-size: 14px;
  height: 35px;
  padding: 0; }

.announce__text {
  display: inline-block;
  position: absolute; }

.announce__text:first-child {
  font-size: 14px;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
  font-weight: bolder;
  background: #fec24e;
  padding: 10px; }

.announce__text:nth-child(2) {
  font-size: 12px;
  z-index: 0;
  text-indent: 0;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 8px;
  -moz-transform: translate(100%, 0%);
  -o-transform: translate(100%, 0%);
  -ms-transform: translate(100%, 0%);
  -webkit-transform: translate(100%, 0%);
  transform: translate(100%, 0%);
  -webkit-animation-name: marquee;
  -webkit-animation-duration: 25s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: marquee;
  -moz-animation-duration: 25s;
  -moz-animation-delay: 0s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: marquee;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite; }

.logo {
  width: 120px;
  margin: 1%;
  float: left; }

.user {
  float: right;
  margin: 1%;
  text-align: right; }
  .user .form .form-group .form-control {
    padding: 2px 6px;
    height: 25px;
    margin: 0 2px; }

.form .form-group {
  float: left; }
  .form .form-group .form-control {
    max-width: 140px;
    display: inline;
    float: left;
    color: black;
    background: #d4d4d4;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px; }

.rowtop, .rowbottom {
  float: none;
  text-align: right; }

.rowtop span {
  color: white;
  font-size: 12px; }

.rowbottom {
  margin-top: 10px; }
  .rowbottom .form {
    margin: 10% auto; }

.code {
  height: 25px;
  margin-left: -3px;
  border: 1px solid #C8C8C9; }

.sec_code .form-control {
  width: 70px; }
  .sec_code .form-control::-webkit-inner-spin-button, .sec_code .form-control::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.ibutton, .login, .register, .chat {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  min-width: 80px;
  padding: .35rem 1rem;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.login {
  background: #707070;
  margin-left: 5px; }
  .login:hover {
    background: #505050; }

.register {
  background: #c4870f;
  -moz-border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -o-border-radius: 10rem;
  border-radius: 10rem; }
  .register:hover {
    background: #96680c; }

.chat {
  background: #fec24e;
  color: #333; }

.hide, .head_bottom .text--large,
.menu__icon.menu__icon-burger span,
.mobile__header_content-user,
button, #fp-nav {
  display: none; }

.default {
  display: block; }

.head_top, .head_bottom {
  display: block; }

.main__nav {
  text-transform: uppercase; }
  .main__nav li {
    float: left;
    max-width: 100%;
    color: white;
    margin: 0% 1.5%; }
    .main__nav li a {
      line-height: 1.9em;
      color: inherit;
      font-size: 12px;
      margin: 0 0.5px 10px;
      text-transform: uppercase;
      display: block;
      position: relative;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main__nav li a:after, .main__nav li a::after {
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: #c4870f;
        height: 2px;
        -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.main__nav li a.nav--active:after, .main__nav li a.nav--active::after {
  width: 100%; }
.main__nav li a.nav--active .menu_item.nav--active {
  color: #c4870f; }

.menu_item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: normal; }
  .menu_item:before, .menu_item::before {
    content: " M ";
    color: transparent;
    font-weight: bolder;
    margin-right: 5px;
    position: relative;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast; }

.nav__dropdown_menu a:hover > .caret {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #c4870f; }

.caret {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.nav__dropdown {
  background: white;
  position: absolute;
  display: none;
  z-index: 100;
  width: 100%;
  left: 0;
  border-bottom: 2.5px solid #c4870f; }
  .nav__dropdown ul {
    padding: 0px;
    margin: 0 auto;
    width: 70%; }
    .nav__dropdown ul li {
      max-width: 280px;
      width: 100%;
      display: inline-block;
      background: 105%  -20% no-repeat;
      background-size: 70%;
      margin: auto 1%; }
      .nav__dropdown ul li a {
        position: relative; }
        .nav__dropdown ul li a img {
          width: auto;
          height: 150px;
          display: inline-block;
          position: relative;
          bottom: -50px;
          z-index: 1; }

.nav__dropdown--live, .nav__dropdown--slots, .member__wallet {
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  -moz-transform: translate(0, -0.05em);
  -o-transform: translate(0, -0.05em);
  -ms-transform: translate(0, -0.05em);
  -webkit-transform: translate(0, -0.05em);
  transform: translate(0, -0.05em);
  -webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  -o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
  .nav__dropdown--live ul li:first-child, .nav__dropdown--slots ul li:first-child, .member__wallet ul li:first-child {
    background-image: url(../images/slots/platforms/bw/pt-bw.png); }
  .nav__dropdown--live ul li:nth-child(2), .nav__dropdown--slots ul li:nth-child(2), .member__wallet ul li:nth-child(2) {
    background-image: url(../images/slots/platforms/bw/mg-bw.png); }
  .nav__dropdown--live ul li:nth-child(3), .nav__dropdown--slots ul li:nth-child(3), .member__wallet ul li:nth-child(3) {
    background-image: url(../images/slots/platforms/bw/sa-bw.png); }
  .nav__dropdown--live ul li:last-child, .nav__dropdown--slots ul li:last-child, .member__wallet ul li:last-child {
    background-image: url(../images/slots/platforms/bw/ag-bw.png); }

.nav__dropdown--slots ul li:first-child {
  background-image: url(../images/slots/platforms/bw/pt-bw.png); }
.nav__dropdown--slots ul li:nth-child(2) {
  background-image: url(../images/slots/platforms/bw/ttg-bw.png); }
.nav__dropdown--slots ul li:nth-child(3) {
  background-image: url(../images/slots/platforms/bw/mg-bw.png); }
.nav__dropdown--slots ul li:nth-child(4) {
  background-image: url(../images/slots/platforms/bw/png-bw.png); }
.nav__dropdown--slots ul li:nth-child(5) {
  background-image: url(../images/slots/platforms/bw/isb-bw.png); }
.nav__dropdown--slots ul li:nth-child(6) {
  background-image: url(../images/slots/platforms/bw/bs-bw.png); }
.nav__dropdown--slots ul li:nth-child(7) {
  background-image: url(../images/slots/platforms/bw/fg-bw.png); }
.nav__dropdown--slots ul li:last-child {
  background-image: url(../images/slots/platforms/bw/hb-bw.png); }

.nav__dropdown_menu:hover .nav__dropdown--slots,
.nav__dropdown_menu:hover .nav__dropdown--live,
.nav__dropdown_menu:hover .nav__dropdown--slots,
.nav__dropdown_menu:hover .member__wallet,
.member__dropdown:hover .member__wallet {
  visibility: visible;
  opacity: 1;
  z-index: 5;
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition-delay: 0s, 0s, 0.3s;
  -moz-transition-delay: 0s, 0s, 0.3s;
  -ms-transition-delay: 0s, 0s, 0.3s;
  -o-transition-delay: 0s, 0s, 0.3s;
  transition-delay: 0s, 0s, 0.3s; }

.nav__dropdown_image {
  width: 150px;
  height: 150px;
  display: inline-block;
  position: relative;
  z-index: 1;
  background-size: cover !important;
  top: .9rem; }

.nav__dropdown_image--pt {
  background: url(../images/girlpt.png) top left no-repeat; }

.nav__dropdown_image--mg {
  background: url(../images/girlmg.png) top left no-repeat; }

.nav__dropdown_image--sa {
  background: url(../images/girlsa.png) top left no-repeat; }

.nav__dropdown_image--ag {
  background: url(../images/girlag.png) top left no-repeat; }

.nav__dropdown_image--slots-pt {
  background: url(../images/platforms/pt.png) top left no-repeat; }

.nav__dropdown_image--slots-ttg {
  background: url(../images/platforms/ttg.png) top left no-repeat; }

.nav__dropdown_image--slots-mg {
  background: url(../images/platforms/mg.png) top left no-repeat; }

.nav__dropdown_image--slots-png {
  background: url(../images/platforms/png.png) top left no-repeat; }

.nav__dropdown_image--slots-isb {
  background: url(../images/platforms/isb.png) top left no-repeat; }

.nav__dropdown_image--slots-bs {
  background: url(../images/platforms/bs.png) top left no-repeat; }

.nav__dropdown_image--slots-fg {
  background: url(../images/platforms/fg.png) top left no-repeat; }

.nav__dropdown_image--slots-hb {
  background: url(../images/platforms/hb.png) top left no-repeat; }

.nav__dropdown_label {
  background: #fec24e;
  color: #725114;
  padding: .3rem 1rem .3rem 1rem;
  position: absolute;
  -moz-border-radius: 1rem 0rem 0rem 0rem;
  -webkit-border-radius: 1rem 0rem 0rem 0rem;
  -o-border-radius: 1rem 0rem 0rem 0rem;
  border-radius: 1rem 0rem 0rem 0rem;
  font-size: 1rem;
  display: inline-block;
  bottom: -.55rem;
  right: 1rem;
  height: 2rem;
  z-index: 5; }
  .nav__dropdown_label:before, .nav__dropdown_label::before, .nav__dropdown_label:after, .nav__dropdown_label::after {
    content: '';
    height: 0;
    position: absolute;
    width: 0;
    border: 1rem solid transparent;
    bottom: 0; }
  .nav__dropdown_label:before, .nav__dropdown_label::before {
    border-width: 0 0 1.5rem 1.5rem;
    border-color: #c4870f transparent transparent transparent;
    border-bottom-color: #fec24e;
    left: -1.35rem; }
  .nav__dropdown_label:after, .nav__dropdown_label::after {
    border-left-color: #fec24e;
    border-top-color: #c4870f;
    border-right-color: #c4870f;
    border-bottom-color: #c4870f;
    position: absolute; }

.menu_item-home:before, .menu_item-home::before, .menu_item-slots:before, .menu_item-slots::before, .menu_item-tournament:before, .menu_item-tournament::before, .menu_item-fishing:before, .menu_item-fishing::before, .menu_item-livecasino:before, .menu_item-livecasino::before, .menu_item-lottery:before, .menu_item-lottery::before, .menu_item-promotion:before, .menu_item-promotion::before, .menu_item-vip:before, .menu_item-vip::before, .menu_item-affiliate:before, .menu_item-affiliate::before, .menu_item-imobile:before, .menu_item-imobile::before {
  font-size: 20px; }

.menu_item-home:before, .menu_item-home::before {
  background: url(../images/menuicon_sprites.png)-35px -32px; }

.menu_item-home.nav--active:before, .menu_item-home.nav--active::before {
  background: url(../images/menuicon_sprites.png)-3px -32px; }

.menu_item-slots:before, .menu_item-slots::before {
  background: url(../images/menuicon_sprites.png) -98px -224px; }

.menu_item-slots.nav--active:before, .menu_item-slots.nav--active::before {
  background: url(../images/menuicon_sprites.png) -66px -224px; }

.menu_item-tournament:before, .menu_item-tournament::before {
  background: url(../images/menuicon_sprites.png) -131px -31px; }

.menu_item-tournament.nav--active:before, .menu_item-tournament.nav--active::before {
  background: url(../images/menuicon_sprites.png) -131px 1px; }

.menu_item-fishing:before, .menu_item-fishing::before {
  background: url(../images/menuicon_sprites.png) -99px 0px; }

.menu_item-fishing.nav--active:before, .menu_item-fishing.nav--active::before {
  background: url(../images/menuicon_sprites.png) -67px 0px; }

.menu_item-livecasino:before, .menu_item-livecasino::before {
  background: url(../images/menuicon_sprites.png) -99px -31px; }

.menu_item-livecasino.nav--active:before, .menu_item-livecasino.nav--active::before {
  background: url(../images/menuicon_sprites.png) -67px -31px; }

.menu_item-lottery:before, .menu_item-lottery::before {
  background: url(../images/menuicon_sprites.png) -35px -65px; }

.menu_item-lottery.nav--active:before, .menu_item-lottery.nav--active::before {
  background: url(../images/menuicon_sprites.png) -3px -65px; }

.menu_item-promotion:before, .menu_item-promotion::before {
  background: url(../images/menuicon_sprites.png) -35px -96px; }

.menu_item-promotion.nav--active:before, .menu_item-promotion.nav--active::before {
  background: url(../images/menuicon_sprites.png) -3px -96px; }

.menu_item-vip:before, .menu_item-vip::before {
  background: url(../images/menuicon_sprites.png) -131px 32px; }

.menu_item-vip.nav--active:before, .menu_item-vip.nav--active::before {
  background: url(../images/menuicon_sprites.png) -131px 64px; }

.menu_item-imobile:before, .menu_item-imobile::before {
  background: url(../images/menuicon_sprites.png) -99px -65px; }

.menu_item-imobile.nav--active:before, .menu_item-imobile.nav--active::before {
  background: url(../images/menuicon_sprites.png) -67px -65px; }

.menu_item-affiliate:before, .menu_item-affiliate::before {
  background: url(../images/menuicon_sprites.png) -35px 1px; }

.menu_item-affiliate.nav--active:before, .menu_item-affiliate.nav--active::before {
  background: url(../images/menuicon_sprites.png) -3px 1px; }

.menu_item-pt:before, .menu_item-pt::before, .menu_item-ttg:before, .menu_item-ttg::before, .menu_item-mg:before, .menu_item-mg::before, .menu_item-png:before, .menu_item-png::before,
.menu_item-bs:before,
.menu_item-bs::before, .menu_item-isb:before, .menu_item-isb::before, .menu_item-fg:before, .menu_item-fg::before, .menu_item-hb:before, .menu_item-hb::before {
  font-size: 20px; }

.menu_item-pt:before, .menu_item-pt::before {
  background: url(../images/menuplatform_sprites.png) -12px 0px; }

.menu_item-ttg:before, .menu_item-ttg::before {
  background: url(../images/menuplatform_sprites.png) -9px -35px; }

.menu_item-mg:before, .menu_item-mg::before {
  background: url(../images/menuplatform_sprites.png) -12px -65px; }

.menu_item-png:before, .menu_item-png::before {
  background: url(../images/menuplatform_sprites.png) -12px -98px; }

.menu_item-bs:before, .menu_item-bs::before {
  background: url(../images/menuplatform_sprites.png) 35px 0px; }

.menu_item-isb:before, .menu_item-isb::before {
  background: url(../images/menuplatform_sprites.png) 35px -32px; }

.menu_item-fg:before, .menu_item-fg::before {
  background: url(../images/menuplatform_sprites.png) 38px -65px; }

.menu_item-hb:before, .menu_item-hb::before {
  background: url(../images/menuplatform_sprites.png) 38px -98px; }

.main__nav_dropdown {
  display: none; }

.member {
  display: block;
  text-align: right;
  color: white;
  font-size: 14px; }

.member__title:after, .member__title::after {
  content: ":"; }

.member__info {
  margin: 3% auto; }
  .member__info span {
    display: inline-block;
    margin: 1% 1% 2% 2%; }

.member__name {
  color: #c4870f;
  font-weight: bold; }

.member__logout {
  color: white;
  -webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .member__logout:hover {
    color: #c4870f;
    cursor: pointer;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease; }

.member__nav li {
  display: inline-block;
  background: #c4870f;
  padding: 1% 2%;
  min-width: 100px;
  text-align: center;
  -webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -ms-transition: border 0.5s ease;
  -o-transition: border 0.5s ease;
  transition: border 0.5s ease;
  cursor: pointer; }
  .member__nav li:hover {
    border-bottom: 1px solid #c4870f;
    background: none;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease; }
  .member__nav li a {
    color: white; }

.member__wallet {
  text-align: left;
  background: black !important;
  border: none !important;
  z-index: 999;
  width: 300px;
  margin: 10px auto;
  position: absolute;
  right: 200px;
  padding: 1rem;
  -moz-transform: translate(0, 0.2rem);
  -o-transform: translate(0, 0.2rem);
  -ms-transform: translate(0, 0.2rem);
  -webkit-transform: translate(0, 0.2rem);
  transform: translate(0, 0.2rem); }

.member__wallet_table {
  border: none; }
  .member__wallet_table tr {
    padding: 5px;
    -webkit-transition: border 1s ease;
    -moz-transition: border 1s ease;
    -ms-transition: border 1s ease;
    -o-transition: border 1s ease;
    transition: border 1s ease; }
    .member__wallet_table tr:hover {
      border-bottom: 1px solid #c4870f;
      cursor: pointer !important;
      color: #c4870f;
      -webkit-transition: color 0.5s ease;
      -moz-transition: color 0.5s ease;
      -ms-transition: color 0.5s ease;
      -o-transition: color 0.5s ease;
      transition: color 0.5s ease; }

.wallet__balance--left {
  text-align: left !important; }

.wallet__balance--right {
  text-align: right !important;
  width: 20%; }

.wallet--active {
  border-bottom: 1px solid #c4870f;
  background: none !important;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease; }

.nav__modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
  z-index: 9999; }

.nav__form {
  background: #e5e5e5;
  max-width: 320px;
  height: auto;
  width: 100%;
  margin: 0 auto;
  margin-top: 6%; }
  .nav__form .nav {
    padding: 10% 8% 0% 8%; }
    .nav__form .nav .nav-tabs li a {
      background: transparent;
      border: none;
      margin-right: 15px;
      text-transform: uppercase;
      color: black;
      margin: 15px; }
    .nav__form .nav .nav-tabs .active a {
      font-weight: bolder;
      color: #c4870f;
      border-bottom: 1px solid #c4870f; }

.nav__form--login, .nav__form--register {
  padding: 5% 10%; }
  .nav__form--login form, .nav__form--register form {
    margin: 10% auto; }

.nav__form--register form p {
  font-size: .9rem;
  text-align: center; }

.form__label {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8rem;
  width: 65px;
  text-align: right;
  padding-right: 10px;
  text-transform: uppercase; }

.form-text {
  display: inline-block;
  width: 185px;
  max-width: 100%;
  height: 35px;
  padding: 6px 12px;
  font-size: 0.8rem;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 2px solid #d2d2d2 !important;
  margin-bottom: 2.5px;
  @inlude transition(border .25s ease-in-out); }
  .form-text:focus {
    border: 2px solid #c4870f !important; }

.form__text--captcha {
  display: inline-block;
  width: 85px; }

.form-text--captcha {
  height: 35px; }
  .form-text--captcha img {
    height: inherit;
    border: 2px solid #d2d2d2 !important;
    background: #d2d2d2;
    vertical-align: middle;
    margin-left: -8px;
    margin-top: -2px; }

.btn--login {
  font-size: 1.15rem !important;
  font-weight: bolder;
  border: 2px solid #c4870f !important; }
  .btn--login:hover {
    border: inherit;
    background: transparent !important;
    color: #c4870f !important; }

.form__small small {
  float: right; }

.form-group {
  margin-bottom: 20px; }

.nav-tabs {
  position: absolute;
  border-bottom: 1px solid black; }

.nav__btn--close, .nav__btn--close:hover {
  background: #c4870f;
  padding: 2%;
  color: white;
  font-size: 25px;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  margin: -1rem -1rem;
  text-shadow: none;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  opacity: 1;
  -webkit-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.25); }

.animateZoom {
  -webkit-animation-name: open-pop-up;
  -webkit-animation-duration: 0.24s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: open-pop-up;
  -moz-animation-duration: 0.24s;
  -moz-animation-delay: 0s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  animation-name: open-pop-up;
  animation-duration: 0.24s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1; }

.nav__modal.active {
  display: block; }

/*FOOTER*/
footer {
  height: 100%;
  background-color: #969696; }

.footer__top {
  background-color: white;
  text-align: center;
  color: #8d8d8d;
  padding: 2% 8%;
  font-size: .8rem; }
  .footer__top .img {
    max-width: 78%;
    margin: 0 auto; }

.footer__links {
  margin: 0% auto 2% auto; }
  .footer__links ul li {
    display: inline-block;
    margin: 1%; }
    .footer__links ul li a {
      color: #4a4a4a;
      -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .footer__links ul li a:hover {
        color: #c4870f !important; }
      .footer__links ul li a:active, .footer__links ul li a:visited, .footer__links ul li a:link {
        color: #4a4a4a; }

.footer__text {
  margin-left: 26%;
  margin-right: 14%;
  text-align: left; }
  .footer__text p {
    line-height: 1.25; }

.footer__btm {
  background-color: #969696;
  padding: 1%;
  text-align: center;
  color: #4f4f4f; }
  .footer__btm p {
    font-size: 14px; }

/*SIDE PANEL*/
.sidepanel {
  margin-top: 18%;
  position: fixed;
  z-index: 100; }
  .sidepanel .sidepanel__title, .sidepanel .sidepanel__image {
    background-color: #c4870f;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 70px;
    cursor: pointer;
    position: absolute;
    padding: 3rem 1rem 3rem 1.25rem;
    display: inline-block;
    top: 0; }
    .sidepanel .sidepanel__title span, .sidepanel .sidepanel__image span {
      font-weight: bold;
      font-size: 1.7rem;
      color: white;
      line-height: 1.1;
      padding-top: 2%;
      padding-bottom: 2%; }
  .sidepanel .sidepanel__title--left {
    right: -4.40em; }
  .sidepanel .sidepanel__image {
    left: -4.40em;
    z-index: 1;
    padding: 0;
    height: 70px;
    width: 150px;
    background-size: contain; }
  .sidepanel .sidepanel__image--mobile {
    background: url(../images/panels/phone.png) #c4870f center center no-repeat; }
  .sidepanel .sidepanel__image--mail {
    background: url(../images/panels/email.png) #c4870f center center no-repeat; }
  .sidepanel .sidepanel__image--qq {
    background: url(../images/panels/qq.png) #c4870f center center no-repeat; }
  .sidepanel .sidepanel__image--wc {
    background: url(../images/panels/wechat.png) #c4870f center center no-repeat; }
  .sidepanel .sidepanel__content {
    display: inline-block;
    background: #969696;
    padding: .5rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.panels .panels-left {
  left: 0; }
.panels .panels-right {
  right: 0; }
  .panels .panels-right:nth-child(2) {
    margin-top: 22.5%; }
  .panels .panels-right:nth-child(3) {
    margin-top: 27%; }
  .panels .panels-right:last-child {
    margin-top: 31.65%; }

.sidepanel__content--text {
  padding: inherit;
  background: #6e6e6e;
  text-align: left;
  height: auto;
  width: 100%;
  min-width: 300px;
  height: 70px;
  padding: 0% 5% 0% 10%;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  color: white; }
  .sidepanel__content--text h5 {
    font-style: normal;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle; }
  .sidepanel__content--text small {
    text-transform: lowercase;
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px; }
    .sidepanel__content--text small p {
      display: block; }

.sidepanel__download {
  text-align: center;
  cursor: pointer;
  margin: 2rem auto; }
  .sidepanel__download .img img {
    width: 125px;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .sidepanel__download .img img:hover {
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
  .sidepanel__download span {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.15rem;
    color: white; }

.sidepanel__left {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: -200px; }

.sidepanel:hover > .sidepanel__left {
  margin-left: 0px; }

.sidepanel__right {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: -300px; }
  .sidepanel__right .img {
    position: absolute;
    top: -26.5%;
    width: 200px;
    height: auto;
    margin-left: 1.5rem; }
  .sidepanel__right .sidepanel__content {
    padding: 0%; }

.sidepanel:hover > .sidepanel__right {
  margin-right: 0px; }

/*MOBILE APP PAGE*/
.app {
  margin: 0 auto;
  text-align: center; }

.app__section h3 {
  text-align: right; }
.app__section div p {
  font-weight: 300;
  text-align: right;
  margin: 0 auto; }

.img__app {
  display: inline-block; }
  .img__app img {
    min-width: 300px;
    width: 100%;
    max-width: 750px; }

.section__bg_app--section {
  top: 60%; }

.app__section_images {
  margin: 0 auto; }

.app__section_platforms {
  background: #dadada;
  max-width: 430px;
  width: 100%;
  padding: 1rem;
  margin: 5% auto; }
  .app__section_platforms .app__section_platforms--qr {
    margin: 1rem auto;
    display: inline-block; }
    .app__section_platforms .app__section_platforms--qr img {
      margin: 0 auto;
      vertical-align: middle; }
      .app__section_platforms .app__section_platforms--qr img:last-child {
        width: 100px; }

.app__section_platforms--label {
  display: inline-block;
  vertical-align: middle; }
  .app__section_platforms--label p {
    display: block;
    text-align: center !important; }

.app__section--gold img {
  display: inline-block;
  width: 6%;
  vertical-align: middle; }
.app__section--gold h6 {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  vertical-align: middle; }

.app__section_content {
  position: absolute;
  vertical-align: middle;
  font-weight: 300;
  margin: 5% auto;
  max-width: 300px;
  width: 100%; }

.app__section_content--left h4 {
  text-align: left; }
.app__section_content--left p {
  text-align: left !important; }

.app__section_content--right {
  margin-left: 50%; }
  .app__section_content--right h4 {
    text-align: right; }
  .app__section_content--right p {
    text-align: right; }

.app__section_gaming {
  font-size: 1.25rem;
  margin: 0 auto; }
  .app__section_gaming p {
    text-align: center !important;
    width: 590px; }

.slot__platforms_triangle {
  position: relative;
  width: 100%;
  margin: 10% auto;
  margin-bottom: -2%;
  max-width: 1000px; }
  .slot__platforms_triangle a:first-child:hover > .slot__platforms_block--rotate {
    background: red; }
  .slot__platforms_triangle a:nth-child(2):hover > .slot__platforms_block--rotate {
    background: orange; }
  .slot__platforms_triangle a:nth-child(3):hover > .slot__platforms_block--rotate {
    background: yellow; }
  .slot__platforms_triangle a:nth-child(4):hover > .slot__platforms_block--rotate {
    background: green; }
  .slot__platforms_triangle a:nth-child(5) {
    margin-left: 17%; }
    .slot__platforms_triangle a:nth-child(5):hover > .slot__platforms_block--rotate {
      background: blue; }
  .slot__platforms_triangle a:nth-child(6):hover > .slot__platforms_block--rotate {
    background: indigo; }
  .slot__platforms_triangle a:nth-child(7):hover > .slot__platforms_block--rotate {
    background: purple; }
  .slot__platforms_triangle a:last-child:hover > .slot__platforms_block--rotate {
    background: violet; }
  .slot__platforms_triangle:before, .slot__platforms_triangle::before, .slot__platforms_triangle:after, .slot__platforms_triangle::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 35%;
    padding-bottom: 35%;
    background: #c8c8c8;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .slot__platforms_triangle:before, .slot__platforms_triangle::before {
    left: 18%;
    bottom: 0; }
  .slot__platforms_triangle:after, .slot__platforms_triangle::after {
    right: 14%;
    top: 0; }

.slot__platforms_block--rotate {
  height: 9rem;
  width: 9rem;
  background-color: #e1e1e1;
  display: inline-block;
  margin-right: 7%;
  position: relative;
  background-size: contain !important;
  background-size: 100% 100%;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }
  .slot__platforms_block--rotate:before, .slot__platforms_block--rotate::before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border-style: solid;
    line-height: 0px;
    margin-right: 50px;
    left: 0; }
  .slot__platforms_block--rotate:before, .slot__platforms_block--rotate::before {
    border-bottom-color: #c4870f;
    z-index: 1;
    border-width: 6rem 6rem 0 0;
    border-color: #c4870f transparent transparent transparent; }
  .slot__platforms_block--rotate img {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    z-index: 3;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin-top: 10px;
    margin-left: -60px; }
  .slot__platforms_block--rotate:after, .slot__platforms_block--rotate::after {
    content: "";
    display: block;
    height: 9rem;
    width: 9rem;
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg); }

.slot__platforms_block--rotate-pt:after, .slot__platforms_block--rotate-pt::after {
  background: url(../images/platforms/pt.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms_block--rotate-mg:after, .slot__platforms_block--rotate-mg::after {
  background: url(../images/platforms/mg.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms_block--rotate-ttg:after, .slot__platforms_block--rotate-ttg::after {
  background: url(../images/platforms/ttg.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms_block--rotate-png:after, .slot__platforms_block--rotate-png::after {
  background: url(../images/platforms/png.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms_block--rotate-bs:after, .slot__platforms_block--rotate-bs::after {
  background: url(../images/platforms/bs.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms_block--rotate-isb:after, .slot__platforms_block--rotate-isb::after {
  background: url(../images/platforms/isb.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms_block--rotate-fg:after, .slot__platforms_block--rotate-fg::after {
  background: url(../images/platforms/fg.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms_block--rotate-hb:after, .slot__platforms_block--rotate-hb::after {
  background: url(../images/platforms/hb.png) no-repeat;
  background-size: contain;
  background-size: 85%;
  margin: 15% auto; }

.slot__platforms--pt:before, .slot__platforms--pt::before, .slot__platforms--mg:before, .slot__platforms--mg::before, .slot__platforms--ttg:before, .slot__platforms--ttg::before, .slot__platforms--png:before, .slot__platforms--png::before,
.slot__platforms--bs:before,
.slot__platforms--bs::before, .slot__platforms--isb:before, .slot__platforms--isb::before, .slot__platforms--fg:before, .slot__platforms--fg::before, .slot__platforms--hb:before, .slot__platforms--hb::before {
  left: 0rem; }
.slot__platforms--pt:after, .slot__platforms--pt::after, .slot__platforms--mg:after, .slot__platforms--mg::after, .slot__platforms--ttg:after, .slot__platforms--ttg::after, .slot__platforms--png:after, .slot__platforms--png::after,
.slot__platforms--bs:after,
.slot__platforms--bs::after, .slot__platforms--isb:after, .slot__platforms--isb::after, .slot__platforms--fg:after, .slot__platforms--fg::after, .slot__platforms--hb:after, .slot__platforms--hb::after {
  left: 1rem; }
.slot__platforms--pt .slot__platforms--logo, .slot__platforms--mg .slot__platforms--logo, .slot__platforms--ttg .slot__platforms--logo, .slot__platforms--png .slot__platforms--logo,
.slot__platforms--bs .slot__platforms--logo, .slot__platforms--isb .slot__platforms--logo, .slot__platforms--fg .slot__platforms--logo, .slot__platforms--hb .slot__platforms--logo {
  right: 0rem; }

/*SLOT GAMES PAGE*/
.section--games {
  padding-top: 140px; }

.slot__img {
  cursor: pointer; }
  .slot__img span img {
    width: 56px;
    position: absolute;
    left: -28px;
    top: 0;
    transition: filter .5s ease;
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    opacity: 0.5;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); }
    .slot__img span img:hover {
      opacity: 1 !important;
      filter: grayscale(0%) !important;
      -webkit-filter: grayscale(0%) !important; }
  .slot__img span {
    position: relative; }

.slot__active {
  opacity: 1 !important;
  filter: grayscale(0%) !important;
  -webkit-filter: grayscale(0%) !important; }

.slot__games--header-pt::before, .slot__games--header-pt:before {
  content: "PlayTech"; }

.slot__games--header-mg::before, .slot__games--header-mg:before {
  content: "Microgaming"; }

.slot__games--header-ttg::before, .slot__games--header-ttg:before {
  content: "Top Trend Gaming"; }

.slot__games--header-png::before, .slot__games--header-png:before {
  content: "Play 'n Go"; }

.slot__games--header-bs::before, .slot__games--header-bs:before {
  content: "BetSoft Gaming"; }

.slot__games--header-isb::before, .slot__games--header-isb:before {
  content: "iSoftBet"; }

.slot__games--header-fg::before, .slot__games--header-fg:before {
  content: "Flow Gaming"; }

.slot__games--header-hb::before, .slot__games--header-hb:before {
  content: "Habanero Gaming"; }

.slot__header--major {
  height: 450px; }

.slot__games {
  width: 68%;
  margin: 2% auto;
  background-color: #c4c4c4;
  padding: 2% 2.5% 1% 3.5%;
  bottom: 110px;
  position: relative; }

.slot__games--header {
  margin: 3% 2% 3% 2%; }
  .slot__games--header span {
    text-transform: uppercase;
    font-weight: 300; }

.slot__games--header-title {
  font-weight: 300;
  font-style: normal; }

.slot__search {
  text-align: right; }
  .slot__search span {
    font-size: 0.9rem; }
  .slot__search input {
    border: none;
    background: white;
    width: 70%;
    height: 2.25rem;
    text-indent: 10px; }
  .slot__search .fa-search {
    position: relative;
    right: 2rem; }

.slot__games .img {
  margin: 0px 5px 0px 5px; }

.slot__games--content {
  text-align: center; }
  .slot__games--content .img {
    display: inline-block; }

.slot__games--category {
  display: block;
  margin: 3% auto;
  min-width: 100px; }
  .slot__games--category ul li {
    display: inline-block;
    margin: auto .2rem;
    padding: .3rem .8rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .slot__games--category ul li a {
      color: #6e6e6e; }
      .slot__games--category ul li a:visited, .slot__games--category ul li a:link, .slot__games--category ul li a:focus {
        color: #6e6e6e; }
      .slot__games--category ul li a:hover {
        color: #c4870f;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }

.slot__games--category-active, .slot__games--category-active:active {
  background: #c4870f;
  color: white !important;
  border-radius: 5rem; }
  .slot__games--category-active a, .slot__games--category-active:active a {
    color: white !important; }

.slot__games--content-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: rgba(110, 110, 110, 0.4); }

.slot__games--content-overlay > .slot__games_button {
  display: block;
  position: relative;
  margin: 2rem auto; }

.slots__filtr-item {
  position: relative;
  width: 100%; }

.slot__games_button > button {
  display: block; }

.slots__filtr-item:hover > .slot__games--content-overlay {
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  opacity: 1;
  border: 1px solid rgba(196, 135, 15, 0.5); }

.slots__filtr-item:hover > .slot__games--content-overlay > .slot__games_button {
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  opacity: 1;
  -webkit-animation-name: open-pop-up;
  -webkit-animation-duration: 0.24s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-name: open-pop-up;
  -moz-animation-duration: 0.24s;
  -moz-animation-delay: 0s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: 1;
  animation-name: open-pop-up;
  animation-duration: 0.24s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1; }

.slot__games_button--demo, .slot__games_button--play {
  position: relative;
  max-width: 150px;
  text-align: center;
  border: none;
  color: white;
  padding: 0.5rem 0.8rem;
  z-index: 1;
  display: block;
  margin: 1rem auto;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.slot__games_button--play {
  background: #c4870f; }

.slot__games_button--demo {
  background: #4a4a4a; }

.slot__games_button--demo:hover, .slot__games_button--play:hover,
.slot__games_button--demo:hover, .slot__games_button--play:hover {
  filter: alpha(opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
  opacity: 0.6;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }

.slot__center {
  width: 30%;
  height: auto;
  position: relative;
  z-index: 1; }

.slot__center--games {
  margin: 1% auto; }

.slot__center--main {
  margin: 4% auto; }

.slot__logos {
  margin: 0px auto;
  text-align: center;
  top: 50px; }

.slot__img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  top: 500px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  -webkit-box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25);
  margin-right: 1%; }

.slot__logos--bg {
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #b1b1b1;
  padding: 4%;
  height: 5%;
  z-index: -1;
  bottom: 50px; }

.games__bg {
  background-color: #c9c9c9;
  position: absolute;
  bottom: -25%;
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background-position: center center;
  object-fit: cover;
  background-size: contain;
  z-index: -4; }

.filtr-item {
  padding: 0rem 1rem 1rem .5rem; }
  .filtr-item p {
    text-align: center; }

/*FISH GG*/
.fish_page {
  overflow: none; }

.container-fish {
  padding: 0;
  margin-top: 5rem; }

.fish__container {
  position: relative;
  margin: 5% auto; }

.fish__row {
  text-align: center;
  position: relative;
  z-index: 3; }

.fish__row--mobile {
  margin-top: 10%; }
  .fish__row--mobile a img {
    width: 200px; }

.fish__container .img img {
  position: relative;
  margin: 0 auto;
  z-index: 3;
  max-width: 45%; }

.fishgames--gg, .fishgames--pt, .fishgames--ag {
  background: url(../images/catchfish/bg.png) no-repeat;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden; }

.fishgames__container {
  text-align: center;
  margin: 0 auto;
  position: relative; }

.fishgames--title {
  text-align: center;
  position: relative;
  margin: 0 auto; }

.shark {
  position: absolute;
  bottom: 20%;
  left: 20%; }

.nemo {
  position: absolute;
  bottom: 15%;
  right: 20%;
  width: 320px; }

.water {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: .9;
  z-index: 0;
  bottom: 0; }

.bg_top {
  width: 100%;
  display: block;
  height: 80%; }

.fish__row .button__fish {
  display: inline-block;
  margin: auto 3%; }

.button_right, .button_blue {
  width: 253px;
  height: 94px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  cursor: pointer; }

.button_right {
  background: url(../images/catchfish/button1.png) center center no-repeat; }

.button_blue {
  background: url(../images/catchfish/button2.png) center center no-repeat; }

.button_right:hover {
  height: 84px;
  margin-top: 10px; }

.button_blue:hover {
  height: 84px;
  margin-top: 10px; }

.fish__button--container {
  width: 100%;
  display: block;
  height: 20%; }

.button__fish--left, .button__fish--right {
  float: left;
  width: 50%;
  height: 80px; }

.helpoverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none; }

.helpoverlay.active {
  display: block; }

.window {
  background-size: 100% 100% !important;
  background-position: center center !important;
  display: block;
  position: absolute;
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  left: 50%;
  top: 10%; }

.window--gg {
  background: url(../images/catchfish/gg/main.png);
  width: 863px;
  height: 545px; }

.window--ag {
  background: url(../images/catchfish/ag/window--ag.png);
  width: 860px;
  height: 540px; }

.window--pt {
  background: url(../images/catchfish/window-content-bg.png); }

.tab-title {
  font-size: 20px;
  color: #fff;
  font-weight: bolder;
  text-shadow: 2px 2px 1px #01314c,-2px -2px 1px #01314c,2px -2px 1px #01314c,-2px 2px 1px #01314c;
  position: absolute;
  left: 125px;
  top: 35px; }

.helpoverlay_close {
  width: 61px;
  height: 65px;
  background-size: 100% 100%;
  background-position: center center;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 59px;
  right: -5px; }

.helpoverlay_close--gg, .helpoverlay_close--ag {
  background: url(../images/catchfish/x.png); }

.window-content {
  width: 594px;
  height: auto;
  background-size: 100% 100%;
  background-position: center center;
  display: block;
  cursor: pointer;
  position: relative;
  left: 46px;
  top: 116px; }

.help__button--container {
  position: absolute;
  right: 43px;
  top: 114px;
  width: 169px; }

.help__button--container ul {
  padding: 0; }

.help__button {
  width: 172px;
  height: 62px;
  background-size: 100% 100%;
  background-position: center center;
  display: block;
  cursor: pointer;
  margin-bottom: 18px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #212121;
  font-weight: bolder;
  text-shadow: 2px 2px 1px #00a1dd,-2px -2px 1px #00a1dd,2px -2px 1px #00a1dd,-2px 2px 1px #00a1dd; }

.help__button:hover {
  font-size: 22px; }

.help__button.active {
  position: relative;
  z-index: 1;
  box-sizing: border-box; }

.help__button img {
  width: 139px; }

.help__button--ag {
  width: 115px;
  height: 49px;
  background: url(../images/catchfish/ag/tab-button.png);
  background-size: 100% 100%;
  background-position: center center;
  display: block;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #212121;
  font-weight: bolder;
  text-shadow: 2px 2px 1px #00a1dd,-2px -2px 1px #00a1dd,2px -2px 1px #00a1dd,-2px 2px 1px #00a1dd; }

.help__button--ag.active {
  width: 140px;
  height: 49px;
  background: url(../images/catchfish/ag/tab-button-active.png);
  margin-left: -25px;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 1px #f6c200,-2px -2px 1px #f6c200,2px -2px 1px #f6c200,-2px 2px 1px #f6c200;
  padding-left: 5px;
  box-sizing: border-box; }

.content-pic {
  width: 100%;
  display: none;
  cursor: pointer;
  position: relative;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-size: 100% 100% !important;
  background-position: center center !important;
  height: 383px !important; }

.window-content--gg .one {
  background: url(../images/catchfish/gg/content-1.png) no-repeat; }

.window-content--gg .two {
  background: url(../images/catchfish/gg/content-2.png) no-repeat; }

.window-content--gg .three {
  background: url(../images/catchfish/gg/content-3.png) no-repeat; }

.window-content--gg .four {
  background: url(../images/catchfish/gg/content-4.png) no-repeat; }

.window-content--gg .five {
  background: url(../images/catchfish/gg/content-5.png) no-repeat; }

.content-pic.active {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.window-content--ag .one {
  background: url(../images/catchfish/ag/content-1.png) no-repeat; }

.window-content--ag .two {
  background: url(../images/catchfish/ag/content-2.jpg) no-repeat; }

.window-content--ag .three {
  background: url(../images/catchfish/ag/content-3.png) no-repeat; }

.window-content--ag .four {
  background: url(../images/catchfish/ag/content-4.png) no-repeat; }

.window-content--ag .five {
  background: url(../images/catchfish/ag/content-5.png) no-repeat; }

/*PROMOTIONS PAGE*/
.section--promo {
  padding-top: 140px !important;
  height: 100%; }
  .section--promo .container-fluid {
    margin-top: 3.5%; }

.promo__grid {
  max-width: 1000px;
  width: 100%;
  margin: 2% auto !important; }

.promo__grid--image {
  margin: 1%;
  display: inline-block; }
  .promo__grid--image a figure {
    width: 300px;
    height: 300px;
    background: #969696;
    border: 0.5rem solid white;
    -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.5); }
  .promo__grid--image:nth-of-type(3n) {
    clear: left; }

/*CAROUSEL*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.carousel {
  left: 0px;
  position: relative;
  margin: 0 auto; }

.carousel-indicators {
  bottom: 5%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    display: inline-block;
    width: 1rem;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .carousel-indicators .active {
    margin: 0;
    width: 2.5rem;
    height: 8px;
    margin: 1px;
    background-color: white; }

/*CLOCK SLOT GAMES*/
.slot, .flag, .mobile, .promo {
  margin: 0 auto;
  text-align: center; }

.mobiler {
  text-align: center; }

.slot__platforms {
  width: 100%;
  margin: 5% auto 0% auto;
  background-color: #c4c4c4;
  padding: 2% 1%;
  -webkit-box-shadow: 0 100px 10px -101px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 100px 10px -101px rgba(0, 0, 0, 0.5);
  box-shadow: 0 100px 10px -101px rgba(0, 0, 0, 0.5); }

.slot__platforms_shadow {
  position: relative; }

.slot__platforms_shadow:before, .slot__platforms_shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  bottom: 25px;
  left: 80px;
  width: 50%;
  height: 35%;
  top: 55%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 35px 30px -8px rgba(0, 0, 0, 0.5), 0 25px 50px 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 35px 30px -8px rgba(0, 0, 0, 0.5), 0 25px 50px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 35px 30px -8px rgba(0, 0, 0, 0.5), 0 25px 50px 25px rgba(0, 0, 0, 0.25); }

.slot__platforms_shadow:before {
  -moz-transform: rotate(-3.5deg);
  -o-transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  -webkit-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg); }

.slot__platforms_shadow:after {
  -moz-transform: rotate(3.5deg);
  -o-transform: rotate(3.5deg);
  -ms-transform: rotate(3.5deg);
  -webkit-transform: rotate(3.5deg);
  transform: rotate(3.5deg);
  right: 80px;
  left: auto; }

.slot__platforms_block {
  height: 9rem;
  width: 9rem;
  background-color: #e1e1e1;
  display: inline-block;
  margin: 5px 5px;
  position: relative;
  background-size: contain !important;
  background-size: 100% 100%;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .slot__platforms_block:hover {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .slot__platforms_block:after, .slot__platforms_block::after, .slot__platforms_block:before, .slot__platforms_block::before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    border-style: solid;
    line-height: 0px;
    margin-right: 50px;
    left: 0; }
  .slot__platforms_block:before, .slot__platforms_block::before {
    border-bottom-color: #fec24e;
    z-index: 1;
    border-width: 2rem 5rem 0 0;
    border-color: #ffc44e transparent transparent transparent; }
  .slot__platforms_block:after, .slot__platforms_block::after {
    border-bottom-color: #c4870f;
    z-index: 2;
    border-width: 0 8rem 3rem 0;
    border-color: transparent #c4870f transparent transparent; }

.slot__platforms--logo {
  z-index: 3;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  background-size: contain;
  text-align: right;
  display: inline-block; }

.slot__platforms--pt {
  background: #e1e1e1 url(../images/platforms/pt.png) no-repeat; }

.slot__platforms--mg {
  background: #e1e1e1 url(../images/platforms/mg.png) no-repeat; }

.slot__platforms--ttg {
  background: #e1e1e1 url(../images/platforms/ttg.png) no-repeat; }

.slot__platforms--png {
  background: #e1e1e1 url(../images/platforms/png.png) no-repeat; }

.slot__platforms--bs {
  background: #e1e1e1 url(../images/platforms/bs.png) no-repeat; }

.slot__platforms--isb {
  background: #e1e1e1 url(../images/platforms/isb.png) no-repeat; }

.slot__platforms--fg {
  background: #e1e1e1 url(../images/platforms/fg.png) no-repeat; }

.slot__platforms--hb {
  background: #e1e1e1 url(../images/platforms/hb.png) no-repeat; }

.slot__platforms--pt:before, .slot__platforms--pt::before, .slot__platforms--mg:before, .slot__platforms--mg::before, .slot__platforms--ttg:before, .slot__platforms--ttg::before, .slot__platforms--png:before, .slot__platforms--png::before,
.slot__platforms--bs:before,
.slot__platforms--bs::before, .slot__platforms--isb:before, .slot__platforms--isb::before, .slot__platforms--fg:before, .slot__platforms--fg::before, .slot__platforms--hb:before, .slot__platforms--hb::before {
  left: 0rem; }
.slot__platforms--pt:after, .slot__platforms--pt::after, .slot__platforms--mg:after, .slot__platforms--mg::after, .slot__platforms--ttg:after, .slot__platforms--ttg::after, .slot__platforms--png:after, .slot__platforms--png::after,
.slot__platforms--bs:after,
.slot__platforms--bs::after, .slot__platforms--isb:after, .slot__platforms--isb::after, .slot__platforms--fg:after, .slot__platforms--fg::after, .slot__platforms--hb:after, .slot__platforms--hb::after {
  left: 1rem; }
.slot__platforms--pt .slot__platforms--logo, .slot__platforms--mg .slot__platforms--logo, .slot__platforms--ttg .slot__platforms--logo, .slot__platforms--png .slot__platforms--logo,
.slot__platforms--bs .slot__platforms--logo, .slot__platforms--isb .slot__platforms--logo, .slot__platforms--fg .slot__platforms--logo, .slot__platforms--hb .slot__platforms--logo {
  right: 0rem; }

.slot__section--first {
  margin: 10px auto;
  width: 100%; }
  .slot__section--first h2 {
    display: inline-block;
    margin-right: 5%; }
  .slot__section--first .button {
    display: inline-block; }
    .slot__section--first .button p {
      display: inline-block; }

.slot__section--content {
  margin: 15px auto;
  background: url(../images/barbarian.png) -50px top no-repeat, url(../images/trophy.png) right -40px no-repeat;
  background-size: contain;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated; }

.slot__section--btn {
  margin: 0 auto; }
  .slot__section--btn .button {
    position: relative; }

.clock__container {
  height: 5rem;
  position: relative; }
  .clock__container .clock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/*LIVE*/
.section--live {
  margin-top: 5rem; }

.page--live {
  padding-top: 5rem; }

.section__bg--live {
  top: 35%; }

.live__row--adjust {
  margin-top: 5% !important; }

.live__heading--coins {
  position: absolute; }

.live__container {
  max-width: 80%;
  margin: 0 auto; }

.live__container--home {
  padding-top: 3%; }

.live__contents {
  margin: 0 auto;
  position: relative;
  z-index: 3; }

.live__contents--container {
  max-width: 300px; }
  .live__contents--container .img, .live__contents--container .live__btn {
    display: inline-block !important;
    position: relative !important; }
    .live__contents--container .img img, .live__contents--container .live__btn img {
      width: 80% !important; }

.live__logos-sa img,
.live__logos-ag img,
.live__logos-mg img,
.live__logos-pt img {
  width: 85%; }

.live--sa {
  bottom: 240px;
  float: right;
  right: 260px; }

.live--ag {
  right: -160px;
  bottom: 260px;
  float: right; }

.live--mg {
  float: left;
  bottom: 200px;
  left: 300px; }

.live--pt {
  bottom: 5px;
  left: 400px;
  position: absolute; }

.live__model {
  max-width: 70%;
  position: relative; }

.live__model--sa {
  left: -3rem; }

.live__model--mg {
  left: 2.5rem;
  top: 4rem; }

.live__model--ag {
  left: 5rem;
  bottom: 4rem; }

.live__model--pt {
  left: 7rem;
  position: relative;
  max-width: 60%; }

.live__btn {
  margin: 0 auto;
  max-width: 10%;
  z-index: 100;
  position: relative;
  @inlude : transition(background-color, .5s, ease-out);
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  opacity: 1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%); }

.live__btn:hover {
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%); }

.live__logos-sa {
  right: 86px;
  bottom: 5px; }

.live__logos-mg {
  right: 60px;
  bottom: 15px; }

.live__logos-ag {
  right: 50px;
  bottom: 5px; }

.live__logos-pt {
  right: 45px;
  bottom: 5px; }

.live__btn--sa {
  left: 140px;
  bottom: 50px; }

.live__btn--ag {
  left: 50px;
  bottom: 50px; }

.live__btn--pt {
  right: 200px;
  bottom: 30px; }

.live__btn--mg {
  right: 150px;
  bottom: 50px; }

.live__background {
  background: url(../images/live_wm.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 50px; }

.live__right:before, .live__right::before, .live__right:after, .live__right::after, .live__left:before, .live__left::before, .live__left:after, .live__left::after {
  @inlude : transition(background-color, .5s, ease-out); }

.live__right:nth-child(2):before, .live__right:nth-child(2)::before, .live__right:nth-child(2):after, .live__right:nth-child(2)::after {
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
  -moz-transform: skew(0deg, -8deg);
  -o-transform: skew(0deg, -8deg);
  -ms-transform: skew(0deg, -8deg);
  -webkit-transform: skew(0deg, -8deg);
  transform: skew(0deg, -8deg);
  right: 0;
  left: 0;
  bottom: 0; }

.live__right:nth-child(4):before, .live__right:nth-child(4)::before, .live__right:nth-child(4):after, .live__right:nth-child(4)::after {
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
  -moz-transform: skew(0deg, -10deg);
  -o-transform: skew(0deg, -10deg);
  -ms-transform: skew(0deg, -10deg);
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  right: 0; }

.live__left:nth-child(1):before, .live__left:nth-child(1)::before, .live__left:nth-child(1):after, .live__left:nth-child(1)::after {
  padding-left: -50%;
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  -moz-transform: skew(0deg, 7deg);
  -o-transform: skew(0deg, 7deg);
  -ms-transform: skew(0deg, 7deg);
  -webkit-transform: skew(0deg, 7deg);
  transform: skew(0deg, 7deg); }

.live__left:nth-child(3):before, .live__left:nth-child(3)::before, .live__left:nth-child(3):after, .live__left:nth-child(3)::after {
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  -moz-transform: skew(0deg, 7deg);
  -o-transform: skew(0deg, 7deg);
  -ms-transform: skew(0deg, 7deg);
  -webkit-transform: skew(0deg, 7deg);
  transform: skew(0deg, 7deg);
  left: 0; }

.live__left:nth-child(5):before, .live__left:nth-child(5)::before, .live__left:nth-child(5):after, .live__left:nth-child(5)::after {
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  -moz-transform: skew(0deg, 5deg);
  -o-transform: skew(0deg, 5deg);
  -ms-transform: skew(0deg, 5deg);
  -webkit-transform: skew(0deg, 5deg);
  transform: skew(0deg, 5deg);
  right: 0;
  left: 0;
  bottom: 0; }

.live__lr:before, .live__lr::before, .live__lr:after, .live__lr::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: inherit; }

.live__right:before, .live__right::before, .live__right:after, .live__right::after {
  moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top; }

.live__left:before, .live__left::before, .live__left:after, .live__left::after {
  top: 0;
  moz-transform-origin: right top;
  -o-transform-origin: right top;
  -ms-transform-origin: right top;
  -webkit-transform-origin: right top;
  transform-origin: right top; }

/*LIVE SLIDER  PAGE*/
.live__slider {
  text-align: right;
  bottom: 15px !important;
  text-align: right;
  z-index: 1; }

.live__slider .img {
  display: inline-block;
  margin: 20px auto; }

.img--live-slides {
  display: inline-block;
  margin: 5px auto;
  padding: 5px; }

.live__background .button {
  margin: -15px auto;
  text-align: center; }

.button__slides--pt {
  margin: 15px auto !important; }

.live__slider .img img {
  display: inline-block;
  margin: 0 auto; }

.live_control {
  display: inline-block;
  position: relative;
  top: -245px;
  width: 10rem;
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 1; }

.live__control-next {
  left: 800px; }

.live__girls-slider {
  text-align: right;
  z-index: 1; }

.livegirls__image {
  float: left;
  position: relative;
  z-index: 1;
  bottom: -25px; }

.livegirls__image img {
  width: 280px; }

.live__title {
  display: inline-block;
  position: relative;
  top: 50px; }

.live__title--sa img {
  text-align: right;
  position: relative;
  left: 500px;
  float: right; }

.live__title--sa .text--lightGrey,
.live__title--mg .text--lightGrey,
.live__title--pt .text--lightGrey,
.live__title--ag .text--lightGrey {
  text-align: left;
  font-size: 3.25rem;
  font-weight: 300; }

.live__title img {
  text-align: right;
  position: relative;
  float: right; }

.live__title--mg img, .live__title--pt img, .live__title--ag img {
  left: 330px; }

.live--slides-mg {
  left: 100px; }

.live__logos {
  min-width: 225px;
  position: relative;
  z-index: -1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  width: 50%;
  margin-top: 2%; }

.live__games {
  width: 100%;
  position: relative; }

.live__games::before {
  -webkit-box-shadow: 0 -15px 25px -15px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 -15px 25px -15px rgba(100, 100, 100, 0.3);
  box-shadow: 0 -15px 25px -15px rgba(100, 100, 100, 0.3); }

.live__games:nth-child(1) {
  z-index: -1;
  border: none;
  max-width: 90%;
  margin: 0 auto;
  top: 40px; }

.live__games:nth-child(2) {
  background: #acacac;
  top: 20px;
  height: 140px;
  z-index: 2;
  margin-left: 10%;
  width: 90%; }

.live__games:nth-child(3) {
  background: #bfbfbf;
  bottom: 60px;
  height: 140px;
  z-index: 3;
  margin-right: 10%;
  width: 90%; }

.live__games:nth-child(4) {
  background: #c4c4c4;
  top: -60px;
  height: 170px;
  z-index: 4;
  margin-left: 10%;
  width: 90%; }

.live__games:nth-child(5) {
  background: #d6d6d6;
  bottom: 160px;
  height: 100px;
  z-index: 5;
  width: 100%; }

.slick-prev:before, .slick-prev::before, .slick-next:before, .slick-next::before {
  color: #c4870f !important; }

/*FLAG*/
.lottery__game {
  position: relative;
  left: 0;
  top: 0; }
  .lottery__game img {
    width: 70%; }

.flag__content {
  margin: 0 auto; }

.flag__content h4 {
  max-width: 600px;
  margin: 10px auto;
  padding: 1% 0%; }

.lottery_game_item {
  position: absolute;
  top: 65%;
  left: 50%;
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%); }
  .lottery_game_item .img {
    max-width: 125px; }

.lottery_game_item a {
  margin: auto 10px;
  width: 150px;
  display: inline-block;
  z-index: 2; }

.lottery_game_item .img img {
  filter: alpha(opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  opacity: 1;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -o-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1); }
  .lottery_game_item .img img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

/*FISH GAMES*/
.heading.heading--fish {
  margin-top: 5%;
  margin-bottom: -5%; }

.fish {
  margin: 10% auto;
  text-align: center; }

.fish__section .img {
  display: inline-block;
  max-width: 350px;
  margin: auto 2%; }

.fish__logo {
  width: 70%;
  margin: 0 15%; }

.fish__img {
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border: none;
  margin: 5% auto; }
  .fish__img img {
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .fish__img::before, .fish__img:before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3);
    background: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#000',GradientType=0 );
    -moz-transform: skew(-25deg, 0deg);
    -o-transform: skew(-25deg, 0deg);
    -ms-transform: skew(-25deg, 0deg);
    -webkit-transform: skew(-25deg, 0deg);
    transform: skew(-25deg, 0deg); }
  .fish__img:hover::before, .fish__img:hover:before {
    -webkit-animation-name: shine;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: initial;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: inherit;
    -moz-animation-name: shine;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0s;
    -moz-animation-timing-function: initial;
    -moz-animation-iteration-count: inherit;
    animation-name: shine;
    animation-duration: 1s;
    animation-timing-function: initial;
    animation-delay: 0s;
    animation-iteration-count: inherit; }

.fish_water_bg {
  position: absolute;
  left: 50%;
  top: 52.5%;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 50%; }

.btn--rectangle {
  vertical-align: middle;
  text-align: center;
  background-color: #c4870f;
  width: 100%;
  color: white;
  margin: 20px auto 0px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 2px solid #c4870f;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px; }
  .btn--rectangle:hover {
    background: #d4d4d4; }

.btn--large {
  padding: 0.5rem 2.5rem; }

/*MOBILE SERVICES*/
.mobile__content--container {
  position: relative;
  display: inline-block;
  margin: auto 5%;
  vertical-align: middle; }

.mobile__content--container img {
  max-width: 650px; }

.mobile__content {
  max-width: 400px;
  background-color: #d4d4d4;
  padding: 2%;
  margin: 3% auto;
  text-align: left;
  height: 100%; }
  .mobile__content h3 {
    font-style: normal; }
  .mobile__content p {
    font-size: 15px; }

.qrcode {
  background-color: #bdbdbd;
  text-align: center;
  height: 100%;
  padding: 1%;
  margin-top: 5%; }
  .qrcode .row .img img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

.qrcode__img {
  margin-top: 5%;
  border-right: 1px solid #949494; }

.qrcode__link {
  font-size: 17px;
  padding-top: 65px; }

.qrcode--btm {
  font-size: 15px;
  color: white; }

.services {
  text-align: center;
  margin: 2% auto; }

.services__block {
  background-color: #dddddd;
  height: 150px;
  width: 150px;
  padding: 1%;
  margin: 1%;
  display: inline-block;
  color: #6b6b6b; }
  .services__block h5 {
    margin-top: 20%; }
    .services__block h5before, .services__block h5::before {
      content: " EGC ";
      color: transparent;
      position: relative;
      font-size: 25px; }
  .services__block p {
    font-size: 14px; }

.section__bg--mobile {
  top: 30%; }

.services--devices h5::before {
  background: url(../images/spritesheet_footer.png) -5px -15px;
  background-size: 220px; }

.services--gift h5::before {
  background: url(../images/spritesheet_footer.png) -65px -10px;
  background-size: 220px; }

.services--csr h5::before {
  background: url(../images/spritesheet_footer.png) -145px -10px;
  background-size: 220px; }

.services--lock h5::before {
  background: url(../images/spritesheet_footer.png) 8px -70px;
  background-size: 220px; }

.services--net h5::before {
  background: url(../images/spritesheet_footer.png) -70px -70px;
  background-size: 220px; }

.services--card h5::before {
  background: url(../images/spritesheet_footer.png) -145px -75px;
  background-size: 220px; }

/*ANIMATIONS*/
@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@-moz-keyframes shine {
  100% {
    left: 125%; } }
@-o-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translate(100%, 0%); }
  100% {
    -webkit-transform: translate(-100%, 0%); } }
@-moz-keyframes marquee {
  0% {
    -moz-transform: translate(100%, 0%); }
  100% {
    -moz-transform: translate(-100%, 0%); } }
@-o-keyframes marquee {
  0% {
    -o-transform: translate(100%, 0%); }
  100% {
    -o-transform: translate(-100%, 0%); } }
@keyframes marquee {
  0% {
    transform: translate(100%, 0%); }
  100% {
    transform: translate(-100%, 0%); } }
@-webkit-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1); } }
@-moz-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -moz-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -moz-transform: scale(1); } }
@-o-keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    -o-transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    -o-transform: scale(1); } }
@keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    filter: alpha(opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    opacity: 0;
    transform: scale(0); }
  100% {
    filter: alpha(opacity=100);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
    opacity: 1;
    transform: scale(1); } }

/*# sourceMappingURL=main.css.map */
