/*FOOTER*/
footer{
	height:100%;
	background-color:rgba(150,150,150,1);
}
.footer__top{
	background-color: $plainWhite;
	text-align:center;
	color:rgba(141,141,141,1);
	padding:2% 8%;
	font-size:.8rem;
	.img{
		max-width:78%;
		margin:0 auto
	}
} 
.footer__links{
    margin: 0% auto 2% auto;
	ul li{
		display: inline-block;
		margin: 1%;
		a{
			color:rgba(74,74,74,1);
			@include transition(all, 0.3s, cubic-bezier(.25,.8,.25,1));
			&:hover{
				color: $primary !important;
			}
			&:active, &:visited, &:link{
				color:rgba(74,74,74,1);
			}
		}
	}
}
.footer__text{
	margin-left:26%;
	margin-right:14%;
	text-align:left;
	p{
		line-height:1.25;
	}
}

.footer__btm{
	background-color:$greyFooter;
	padding:1%;
	text-align:center;
	color:rgba(79,79,79,1);
	p{
		font-size: 14px;
	}
}
