/*NAVBAR*/
.container-header{
    width: 70%;
}
.header{
    width:inherit;
    border-bottom: 2.5px solid $primary;
    @include navBackground( rgba(82,82,82,.1), rgba(82,82,82,1), rgba(33,33,33,1));
}
.header__wrap{
    @include boxShadow((0 2px 28px 0px rgba(0,0,0,0.25), 0 1px 10px 0px rgba(0,0,0,0.22)));
}
.fixed{
    position: fixed;
    z-index: 8888;
    width: 100%;
}
.header__announce{
	width: 100%;
	background: $yellow;
}
.announce{
	height: auto;	
	overflow: hidden;
	position: relative;
	width: 70%;
	margin: 0 auto;
	font-size: 14px;
	height: 35px;
	padding: 0;
}
.announce__text{
	display: inline-block;
	position: absolute;
}
.announce__text:first-child{
	font-size: 14px;
	text-align: center; 
	z-index: 2; 
	text-transform: uppercase; 
	font-weight: bolder;
	background: $yellow;
	padding: 10px;
}
.announce__text:nth-child(2){
	font-size: 12px;
	z-index: 0;
	text-indent: 0;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 8px;
	@include translate(100%, 0%);
    @include animation(marquee, 25s, linear, 0s, infinite);
}

.logo{
    width: 120px;
    margin: 1%;
    float: left;
}
.user{
    float: right;
    margin: 1%;
    text-align: right;
    .form .form-group .form-control {
    	padding:2px 6px;
    	height:25px;
    	margin: 0 2px;
	}

}
.form .form-group {
	float:left;
	.form-control {
	    max-width: 140px;
	    display:inline;
	    float:left;
	    color: rgba(0,0,0,1);
	    background:$secondary;
	    @include borderRadius(0px);
	}
}

.rowtop, .rowbottom{
    float: none;
    text-align: right;
}
.rowtop span{
    color: rgba(255,255,255,1);
    font-size: 12px;
}
.rowbottom {
    margin-top:10px;
    .form{
    	margin: 10% auto;
    }
} 


.code {
	height:25px;
	margin-left:-3px;
	border: 1px solid #C8C8C9
}
.sec_code .form-control {
	width:70px;
	&::-webkit-inner-spin-button,&::-webkit-outer-spin-button{
	  -webkit-appearance: none; 
	  margin: 0;
	}
}
.ibutton {
	color:white;
	font-size:13px;
	text-transform:uppercase;
	min-width: 80px;
	padding:.35rem 1rem;
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
}

.login {
	@extend .ibutton;
	background: $lightGrey;
	margin-left:5px;
	&:hover{
		background: rgba(80,80,80, 1);
	}
}
.register {
	@extend .ibutton;
	background: $primary;
	@include borderRadius(10rem);
	&:hover{
		background: rgba(150,104,12, 1);
	}
}
.chat{
	@extend .ibutton;
	background: $yellow;
	color: #333;
}
.hide {
 	display:none;
}
.default {
	display:block
}

.head_top,.head_bottom{
    display: block;
}

.main__nav {
	text-transform: uppercase;
	li {
		float: left;
		max-width: 100%;
		color: rgba(255,255,255,1); 
		margin: 0% 1.5%;
		a {
			line-height:1.9em;
			color:inherit;
			font-size: 12px; 
			margin: 0 0.5px 10px;
			text-transform: uppercase;
			display: block;
			position: relative;
		    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
			&:after, &::after{
				position: absolute;
				bottom: -10px;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '';
				color: transparent;
				background:rgba(196, 135, 15,1);
				height: 2px;
			    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
			}
		}
	}
}

.main__nav li a.nav--active{
	&:after,&::after{
		width: 100%;
	}
	.menu_item.nav--active{
		color: $primary;
	}
}


.menu_item {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	font-weight: normal;
	&:before, &::before{
		content:" M ";
		color:transparent;
		font-weight:bolder;
		margin-right:5px;
		position:relative;
		image-rendering:optimizeSpeed;
		image-rendering:-moz-crisp-edges;
		image-rendering:-o-crisp-edges;
		image-rendering:-webkit-optimize-contrast;
	}
}

.nav__dropdown_menu a:hover>.caret{
	@include rotate(180);
	color: $primary;
}

.caret{
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
}

.nav__dropdown{
    background:rgba(255,255,255,1);
    position: absolute;
    display: none;
    z-index: 100;
    width: 100%;
    left: 0;
    border-bottom: 2.5px solid $primary;
    ul{
		padding: 0px;
		margin: 0 auto;
		width: 70%;
	    li{		    
	    	max-width: 280px;
		    width: 100%;
		    display: inline-block;
		    background: 105%  -20% no-repeat;
		    background-size: 70%;
		    margin: auto 1%;
		    a{
		    	position: relative;
		    	img{
		    		width: auto;
				    height: 150px;
				    display: inline-block;
				    position: relative;
				    bottom: -50px;
				    z-index: 1;
		    	}
		    }
		}
	}
}
.nav__dropdown--live{
	display: block;
	visibility: hidden;
	opacity: 0;
	z-index: 3;
	@include translate(0, -0.05em);
	-webkit-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-moz-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-ms-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	-o-transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    ul{
	    li{		    
		    &:first-child{
		    	background-image: url(../images/slots/platforms/bw/pt-bw.png);
		    }
		    &:nth-child(2){
		    	background-image: url(../images/slots/platforms/bw/mg-bw.png);
		    }
		    &:nth-child(3){
		    	background-image: url(../images/slots/platforms/bw/sa-bw.png);
		    }
		    &:last-child{
		    	background-image: url(../images/slots/platforms/bw/ag-bw.png);
		    }
	    }
    }
}
.nav__dropdown--slots{
	@extend .nav__dropdown--live;
    ul{
	    li{		    
		    &:first-child{
		    	background-image: url(../images/slots/platforms/bw/pt-bw.png);
		    }
		    &:nth-child(2){
		    	background-image: url(../images/slots/platforms/bw/ttg-bw.png);
		    }
		    &:nth-child(3){
		    	background-image: url(../images/slots/platforms/bw/mg-bw.png);
		    }
		    &:nth-child(4){
		    	background-image: url(../images/slots/platforms/bw/png-bw.png);
		    }
		    &:nth-child(5){
		    	background-image: url(../images/slots/platforms/bw/isb-bw.png);
		    }
		    &:nth-child(6){
		    	background-image: url(../images/slots/platforms/bw/bs-bw.png);
		    }
		    &:nth-child(7){
		    	background-image: url(../images/slots/platforms/bw/fg-bw.png);
		    }
		    &:last-child{
		    	background-image: url(../images/slots/platforms/bw/hb-bw.png);
		    }
	    }
    }
}


.nav__dropdown_menu:hover .nav__dropdown--slots,
.nav__dropdown_menu:hover .nav__dropdown--live,
.member__dropdown:hover .member__wallet{
	visibility: visible; 
	opacity: 1;
	z-index: 5;
	@include translate(0%, 0%);
	-webkit-transition-delay: 0s, 0s, 0.3s; ;
	-moz-transition-delay: 0s, 0s, 0.3s; ;
	-ms-transition-delay: 0s, 0s, 0.3s; ;
	-o-transition-delay: 0s, 0s, 0.3s; ;
	transition-delay: 0s, 0s, 0.3s; ; 
}
.nav__dropdown_image{
    width: 150px;
    height: 150px;
    display: inline-block; 
    position: relative;
    z-index: 1;
    background-size: cover !important;
    top: .9rem;
}
.nav__dropdown_image--pt{
	background: url(../images/girlpt.png) top left no-repeat;
}
.nav__dropdown_image--mg{
	background: url(../images/girlmg.png) top left no-repeat;
}

.nav__dropdown_image--sa{
	background: url(../images/girlsa.png) top left no-repeat;
}

.nav__dropdown_image--ag{
	background: url(../images/girlag.png) top left no-repeat;
}

.nav__dropdown_image--slots-pt{
	background: url(../images/platforms/pt.png) top left no-repeat;
}
.nav__dropdown_image--slots-ttg{
	background: url(../images/platforms/ttg.png) top left no-repeat;
}
.nav__dropdown_image--slots-mg{
	background: url(../images/platforms/mg.png) top left no-repeat;
}
.nav__dropdown_image--slots-png{
	background: url(../images/platforms/png.png) top left no-repeat;
}
.nav__dropdown_image--slots-isb{
	background: url(../images/platforms/isb.png) top left no-repeat;
}
.nav__dropdown_image--slots-bs{
	background: url(../images/platforms/bs.png) top left no-repeat;
}
.nav__dropdown_image--slots-fg{
	background: url(../images/platforms/fg.png) top left no-repeat;
}
.nav__dropdown_image--slots-hb{
	background: url(../images/platforms/hb.png) top left no-repeat;
}
.nav__dropdown_label{
    background: rgba(254, 194, 78,1);
    color: rgba(114, 81, 20,1); 
    padding: .3rem 1rem .3rem 1rem;
    position: absolute;
	@include borderRadius(1rem 0rem 0rem 0rem);
    font-size: 1rem;
    display: inline-block;
    bottom: -.55rem;
    right: 1rem;
    height: 2rem;
    z-index: 5;
    &:before, &::before, &:after, &::after{
	    content: '';
	    height: 0;
	    position: absolute;
	    width: 0;
	    border: 1rem solid transparent;
	    bottom: 0;
    }
    &:before, &::before{
    	border-width: 0 0 1.5rem 1.5rem;
	    border-color: $primary transparent transparent transparent;
	    border-bottom-color: $yellow; 
	    left: -1.35rem;
    }
    &:after, &::after{
	    border-left-color: $yellow;
	    border-top-color: $primary;
	    border-right-color: $primary;
	    border-bottom-color: $primary;
	    position: absolute;
    }
}


.menu_item-home,.menu_item-slots,.menu_item-tournament,.menu_item-fishing,.menu_item-livecasino,.menu_item-lottery, .menu_item-promotion, .menu_item-vip, .menu_item-affiliate, .menu_item-imobile{
	&:before, &::before{
		font-size:20px;
	}
}
.menu_item-home:before,.menu_item-home::before{
	background: url(../images/menuicon_sprites.png)-35px -32px;
}

.menu_item-home.nav--active:before,.menu_item-home.nav--active::before {
	background: url(../images/menuicon_sprites.png)-3px -32px;
}


.menu_item-slots:before,.menu_item-slots::before{
	background: url(../images/menuicon_sprites.png) -98px -224px;
}
.menu_item-slots.nav--active:before,.menu_item-slots.nav--active::before {
	background: url(../images/menuicon_sprites.png) -66px -224px;

}

.menu_item-tournament:before,.menu_item-tournament::before{
	background: url(../images/menuicon_sprites.png) -131px -31px;
}
.menu_item-tournament.nav--active:before,.menu_item-tournament.nav--active::before {
	background: url(../images/menuicon_sprites.png) -131px 1px;

}
.menu_item-fishing:before,.menu_item-fishing::before{
	background: url(../images/menuicon_sprites.png) -99px 0px;
}
.menu_item-fishing.nav--active:before,.menu_item-fishing.nav--active::before {
	background: url(../images/menuicon_sprites.png) -67px 0px;
}
.menu_item-livecasino:before,.menu_item-livecasino::before{
	background: url(../images/menuicon_sprites.png) -99px -31px;
}
.menu_item-livecasino.nav--active:before,.menu_item-livecasino.nav--active::before {
	background: url(../images/menuicon_sprites.png) -67px -31px;
}
.menu_item-lottery:before,.menu_item-lottery::before{
	background: url(../images/menuicon_sprites.png) -35px -65px;
}
.menu_item-lottery.nav--active:before,.menu_item-lottery.nav--active::before {
	background: url(../images/menuicon_sprites.png) -3px -65px;
}
.menu_item-promotion:before,.menu_item-promotion::before{
	background: url(../images/menuicon_sprites.png) -35px -96px;
}
.menu_item-promotion.nav--active:before,.menu_item-promotion.nav--active::before {
	background: url(../images/menuicon_sprites.png) -3px -96px;
}
.menu_item-vip:before,.menu_item-vip::before{
	background: url(../images/menuicon_sprites.png) -131px 32px;
}
.menu_item-vip.nav--active:before,.menu_item-vip.nav--active::before {
	background: url(../images/menuicon_sprites.png) -131px 64px;
}
.menu_item-imobile:before,.menu_item-imobile::before{
	background: url(../images/menuicon_sprites.png) -99px -65px;
}
.menu_item-imobile.nav--active:before,.menu_item-imobile.nav--active::before {
	background: url(../images/menuicon_sprites.png) -67px -65px;
}
.menu_item-affiliate:before,.menu_item-affiliate::before{
	background: url(../images/menuicon_sprites.png) -35px 1px;
}
.menu_item-affiliate.nav--active:before,.menu_item-affiliate.nav--active::before {
	background: url(../images/menuicon_sprites.png) -3px 1px;
}

.menu_item-pt, .menu_item-ttg, .menu_item-mg, .menu_item-png,
.menu_item-bs, .menu_item-isb, .menu_item-fg, .menu_item-hb{
	&:before, &::before{
		font-size: 20px;
	}
}
.menu_item-pt{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) -12px 0px;
	}
}

.menu_item-ttg{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) -9px  -35px;
	}
}
.menu_item-mg{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) -12px -65px;
	}
}
.menu_item-png{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) -12px -98px;
	}
}
.menu_item-bs{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) 35px 0px;
	}
}
.menu_item-isb{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) 35px -32px;;
	}
}
.menu_item-fg{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) 38px -65px;
	}
}
.menu_item-hb{
	&:before, &::before{
       	background: url(../images/menuplatform_sprites.png) 38px -98px;
	}
}
.main__nav_dropdown{
    display: none;
}
.member{
    display: block;
    text-align: right;
    color: rgba(255,255,255,1);
    font-size: 14px;
}
.member__title{ 
	&:after, &::after{
    	content: ":";
	}
}

.member__info {
	margin: 3% auto;
	span{
	    display: inline-block;
	    margin: 1% 1% 2% 2%;
	}
}
.member__name{
    color: rgba(196,135,15,1);
    font-weight: bold;

}
.member__logout{
    color: rgba(255,255,255,1);
    @include transition(border, .5s, ease);
    background: rgba(0,0,0,.5);
    padding: 5px;
    @include borderRadius(5px);
    &:hover{
	    color: rgba(196,135,15,1);
	    cursor: pointer;
	    @include transition(color, .5s, ease);
	}
}
.member__nav li{
    display: inline-block;
    background: rgba(196,135,15,1);
    padding: 1% 2%;
    min-width: 100px;
    text-align: center;
    @include transition(border, .5s, ease);
    cursor: pointer;
    &:hover{
	    border-bottom: 1px solid rgba(196,135,15,1);
	    background: none;
   		@include transition(background, .5s, ease);
	}
    a{
    	color: rgba(255,255,255,1);
    }
}
.member__wallet{
    text-align: left;
    background: rgba(0,0,0,1)!important;
    border: none!important;
    z-index: 999;
    width: 300px;
    margin: 10px auto;
    position: absolute;
    right: 200px;
	padding: 1rem;
	@extend .nav__dropdown--live;
	@include translate(0, 0.2rem);
}
.member__wallet_table {
	border: none;
	tr{
	    padding: 5px;
	        @include transition(border, 1s, ease);
		&:hover{
			border-bottom: 1px solid rgba(196,135,15,1);
			cursor: pointer !important;
			color: rgba(196,135,15,1);
			@include transition(color, .5s, ease);
		}
	}

}
.wallet__balance--left{
    text-align: left !important;
}
.wallet__balance--right{
    text-align: right !important;
    width: 20%;
}  
.wallet--active{
    border-bottom: 1px solid rgba(196,135,15,1);
    background: none !important;
    @include transition(background, .5s, ease);
}  

.head_bottom .text--large, 
.menu__icon.menu__icon-burger span, 
.mobile__header_content-user,
button, #fp-nav{
    @extend .hide;
}

.nav__modal{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    z-index: 9999;
}
.nav__form{
	background: rgba(229,229,229,1);
	max-width: 320px;
	height: auto;
	width: 100%;
	margin: 0 auto;
    margin-top: 6%;	
	.nav{
		padding: 10% 8% 0% 8%;
		.nav-tabs{
			li{
				a{
					background: transparent;
					border: none;
					margin-right: 15px;
					text-transform: uppercase;
					color: rgba(0,0,0,1);
					margin: 15px;
				}
			}
			.active{
				a{
					font-weight: bolder;
					color: $primary;
					border-bottom: 1px solid $primary;
				}
			}
		}
	}
}
.nav__form--login{
	padding: 5% 10%;
	form{
		margin: 10% auto;
	}
}
.nav__form--register{
	@extend .nav__form--login;
	form{
		p{
			font-size: .9rem;
			text-align: center;
		}
	}
}
.form__label{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.8rem;
	width: 65px;
	text-align: right;
	padding-right: 10px;
	text-transform: uppercase;
}
.form-text{
    display: inline-block;
    width: 185px;
    max-width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 0.8rem;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid rgba(210,210,210,1) !important;
    margin-bottom: 2.5px;
    @inlude transition(border .25s ease-in-out);
    &:focus{
    	border: 2px solid $primary !important;
    }
}
.form__text--captcha{
	display: inline-block;
	width: 85px;;
}
.form-text--captcha{
    height: 35px;
    img{
    	height: inherit;
	    border: 2px solid rgba(210,210,210,1) !important;
	    background: rgba(210,210,210,1);
	    vertical-align: middle;
	    margin-left: -8px;
	    margin-top : -2px;
    }
}
.btn--login{
	font-size: 1.15rem !important;
	font-weight: bolder;
	border: 2px solid $primary  !important;
	&:hover{
		border: inherit;
		background: transparent !important;
		color: $primary !important;
	}
}
.form__small{
	small{
		float: right;
	}
}
.form-group{
	margin-bottom: 20px;
}
.nav-tabs{
	position: absolute;
	border-bottom: 1px solid rgba(0,0,0,1);
}
.nav__btn--close{
	background: $primary;
	padding: 2%;
	color: $plainWhite;
	font-size: 25px;
	cursor: pointer;
	height: 2.5rem;
	width: 2.5rem;
	text-align: center;
	margin: -1rem -1rem;
	text-shadow: none;
	@include borderRadius(50%);
	@include opacity(1);
    @include boxShadow(0 3px 8px 0px rgba(0,0,0,0.25));
	&:hover{
		@extend .nav__btn--close;
	}
}
.animateZoom {
    @include animation(open-pop-up, .24s, ease-in-out, 0s, 1);
}
.nav__modal.active{
	display: block;
}