/*SIDE PANEL*/
.sidepanel{
	margin-top: 18%; 
	position: fixed;
	z-index: 100;
	.sidepanel__title {
		background-color: $primary;
		@include transition(all, 0.3s, ease);
		max-width: 70px;
		cursor: pointer;
		position: absolute;
		padding: 3rem 1rem 3rem 1.25rem;
		display: inline-block;
		top: 0;
		
		span{
			font-weight: bold;
			font-size: 1.7rem;
			color: $plainWhite;
			line-height: 1.1;
			padding-top: 2%;
			padding-bottom: 2%;
		}
	}
	.sidepanel__title--left{
		right: -4.40em;
	}
	.sidepanel__image{
		left: -4.40em;
		z-index: 1;
		padding: 0;
		height:70px;
		width: 150px;
		background-size: contain;
		@extend .sidepanel__title

	}
	.sidepanel__image--mobile{
		
		background:  url(../images/panels/phone.png) $primary center center no-repeat ;
	}
	.sidepanel__image--mail{

		background:  url(../images/panels/email.png) $primary center center no-repeat ;
	}
	.sidepanel__image--qq{

		background:  url(../images/panels/qq.png) $primary center center no-repeat ;
	}
	.sidepanel__image--wc{

		background:  url(../images/panels/wechat.png) $primary center center no-repeat ;
	}

	.sidepanel__content{
		display: inline-block;
		background: $greyFooter;
		padding: .5rem;
		@include transition(all, 0.3s, ease);
	}
}
.panels{
	.panels-left{
		left: 0;
	}
	.panels-right{
		right: 0;
		&:nth-child(2){
			margin-top: 22.5%; 
		}
		&:nth-child(3){
			margin-top: 27%; 
		}
		&:last-child{
			margin-top: 31.65%; 
		}
	}
}

.sidepanel__content--text{
	padding: inherit;
	background: $grey;
	text-align: left;
    height: auto;
    width: 100%;
    min-width: 300px;
    height: 70px;
    padding: 0% 5% 0% 10%;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    color: $plainWhite;
	h5{
		font-style: normal;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: middle;
	}
	small{
		text-transform: lowercase;	   
		font-size: 0.8rem;
		font-weight: 500;
		display: inline-block;
		vertical-align: middle;
    	margin-left: 15px;
		p{
			display: block;
		}
	}
}

.sidepanel__download{
	text-align: center;
	cursor: pointer;
	margin: 2rem auto;
	.img{
		img{
			width: 125px;
			@include scale(1.0);
			@include transition(all, 0.3s, ease);
			&:hover{
				@include scale(1.1);
			}
		}
	}
	span{
		text-transform: capitalize;
		font-weight: bold;
		font-size: 1.15rem;
		color: $plainWhite;
	}
} 
.sidepanel__left{
	@include transition(all, 0.3s, ease);
	margin-left: -200px;
}
.sidepanel:hover>.sidepanel__left{
	margin-left: 0px;
}

.sidepanel__right{
	@include transition(all, 0.3s, ease);
	margin-right: -300px;
	.img{
	    position: absolute;
	    top: -26.5%;
	    width: 200px;
	    height: auto;
	    margin-left: 1.5rem;
	}
	.sidepanel__content{
		padding: 0%;
	}
}
.sidepanel:hover>.sidepanel__right{
	margin-right: 0px;
}


