@media screen and (max-width: 768px){
    .container-header{
        width: 100%;
    }
    #fullpage {
         padding-top: 0!important; 
    }
    .menu__icon.menu__icon-burger>span,.mobile__header_content-user{
        display: block;
    }
    .header.fixed{
        background: -webkit-linear-gradient(-225deg ,rgba(82,82,82,.1) 50%, rgba(82,82,82,1) 50%), -webkit-radial-gradient(50% 500%, circle,  rgba(82,82,82,1) 35%, rgba(33,33,33,1) 100%);
        border-bottom: 2.5px solid rgba(196, 135, 15,1);
        display: block;
        position: fixed;
        z-index: 9999;
     }
    .head_top>.menu__icon{
        text-align: left;
        float: left;
    }
    .mobile__header{
        display:table;width:100%;
    }
    .mobile__header_content{
        display:table-cell;vertical-align:middle;
    }
    .mobile__header_content>div{
        text-align:center;
    }
    .mobile__header_content-user{
        float: right; width:25px; margin-right: 1rem
    }
    .img__header{
        display: inline-block;
    }
    .img__header-user>img{
        width: 75%; 
        position: relative; 
        bottom: 15px; 
        /*left: 700%*/
    }
    .menu_icon{
        text-align: left;
        display: block;
        position: absolute;
        top: 28px;
        left: 10px;
        right: 10px;
        height: 6px;
        width: 25px;
        background: #ff6600;
        transition: background 0s 0.2s;
    }
    .logo{
        float: none; 
        width: 70px; 
        margin: 10px auto;
    }
    .user{
        position: relative;
        right: 0px;
        top: 0px;
        width: auto;
        display: none;
        float: none;
    }
    .rowtop, .rowbottom{
        float: none;
    }
    .head_bottom{
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: -250px;
        overflow-x: hidden;
        padding-top: 20px;
        transition: 0.5s;
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }
    .wrap{
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }
    .nav__mobile{   
        background-color: rgba(69,69,69,1);
        min-width: 250px;
        left: 0px;
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }
    .wrap--mobile{
        margin-left: 250px;
        transition: all 0.5s cubic-bezier(.25,.8,.25,1);
    }

    .head_bottom>.text--large{
        display: block;
        font-size: 3rem;
        color: rgba(255,255,255,1);
        font-weight: 300;
        margin: 0px 15px 15px;
    }
    .row.head_bottom.nav__mobile{
        margin: 0px !important;
    }
    .main__nav li {
        float: none;
        margin: 0px;
        border-bottom: 1px solid rgba(50,50,50,.25);
        color: rgba(255,255,255,1);
        transition: none;
        font-size: 1rem;
    }
    .main__nav li a{
        line-height: 2rem;
    }
    .main__nav li a, .main__nav li a:after, .main__nav li a::after{
        transition: none;
    }
    .main__nav li a:hover:after,.main__nav li a:hover::after{
        width: 100%;
    }
    .main__nav li a:hover{
        color: rgba(196, 135, 15,1);
    }
    .carousel-indicators{
        bottom: 5%;
    }
    .menu__icon {
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 50px;
        height: 50px;
        font-size: 0;
        text-indent: -9999px;
        appearance: none;
        box-shadow: none;
        border-radius: none;
        border: none;
        cursor: pointer;
        float: left;
     }

    .menu__icon:focus {
        outline: none;
    }
    .menu__icon span {
        display: block;
        position: absolute;
        top: 25px;
        left: 17px;
        right: 0px;
        height: 5px;
        background: white;
    }

    .menu__icon span::before,
    .menu__icon span::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #fff;
        content: "";
    }
    .menu__icon span::before {
        top: -12.5px;
    }
    .menu__icon span::after {
        bottom: -12.5px;
    }
    .menu__icon-burger {
        background-color: transparent;
    }

    .menu__icon-burger span {
        transition: background 0s 0.3s;
    }

    .menu__icon-burger span::before,
    .menu__icon-burger span::after {
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
    }

    .menu__icon-burger span::before {
        transition-property: top, transform;
    }

    .menu__icon-burger span::after {
        transition-property: bottom, transform;
    }

    .menu__icon-burger.is-active {
        background-color: transparent;
    }


    .menu__icon-burger.is-active span {
        background: none;
    }

    .menu__icon-burger.is-active span::before {
        top: 0;
        transform: rotate(45deg);
    }

    .menu__icon-burger.is-active span::after {
        bottom: 0;
        transform: rotate(-45deg);
    }

    .menu__icon-burger.is-active span::before,
    .menu__icon-burger.is-active span::after {
        transition-delay: 0s, 0.3s;
    }
    .main__nav_dropdown{
        display: none;
        padding: 5px 20px;
    }
    .main__nav_dropdown>li>a>.menu_item{
        text-transform: uppercase;
        font-size: 12px;
    }
    .main__nav_dropdown>li{
        border-bottom: none;
    }
    .main__nav>li.nav--active-mobile{
        background-color: rgba(54,54,54,1);
    }
    .main__nav_dropdown.nav--active-mobile{
        background-color: rgba(45,45,45,1);
        display: block;
        position: relative;
    }
    .main__nav_dropdown>li>a{
        color: rgba(255,255,255,1);
    }
    .nav__dropdown{
        display: none !important;
    }
    .panels{
        display: none;
    }
    .section {
        padding-top: 50px !important
    }
    .container-resized{
        width: 100%;
    }
    .heading{
        margin-top: 3rem;
    }
    .flag__content .img img{
        width: 100%;
        margin: 0 auto
    }

    .lottery_games{
        bottom: 100px;
    }
    .lottery_game_item .img img{
        width: 65%;
    }
    .fish{
        margin: 0 auto;
    }  
    .fish_water_bg {
        max-width: 700px;
    }  
    .services{
        margin: 15% auto 0% auto;
    }
    .services--left,.services--right{
        float: none;
        width: 100%;
    }
    .footer__top .img{
        max-width: 100%;
    }
    .footer__text{
        line-height: 1.5;
        margin: 0;
        padding: 0;
        text-align: center
    }
}
@media screen and (max-width: 430px){
    .footer__links ul li{
        margin: 8px auto; 
    }
    .footer__links ul li a{
        padding: 20px; 
    }
    .fish_water_bg {
        max-width: 300px;
    }  
    .flag__content h4 {
        padding: 1% 2% 1% 2%;
        font-size: 1.25rem;
        text-align: left;
        font-style: normal;
    }

    .lottery_games{
        bottom: 0px;
    }
}

@media screen and (max-width: 320px){

}
