body{overflow:hidden}
.container-fluid {padding:0px;margin:0px;}

.background_wall{width:100%;height:100%}
#ag_menu .sub_menu .container ul li:hover{background:transparent!important}
#ag_menu .sub_menu .container ul li a:hover{background:url(assets/images/catchfish/transparent.png) repeat!important}
.model_image{width:100%;min-height:190px}
.agfishing{width:auto;height:190px;display:block;margin:0 auto}
.ggfishing{width:auto;height:190px;display:block;margin:0 auto}

.gamemod{width:100%;height:100%;position:relative;background-size:cover;overflow:hidden;display:block;xmargin-top:144px;overflow:hidden}
.helpoverlay{position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.5);z-index:9999;display:none}
.helpoverlay.active{display:block}
.window{width:730px;height:415px;background:url(assets/images/catchfish/window.png);background-size:100% 100%;background-position:center center;display:block;position:absolute;left:50%;margin-left:-365px;top:10%}
.tab-title{font-size:20px;color:#fff;font-weight:bolder;text-shadow:2px 2px 1px #01314c,-2px -2px 1px #01314c,2px -2px 1px #01314c,-2px 2px 1px #01314c;position:absolute;left:100px;top:30px}
.helpoverlay_close{width:61px;height:65px;background:url(assets/images/catchfish/x.png);background-size:100% 100%;background-position:center center;display:block;cursor:pointer;position:absolute;top:20px;right:-25px}
.window-content{width:569px;height:334px;background:url(assets/images/catchfish/window-content-bg.png);background-size:100% 100%;background-position:center center;display:block;cursor:pointer;position:relative;left:15px;bottom:-65px}
.buttons{position:absolute;right:15px;bottom:0;width:120px}
.buttons ul{padding:0}
.button{width:115px;height:49px;background:url(assets/images/catchfish/tab-button.png);background-size:100% 100%;background-position:center center;display:block;cursor:pointer;margin-bottom:20px;text-align:center;line-height:50px;font-size:20px;color:#212121;font-weight:bolder;text-shadow:2px 2px 1px #00a1dd,-2px -2px 1px #00a1dd,2px -2px 1px #00a1dd,-2px 2px 1px #00a1dd}
.button:hover{font-size:22px}
.button.active{width:140px;height:49px;background:url(assets/images/catchfish/tab-button-active.png);margin-left:-25px;position:relative;z-index:1;text-shadow:2px 2px 1px #f6c200,-2px -2px 1px #f6c200,2px -2px 1px #f6c200,-2px 2px 1px #f6c200;padding-left:5px;box-sizing:border-box}
.button.active:hover{font-size:20px}
.content-pic{width:569px;height:334px;display:none;cursor:pointer;position:relative;left:0;bottom:0;transition:all .4s ease-in-out}
.one{background:url(assets/images/catchfish/content-5.png);background-size:100% 100%;background-position:center center}
.two{background:url(assets/images/catchfish/content-1.jpg);background-size:100% 100%;background-position:center center}
.three{background:url(assets/images/catchfish/content-2.png);background-size:100% 100%;background-position:center center}
.four{background:url(assets/images/catchfish/content-3.png);background-size:100% 100%;background-position:center center}
.five{background:url(assets/images/catchfish/content-4.png);background-size:100% 100%;background-position:center center}
.content-pic.active{display:block;transition:all .4s ease-in-out}
.water{position:absolute;left:0;bottom:0;width:100%;height:auto;z-index:99;opacity:.9}
.full_wrapper{width:100%;height:100%;z-index:99;position:absolute;display:block;top:0}
.full_wrapper,.centered_container,.bg_top,.button_bottom{box-sizing:border-box}
.centered_container{width:783px;height:448px;position:absolute;top:30%;left:50%;transform:translate(-50%,-30%);z-index:99}
.bg_top{width:100%;display:block;height:80%}
.button_bottom{width:100%;display:block;height:20%;margin-top:-20px}
.bg_top{width:100%}
.button_row{float:left;width:50%;height:80px}
.button_right,.button_blue{width:253px;height:94px;border-radius:15px;display:block;margin:0 auto}

.button__fish{background-size:100% 100%;transition:all ease .3s; cursor: pointer;}
.button_right{background:url(../images/catchfish/button1.png) center center no-repeat;}
.button_blue{background:url(../images/catchfish/button2.png) center center no-repeat;}

.button_right:hover{height:84px;margin-top:10px}
.button_blue:hover{height:84px;margin-top:10px}
.nemo{position:absolute;z-index:99;right:0;bottom:22%}
.shark{position:absolute;z-index:99;left:0;bottom:15%}
.ag_container{display:block;margin:0 auto;width:970px;height:100%;z-index:98;position:relative}