body{overflow:hidden}
.container-fluid {padding:0px;margin:0px;}
.background_wall{width:100%;height:100%}
#ag_menu .sub_menu .container ul li:hover{background:transparent!important}
#ag_menu .sub_menu .container ul li a:hover{background:url(assets/images/catchfish/transparent.png) repeat!important}
.model_image{width:100%;min-height:190px}
.agfishing{width:auto;height:190px;display:block;margin:0 auto}
.ggfishing{width:auto;height:190px;display:block;margin:0 auto}
.gamemod{width:100%;height:100%;position:relative;background-size:cover;overflow:hidden;display:block;overflow:hidden}
.helpoverlay{position:absolute;left:0;right:0;top:0;bottom:0;background:rgba(0,0,0,.5);z-index:9999;display:none}
.helpoverlay.active{display:block}
.helpoverlay_close{width:61px;height:65px;background-color:#000;background-size:100% 100%;background-position:center center;display:block;cursor:pointer;position:absolute;top:20px;right:-25px}
.buttons{position:absolute;right:15px;bottom:0;width:120px}
.full_wrapper{width:100%;height:100%;z-index:99;position:absolute;display:block;top:0}
.full_wrapper,.centered_container,.bg_top,.button_bottom{box-sizing:border-box}
.centered_container{max-width:783px;position:absolute;top:30%;left:50%;transform:translate(-50%,-30%);z-index:99}
.bg_top{width:100%;display:block;height:80%}
.button_bottom{width:100%;display:block;height:20%;margin-top:-20px}
.bg_top{width:100%}
.button_row{float:left;width:50%;height:80px}
.button_right,.button_blue{width:253px;height:94px;border-radius:15px;display:block;margin:0 auto}


.button__fish{background-size:100% 100%;transition:all ease .3s; cursor: pointer;}
.button_right{background:url(../images/catchfish/button1.png) center center no-repeat;}
.button_blue{background:url(../images/catchfish/button2.png) center center no-repeat;}



.button_right:hover{height:84px;margin-top:10px}
.button_blue:hover{height:84px;margin-top:10px}
.ag_container{display:block;margin:0 auto;width:970px;height:100%;z-index:98;position:relative}
.bg_top img{width:100%}