
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* General fix */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* Normalization hacks */
* {box-sizing: border-box;}
html, body {width:100%;height:100%;}
img{outline:none;border:0px;}
button {cursor:pointer}

/* custom styles */
body {font-family: "Microsoft Yahei", Arial,"微软雅黑", STXihei, "华文细黑", sans-serif; background-color: rgba(212,212,212,1);}
/*.container {width:1295px;display:block;margin:0 auto;position:relative}*/

.header{
    box-shadow:0 5px 20px rgba(125,125,125,0.5);
     width:100%;
    border-bottom: 2.5px solid rgba(196, 135, 15,1);
}
.header.fixed{
    background: rgba(82,82,82,1);
    background: linear-gradient(-45deg ,rgba(82,82,82,.1) 65%, rgba(82,82,82,1) 50%),radial-gradient(circle farthest-side at 50% 150%, rgba(82,82,82,1) 20%, rgba(33,33,33,1) 75%);
    background: -webkit-linear-gradient(-225deg ,rgba(82,82,82,.1) 65%, rgba(82,82,82,1) 50%), -webkit-radial-gradient(50% 150%, circle,  rgba(82,82,82,1) 20%, rgba(33,33,33,1) 75%);
    background: -o-linear-gradient(-225deg ,rgba(82,82,82,.1) 65%, rgba(82,82,82,1) 50%), -o-radial-gradient(50% 150%, circle,  rgba(82,82,82,1) 20%, rgba(33,33,33,1) 75%); 
    background: -ms-linear-gradient(-225deg ,rgba(82,82,82,.1) 65%, rgba(82,82,82,1) 50%), -ms-radial-gradient(50% 150%, circle,  rgba(82,82,82,1) 20%, rgba(33,33,33,1) 75%); 
    background: -moz-linear-gradient(-225deg ,rgba(82,82,82,.1) 65%, rgba(82,82,82,1) 50%), -moz-radial-gradient(50% 150%, circle,  rgba(82,82,82,1) 20%, rgba(33,33,33,1) 75%); 
}
.fixed{
    position: fixed;
    z-index: 9999;
}
.logo{
    width: 90px;
    margin: 1%;
    float: left;
}
.user{
    float: right;
    margin: 1%;
    text-align: right;
}

.rowtop>span{
    color: rgba(255,255,255,1);
    font-size: 12px;
 }
.rowtop,.rowbottom{

}
.rowbottom {
    margin-top:10px;
}

.user .form .form-group .form-control {
    padding:2px 6px;height:25px;margin: 0 2px;
}
.form .form-group .form-control {
    max-width: 140px;display:inline;float:left;border:1px solid #C8C8C9;background:#979B9E;border-radius:0px;
}

.user .form .form-group .form-control {padding:2px 6px;height:25px;margin: 0 2px;}
img.code {height:25px;margin-left:-3px;border: 1px solid #C8C8C9}
.user .form .form-group .form-control {padding:2px 6px;height:25px;margin: 0 2px;}
.sec_code .form-control {width:50px;}
.form .form-group {float:left;}
.form .form-group .form-control {max-width: 140px;display:inline;float:left;border:1px solid #C8C8C9;background:#979B9E;border-radius:0px;}
.ibutton.login {background: #707070;padding:5px 10px;border:1px solid #707070;margin-left:5px;min-width: 80px;}
.ibutton.register {background: rgba(196, 135, 15,1);padding:5px 10px;border:1px solid rgba(196, 135, 15,1);min-width: 80px;}
.ibutton {border:0px;color:white;font-size:13px;text-transform:uppercase;}
 .hide {display:none;opacity: 0;}
.default {display:block}
.head_top,.head_bottom{
    display: block;
}

.main__nav li {
	float: left;
	margin: 0px;
}
.main__nav li a {
	line-height:1.9em;
	color:inherit;
	margin-bottom: 20px;
}
.menu_item {
	padding-left:10px;
	padding-right: 10px;
	font-size: 13px;
	font-weight: normal;
	
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.main__nav_dropdown{
    display: none;
}
.main__nav {
text-transform: uppercase;
}
.main__nav li {
	color: rgba(255,255,255,1); 
}
.main__nav li.active {
	color: rgba(196, 135, 15,1) !important;
}
.menu_item:before{
	content:" M ";
	color:transparent;
	font-weight:bolder;
	margin-right:5px;
	position:relative;image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;image-rendering:
	-o-crisp-edges;image-rendering:
	-webkit-optimize-contrast;
}

.menu_item-home:before,.menu_item-home::before{
	background: url(../images/menuicon_sprites.png)-35px -32px;
	font-size:20px;
}
.menu_item-home:hover:before,.menu_item-home:hover::before,
.menu_item-home.active:before,.menu_item-home.active::before {
	background: url(../images/menuicon_sprites.png);
	background-position: -3px -32px;
}
 
.menu_item-slots:before,.menu_item-slots::before{
	background: url(../images/menuicon_sprites.png) -98px -224px;
	font-size:20px
}
.menu_item-slots:hover:before,.menu_item-slots:hover::before,
.menu_item-slots.active:before,.menu_item-slots.active::before {
	background: url(../images/menuicon_sprites.png) -66px -224px;
}
 
.menu_item-tournament:before,.menu_item-tournament::before{
	background: url(../images/menuicon_sprites.png) -131px -31px;
	font-size:20px
}
.menu_item-tournament:hover:before,.menu_item-tournament:hover::before,
.menu_item-tournament.active:before,.menu_item-tournament.active::before {
	background: url(../images/menuicon_sprites.png) -131px 1px;
}
.menu_item-fishing:before,.menu_item-fishing::before{
	background: url(../images/menuicon_sprites.png) -99px 0px;
	font-size:20px
}
.menu_item-fishing:hover:before,.menu_item-fishing:hover::before,
.menu_item-fishing.active:before,.menu_item-fishing.active::before {
	background: url(../images/menuicon_sprites.png) -67px 0px;
}
.menu_item-livecasino:before,.menu_item-livecasino::before{
	background: url(../images/menuicon_sprites.png) -99px -31px;
	font-size:20px
}
.menu_item-livecasino:hover:before,.menu_item-livecasino:hover::before,
.menu_item-livecasino.active:before,.menu_item-livecasino.active::before {
	background: url(../images/menuicon_sprites.png) -67px -31px;;
}
.menu_item-lottery:before,.menu_item-lottery::before{
	background: url(../images/menuicon_sprites.png) -35px -65px;
	font-size:20px
}
.menu_item-lottery:hover:before,.menu_item-lottery:hover::before,
.menu_item-lottery.active:before,.menu_item-lottery.active::before {
	background: url(../images/menuicon_sprites.png) -3px -65px;
}
.menu_item-promotion:before,.menu_item-promotion::before{
	background: url(../images/menuicon_sprites.png) -35px -96px;
	font-size:20px
}
.menu_item-promotion:hover:before,.menu_item-promotion:hover::before,
.menu_item-promotion.active:before,.menu_item-promotion.active::before {
	background: url(../images/menuicon_sprites.png) -3px -96px;
}
.menu_item-vip:before,.menu_item-vip::before{
	background: url(../images/menuicon_sprites.png) -131px 32px;
	font-size:20px
}
.menu_item-vip:hover:before,.menu_item-vip:hover::before,
.menu_item-vip.active:before,.menu_item-vip.active::before {
	background: url(../images/menuicon_sprites.png) -131px 64px;
}
.menu_item-imobile:before,.menu_item-imobile::before{
	background: url(../images/menuicon_sprites.png) -99px -65px;
	font-size:20px
}
.menu_item-imobile:hover:before,.menu_item-imobile:hover::before,
.menu_item-imobile.active:before,.menu_item-imobile.active::before {
	background: url(../images/menuicon_sprites.png) -67px -65px;
}
.menu_item-affiliate:before,.menu_item-affiliate::before{
	background: url(../images/menuicon_sprites.png) -35px 1px;
	font-size:20px
}
.menu_item-affiliate:hover:before,.menu_item-affiliate:hover::before,
.menu_item-affiliate.active:before,.menu_item-affiliate.active::before {
	background: url(../images/menuicon_sprites.png) -3px 1px;
}
.main__nav>li>a{
    color: rgba(255,255,255,1);
    font-size: 12px; 
    margin: 0 0.5px 10px;
    text-transform: uppercase;
    display: block;
    position: relative;
}
.main__nav>li>a:after,.main__nav>li>a::after{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '';
    color: transparent;
    background:rgba(196, 135, 15,1);
    height: 3px;
}
.main__nav li a, 
.main__nav li a:after,
.main__nav li a::after{
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.main__nav li a:hover:after,.main__nav li a:hover::after{
    width: 100%
}
 
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel{
    left: 0px !important;
}
.carousel-indicators{
    position: relative;
    bottom: 20%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 2rem;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.carousel-indicators .active {
    margin: 0;
    width: 2rem;
    height: 8px;
    margin: 1px;
    background-color: rgba(255,255,255,1);
}

.member{
    display: block;
    text-align: right;
    color: rgba(255,255,255,1);
    font-size: 14px;
}
.member__title::after,.member__title:after{
    content: ":"
}
.member__info span{
    display: inline-block;
    margin: 1% 1% 2% 2%;
}
.member__name{
    color: rgba(196,135,15,1);
    font-weight: bold;

}
.member__logout{
    color: rgba(255,255,255,1);
    transition: border .5s ease;
    background: rgba(0,0,0,.5);
    padding: 5px;
    border-radius: 5px
}                                    
.member__logout:hover{
    color: rgba(196,135,15,1);
    cursor: pointer;
    transition: color .5s ease;
}
.member__nav>li{
    display: inline-block;
    background: rgba(196,135,15,1);
    padding: 1% 3.5%;
    min-width: 100px;
    text-align: center;
    transition: border .5s ease;
    cursor: pointer;

}
.member__nav>li>a{
    color: rgba(255,255,255,1);
}
.member__nav>li:hover{
    border-bottom: 1px solid rgba(196,135,15,1);
    background: none;
    transition: background .5s ease;
}
.wallet--active{
    border-bottom: 1px solid rgba(196,135,15,1);
    background: none !important;
    transition: background .5s ease;
}
.member__wallet{
    text-align: left;
    background: rgba(0,0,0,1)!important;
    border: none!important;
    z-index: 999;
    width: 300px;
}
.member__wallet{
    margin: 5px auto;
    position: relative;
}

.wallet__balance--left{
    text-align: left !important;
}
.wallet__balance--right{
    text-align: right !important;
    width: 20%;
}
.member__wallet_table{
    border: none;
}
.member__wallet_table tr{
    padding: 5px;
    transition: border 1s ease;

}
.member__wallet_table tr:hover{
    border-bottom: 1px solid rgba(196,135,15,1);
    cursor: pointer !important;
    color: rgba(196,135,15,1);
    transition: color .5s ease;
}


.bannerslide {width:100%;height:100%;}
.section {padding-top:139px !important}
.section--games{padding: 0 !important;}
h1,h2,h3,h4,h5,h6{line-height:1.5;font-style:italic;font-weight:700}
h1{font-size:2.5rem}
h2{font-size:2.25rem}
h3{font-size:2rem}
h4{font-size:1.8rem}
h5{font-size:1.4rem}
h6{font-size:1.2rem}
small{font-size:.7rem}
p,td{line-height:1.4}
.text--strong{font-weight:700}
.text--lightGrey{color:rgba(110,110,110,1)}
img{image-rendering:optimizeSpeed;image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast}
table{border:1px solid rgba(0,0,0,1);padding:1%;text-align:center;margin:10px auto;width:100%}
thead{font-weight:700}
td{width:200px;padding:5px 0}
td:first-child{text-align:left;padding-left:3%}
.promo__content{display:none;z-index:99;position:relative}
.active{display:block}
.promo__content--heading{padding:3%}
.promo__content--body{background-color:rgba(225,225,225,1);padding:3%;text-align:left;z-index:7;position:relative}
.promo__content--body p{padding-top:1%}
.promo__content--body ul{list-style:none;margin:5px 20px}
.promo__content--body ul li{margin-bottom:.5rem;line-height:1.3;padding-left:1.5rem;position:relative}
.promo__content--body ul li:after{content:'';height:.4em;width:.4em;background:rgba(0,0,0,1);display:block;position:absolute;transform:rotate(45deg);top:.25em;left:0}
.text--red{color:rgba(196,135,15,1)}
.text--grey{color:rgba(74,74,74,1)}
.text--light-grey{color:rgba(112,112,112,1)}
.img{display:block}
.img img{max-width:100%;height:auto}
.addHeight{height:800px!important}
.section__bg{background-color:rgba(201,201,201,1);position:absolute;bottom:0;top:50%;width:100%;height:250px;background-size:100% 100%;background-position:center center;object-fit:cover;background-size:contain;z-index:-4}
.heading{text-align:left}
.heading h1::before{content:" E ";
color:transparent;font-weight:bolder;
margin-right:5px;position:relative;
image-rendering:optimizeSpeed;
image-rendering:-moz-crisp-edges;
image-rendering:-o-crisp-edges;
image-rendering:-webkit-optimize-contrast}
.heading--slot h1::before{
    background:url(../images/spritesheethd.png) -240px -50px;
    background-size:300px;font-size:55px}
.heading--coins h1::before{background:url(../images/spritesheethd.png) -62px -50.5px;background-size:300px;font-size:60px}
.heading--flag h1::before{background:url(../images/spritesheethd.png) -183px -175px;background-size:300px;font-size:50px}
.heading--fish h1::before{background:url(../images/spritesheethd.png) -175px 10px;background-size:290px;font-size:55px}
.heading--mobile h1::before{background:url(../images/spritesheethd.png) -55px -152px;background-size:250px;font-size:40px}
.heading--gift h1::before{background:url(../images/spritesheethd.png) -180px -54px;background-size:300px;font-size:55px}
.btn{text-align:center}
.button p{margin-top:1rem;margin-left:1.5rem;color:rgba(196,135,15,1);text-transform:uppercase;font-size:16px}
a,.btn a:link,.btn a:active,.btn a:visited{color:rgba(178,0,0,1)}
a, a:hover, a:focus, a:visited, a:active, a:link{text-decoration:none;outline:none;color:rgba(196,135,15,1)}
.btn--go,.btn--back{
	display:inline-block;
	border:2.25px solid rgba(196,135,15,1);
	border-radius:50%;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);	margin-left:1.5rem;

}
.btn--go:after,.btn--go::after,.btn--back-small::after,.btn--back-small:after,.btn--back-small::after,.btn--back-small:after{
	content:'';
	display:inline-block;
	border-top:2.25px solid rgba(196,135,15,1);
	border-right:2.25px solid rgba(196,135,15,1);
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
}
.btn--back-small::after,.btn--back-small:after{
	-webkit-transform:rotate(225deg);
	-moz-transform:rotate(225deg);
	-o-transform:rotate(225deg);
	-ms-transform:rotate(225deg);
	transform:rotate(225deg);
}
.btn--go-small,.btn--back-small{
	height:3.75rem;
	width:3.75rem;
}
.btn--go-large{
    width: 4.5rem;
    height: 4.5rem;
}

.btn--go-small::after,.btn--go-small:after,.btn--back-small::after,.btn--back-small:after{
	width:1rem;
	height:1rem;
	margin-top:1.3rem;
	margin-left:-.5rem;
}
.btn--back-small::after,.btn--back-small:after{
	margin-left: 0.3rem;
}   
.btn--go-small:hover,.btn--go-large:hover,.btn--back-small:hover{
	background: rgba(196,135,15,1);
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn--go-small:hover::after,.btn--go-small:hover:after,.btn--go-large:hover::after,.btn--go-large:hover:after,.btn--back-small:hover::after,.btn--back-small:hover:after{
	border-top: 2.25px solid rgba(212,212,212,1);
	border-right: 2.25px solid rgba(212,212,212,1);
}

.btn--go-large:after,.btn--go-large::after{
	width:1.4rem;
	height:1.4rem;
	margin-top:1.45rem;
	margin-left:-.6rem;
}



.btn--play{
	height:auto;
	max-width:100%;
	background-color:rgba(89,89,89,1);
	color:rgba(255,255,255,1)!important;
	padding:30% 125%;
	border-radius:10px;
	font-size:13px;
	z-index:10!important;
	transition:.5s ease
}

.btn--play:hover{background-color:rgba(196,135,15,1)}


.slot__section--top{margin:10px auto;width:100%}
.slot__section--top h2{display:inline-block;margin-right:5%}
.slider__parent{margin-top:1%}
.slot__section--top .button{display:inline-block}
.slot__section--top .button p{display:inline-block}
.slot__section--btm{margin:15px auto}
.clock__container{height:5rem;position:relative}
.clock__container .clock{position:absolute;top:50%;left:50%;margin-right:-50%;transform:translate(-50%,-50%)}
.slot__center{
	width: 30%;
	height: auto;
	position: relative;
	z-index: 1;
}
.slot__center--games{
	margin: 1% auto;
}
.slot__center--main{
	margin: 4% auto;
}
.slot__logos{
	margin: 0px auto;
	text-align: center;
	top: 50px;
}
.slot__img{
	border-radius:50%;
	background-color:rgba(255,255,255,1);
	width:3.5rem;
	height:3.5rem;
	top:500px;
	border-radius:50%;
	margin:0 auto;
	display:inline-block;
	box-shadow:0 2.5px 5px rgba(0,0,0,.25);
	margin-right: 1%;
}
.slot__logos--bg{
	position:relative;
	border-radius: 5px; 
	background-color: rgba(177,177,177,1);
	padding: 4%;
	height: 5%;
	z-index: -1;
	bottom: 50px;
}
.slot__bg{background-color:rgba(176,176,176,1);width:29%;height:auto;min-height:2.5rem;position:relative;border-radius:2.5px;margin:0 auto;bottom:3.1rem;z-index:-1}
.slider{width:65%!important;margin:0 auto!important;background-color:rgba(196,196,196,1);padding:2% 2.5% 1%;box-shadow:0 100px 10px -101px rgba(0,0,0,.5);bottom:100px}
.slot__slider_shadow{position:relative}
.slot__slider_shadow:before,.slot__slider_shadow:after{z-index:-1;position:absolute;content:"";border-radius:50%;bottom:25px;left:80px;width:50%;height:35%;top:60%;max-width:500px;background:rgba(0,0,0,0.7);-webkit-box-shadow:0 35px 30px -8px rgba(0,0,0,0.7);-moz-box-shadow:0 35px 30px -8px rgba(0,0,0,0.7);box-shadow:0 35px 30px -8px rgba(0,0,0,0.5),0 25px 50px 25px rgba(0,0,0,0.25)}
.slot__slider_shadow:before{-webkit-transform:rotate(-3.5deg);-moz-transform:rotate(-3.5deg);-o-transform:rotate(-3.5deg);-ms-transform:rotate(-3.5deg);transform:rotate(-3.5deg)}
.slot__slider_shadow:after{-webkit-transform:rotate(3.5deg);-moz-transform:rotate(3.5deg);-o-transform:rotate(3.5deg);-ms-transform:rotate(3.5deg);transform:rotate(3.5deg);right:80px;left:auto}
.slot__section--btm .img{margin:5px 5px 0}
.slot__section--btm .button{top: -200px;position:relative; left:-1%;}
.img figure img{border:.5rem solid rgba(215,215,215,1);background-color:rgba(172,172,172,1)}
.img>a>p{text-align:center;font-size:14px;position:relative;padding:3%; color: rgba(50,50,50,1);}
.slot,.flag,.mobile,.promo{margin:0 auto;text-align:center}
.promo{position:relative;width:65%}
.promo__container .img{margin-bottom:10px}
.promo--slider{top:100px}
.promo__controls{text-transform:uppercase;text-align:right;margin:0 auto;bottom:50px;margin-bottom:5%;font-size:14px}
.promo__controls a{padding:5px;text-decoration:none;cursor:pointer}
.inactive{display:none!important}
.slider__bg{display:inline-block;position:relative;bottom: 51px;width:5rem;height:5rem;background-color:rgba(196,196,196,1);border-radius:50%;box-shadow:0 3px 5px rgba(0,0,0,0.2)}
.slider__bg-prev{right:570px}
.slider__bg-next{left:570px}
.slick-slide{margin:0 20px}
.slick-slide img{width:100%}
.slick-prev:before,.slick-next:before{color:#000}
.live__container{max-width:65%}
.live__contents{margin:0 auto;position:relative;z-index:3}
.live--sa{width:54%;bottom:310px;margin:5% 6%;float:right}
.live--mg{width:54%;bottom:450px;float:left}
.live--ag{width:54%;bottom:650px;margin:5% 6%;float:right;z-index:3}
.live--pt{width:54%;bottom:791px;float:left}
.live__model{max-width:70%;position:relative}
.live__model--sa{left:-3rem}
.live__model--mg{left:2.5rem;top:4rem}
.live__model--ag{left:5rem;bottom:4rem}
.live__model--pt{left:7rem;position:relative;max-width:60%}
.live__btn{margin:0 auto;max-width:10%;z-index:100;position:relative;top:140px;opacity:1;filter:grayscale(100%);-webkit-filter:grayscale(100%);transition:background-color .5s ease-out}
.live__btn:hover{opacity:1;filter:grayscale(0%);-webkit-filter:grayscale(0%)}
.live__btn--sa{right:130px}
.live__btn--ag{right:90px;top:90px}
.live__btn--pt{top:7rem}
.live--girlsa{background:url(../images/girlsa.png);width:100%;height:auto;background-repeat:no-repeat;background-size:contain;margin:0 auto}
.live__background{
	background:url(../images/live_wm.jpg);
	width:100%;
	height:auto;
	background-repeat:no-repeat;
	background-size:contain;
	margin:0 auto;

	position: relative; 
	top: 50px;
}
.live__slider{
	text-align:right;
	bottom: 15px!important;
	text-align: right; 
	z-index: 1;
}

.live__slider .img{
	display: inline-block; 
	margin: 20px auto; 

}
.img--live-slides{
	display: inline-block; 
	margin: 5px auto; 
	padding: 5px;
}
.live__background .button{
	margin: -15px auto; 
	text-align: center;
}
.button__slides--pt{
	margin: 15px auto!important;
}
.live__slider .img img{
	display:inline-block;
	margin:0 auto
}
.live_control{
	display:inline-block;
	position:relative;
	top:-245px;
	width:10rem;
	height:12rem;
	background-color:rgba(255,255,255,0.25);
	z-index:1
}
.live__control-next{
	left:800px;
}
.live__girls-slider{
	text-align: right; 
	z-index: 1;
}
.livegirls__image{
	float: left ;
	position: relative ;
	z-index: 1 ;
	bottom: -25px;
}
.livegirls__image img{
	width: 280px;
}
.live__title{
	display: inline-block; 
	position: relative;
	top: 20px;
}

.live__title--sa img{
	text-align: right; 
	position: relative; 
	left: 550px; 
	float: right
}




.live__title--sa,.live__title--mg, .live__title--pt,.live__title--ag{
	display: inline-block; 
	position: relative; 
	top: 20px;
}

.live__title--sa .text--lightGrey,
.live__title--mg .text--lightGrey,
.live__title--pt .text--lightGrey,
.live__title--ag .text--lightGrey{
	text-align: left ;
	font-size: 3.25rem ; 
	font-weight: 300 ;
}
.live__title img{
	text-align: right; 
	position: relative; 
	float: right;

}
.live__title--mg img,.live__title--pt img,.live__title--ag img{
	left: 370px;
}
.live--slides-mg{
	left:100px	
}
/*.live__title--sa .img{
	left: 550px !important; 
}
.live__title--mg .img{
	left: 370px !important; 
}
.live__title--pt .img{
	left: 370px; 
}
.live__title--ag .img{
	left: 370px; 

}*/

.img>a>figure{
  position: relative;
  width: 100%;
}
.slot__games--content-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	background-color: rgba(110,110,110,0.4);
}
.slot__games--content-overlay>.slot__games_button{
	display: block;
	position: relative;
 	margin: 2rem auto;
}
.slot__games_button>button{
	display: block;
}
.img:hover>a>figure>.slot__games--content-overlay{
 	opacity: 1;
 	border: 1px solid rgba(196,135,15,.5);
}

.img:hover>a>figure>.slot__games--content-overlay>.slot__games_button{
	opacity: 1;
	animation: open-pop-up .24s ease-in-out;
}
.slot__games_button--demo,.slot__games_button--play {
	position: relative;
	max-width: 150px;
	text-align: center;
	border: none;
	color: rgba(255,255,255,1);
	padding: 0.5rem 0.8rem;
	z-index: 1;
	display: block;
	margin: 1rem auto;
	animation: open-popup .24s ease-in-out;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.slot__games_button--play{
	background: rgba(196,135,15,1);
}
.slot__games_button--demo{
	background: rgba(74,74,74,1);
}
.slot__games_button--demo:hover,.slot__games_button--play:hover,
.slot__games_button--demo:hover,.slot__games_button--play:hover{
	opacity:.6;filter:grayscale(100%);-webkit-filter:grayscale(100%)
}
.slot__games_button--demo:focus,.slot__games_button--play:focus,
input,button{
	border: none !important;
	box-shadow: none !important;
	outline: 0;
}
@keyframes open-pop-up{
	0% {
	    display: none;
	    opacity: 0;
	}
	 1% {
	    display: block;
	    opacity: 0;
	    transform: scale(0);
	}
	 100% {
	    opacity: 1;
	    transform: scale(1);
	}
}
.btn--sa{margin-left:1.35rem}
.btn--mg{margin-left:1.25rem}
.btn--ag{margin-left:1.3rem}
.btn--pt{margin-left:.75rem}
.live__logos{min-width:225px;position:relative;z-index:-1;transition:1s ease;width:50%;margin-top:2%}
.live__logos-sa{right:86px;top:15px}
.live__logos-mg{right:60px;top:15px}
.live__logos-ag{right:50px;top:15px}
.live__logos-pt{right:45px;top:15px}
.live__games{width:100%;position:relative}
.live__games::before{-webkit-box-shadow:0 -15px 25px -15px rgba(100,100,100,.3);-moz-box-shadow:0 -15px 25px -15px rgba(100,100,100,.3);box-shadow:0 -15px 25px -15px rgba(100,100,100,.3)}
.live__games:nth-child(1){z-index:-1;border:none;max-width:90%;margin:0 auto;top:40px}
.live__games:nth-child(2){background:rgba(172,172,172,1);top:0;height:220px;z-index:2;margin-left:10%;width:90%}
.live__games:nth-child(3){background:rgba(191,191,191,1);top:-140px;height:150px;z-index:3;margin-right:10%;width:90%}
.live__games:nth-child(4){background:rgba(196,196,196,1);top:-140px;height:220px;z-index:4;margin-left:10%;width:90%}
.live__games:nth-child(5){background:rgba(214,214,214,1);top:-270px;height:140px;z-index:5;width:100%}
.live__right,.live__left,.live__right::before,.live__left::before,.live__right::after,.live__left::after{transition:background-color .5s ease-out}
.live__right:nth-child(2)::before,.live__right:nth-child(2)::after{-webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg);-o-transform:rotate(-8deg);-ms-transform:rotate(-8deg);transform:skewY(-8deg)}
.live__right:nth-child(4)::before,.live__right:nth-child(4)::after{-webkit-transform:rotate(-10deg);-moz-transform:rotate(-10deg);-o-transform:rotate(-10deg);-ms-transform:rotate(-10deg);transform:skewY(-10deg)}
.live__left:nth-child(1)::before,.live__left:nth-child(1)::after{-webkit-transform:rotate(7deg);-moz-transform:rotate(7deg);-o-transform:rotate(7deg);-ms-transform:rotate(7deg);transform:skewY(7deg);padding-left:-50%}
.live__left:nth-child(3)::before,.live__left:nth-child(3)::after{-webkit-transform:rotate(7deg);-moz-transform:rotate(7deg);-o-transform:rotate(7deg);-ms-transform:rotate(7deg);transform:skewY(7deg)}
.live__left:nth-child(5)::before,.live__left:nth-child(5)::after{-webkit-transform:rotate(5deg);-moz-transform:rotate(5deg);-o-transform:rotate(5deg);-ms-transform:rotate(5deg);transform:skewY(5deg);right:0;left:0;bottom:0}
.live__lr::before,.live__lr::after{content:'';height:100%;width:100%;position:absolute;background:inherit}
.live__right::before,.live__right::after{transform-origin:left top}
.live__left::before,.live__left::after{top:0;transform-origin:right top}
.flag__content{margin:0 auto}
.flag__content h4{width:600px;margin:10px auto;padding-bottom:1%}
.flag__content img{width:55%}
.fish{width:65%;display:block;margin:0 auto;position:relative;top:125px}
.fish__logo{width:70%;margin:0 15%}
.fish__img{height:auto;overflow:hidden;position:relative;display:inline-block;border:none}
.fish__img img{-webkit-transition:all .25s linear;transition:all .25s linear; }
.fish__img::before{position:absolute;top:0;left:-85%;z-index:2;display:block;content:'';width:50%;height:100%;
background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);
background:linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(255,255,255,.3) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}
.fish__img:hover::before{-webkit-animation:shine 1s;animation:shine 1s}
@-webkit-keyframes shine {100%{left:125%}}
@keyframes shine {100%{left:125%}}
.mobile{margin-top:3%}
.mobile__content{width:400px;background-color:rgba(212,212,212,1);padding:3%;margin:5%;text-align:left;height:100%}
.mobile__content h3{font-style:normal}
.mobile__content p{font-size:15px}
.qrcode{background-color:rgba(189,189,189,1);text-align:center;height:100%;padding:1%;margin-top:5%}
.qrcode__img{margin-top:5%;border-right:1px solid rgba(148,148,148,1)}
.qrcode .row .img img{border-radius:5px}
.qrcode__link{font-size:17px;padding-top:65px}
.qrcode--btm{font-size:15px;color:rgba(255,255,255,1)}
.btn--mobile{position:relative;margin:0 auto}
.services{bottom:70px;position:relative;left:100px}
.services--left{position:relative;margin-right:-40px}
.services--right{position:relative;margin-left:-40px}
.services__block{background-color:rgba(221,221,221,1);height:10rem;width:10rem;padding:3.5%;text-align:center;margin:2%;display:inline-block}
.services__block h5{margin-top:8%}
.services__block p{font-size:14px}
.services__block h5::before{content:" EGC ";color:transparent;position:relative;font-size:25px}
.services--devices h5::before{background:url(../images/spritesheet_footer.png) -5px -15px;background-size:220px}
.services--gift h5::before{background:url(../images/spritesheet_footer.png) -65px -10px;background-size:220px}
.services--csr h5::before{background:url(../images/spritesheet_footer.png) -145px -10px;background-size:220px}
.services--lock h5::before{background:url(../images/spritesheet_footer.png) 8px -70px;background-size:220px}
.services--net h5::before{background:url(../images/spritesheet_footer.png) -70px -70px;background-size:220px}
.services--card h5::before{background:url(../images/spritesheet_footer.png) -145px -75px;background-size:220px}
.app{margin:0 auto;text-align:center}
.app p{
	font-weight: 300;
}
.app__head-first{
	margin-bottom: 10px; display: none
}
.app__text-first{
	font-size: 1.15rem;
	width: 380px;
	margin: 0 auto;
	display: none;
}
.heading--mobile-hide{
display: none
}
.app__image-gold{
display: inline-block; 
width: 3.5%;
}
.app__text-second{
display: inline-block; text-align: left
}
.app__text-second--title{
position: relative; bottom: 10px;font-style: normal;font-weight: 400;
}
.app__head-second{
text-align: left; width: 470px; margin: 10% auto; left: 20%; position: relative;
}
.app__head-second>p{
	font-size: 1.25rem
}
.app__head-second>.img>img{
width: 100%;margin-top: 2%;
}
.app__image--slot{
max-width: 90%;margin: 10% auto;right: 20%;position: relative;
}
.app__image--live{
width: 250px;
}
.app__text-third{
font-size: 1.25rem; width: 590px; margin: 0 auto  
}
.app__image-platforms{
margin: 0 auto;
}
.mobile__img{width:80%;padding:1%}
.mobile__img--left{margin-right:-30%}
.mobile__img--right{margin-left:-30%}
.slotty p,.live p,.platforms p{font-size:1.25rem}
.text--big{font-size:1.75rem}
.info__text h5{font-style:none}
div h4{margin-bottom:2%}
.slot__content p{width:500px}
.live{height:100%;background:url(../images/live_bg.png) no-repeat;background-size:contain}
.live__content{text-align:right;width:500px;margin:18% auto}
.platforms__text{text-align:center}
.platforms .img{width:60%;margin:0 auto;margin-top:5%}
.carousel{position:relative;left:350px;margin:0 auto}
footer{height:100%;background-color:rgba(150,150,150,1)}
.footer__top{background-color:rgba(255,255,255,1);text-align:center;color:rgba(141,141,141,1);padding:2% 8%;font-size:.8rem}
.footer__top .img{max-width:78%;margin:0 auto}
.footer__links{
    margin: 0% auto 2% auto;
}
.footer__links>ul>li{
display: inline-block;
margin: 1%
}
.footer__links>ul>li>a,.footer__links>ul>li>a:active,.footer__links>ul>li>a:visited,.footer__links>ul>li>a:link{
color:rgba(74,74,74,1)
}
.footer__links>ul>li>a:hover{
color:rgba(196,135,15,1)
}
.footer__text{margin-left:26%;margin-right:14%;text-align:left}
.footer__text p{line-height:1.25}
.footer__btm{background-color:rgba(150,150,150,1);padding:1%;text-align:center;color:rgba(79,79,79,1);font-size:1rem}
.img--grayscale{opacity:.6;filter:grayscale(100%);-webkit-filter:grayscale(100%)}
#fp-nav{display:none}
.lSPager{visibility:hidden!important}


/* adjusted */
.live__model--ag img  {margin-top:15px;}

/* new css  */
.container-fluid {overflow:hidden;height: 100%;}
.button span {cursor: pointer}
.heading.heading--mobile {margin-top:30px;}
.fish_water_bg {position:absolute;display:block;margin:0 auto; left:0;right:0; top: -225px;z-index:-2}
.lottery_games {width: 822px;display:block;margin:0 auto;position:absolute;left:0;right:0;bottom:0;}
.lottery_games .lottery_game_item {float:left;width:23%;margin: 5px;}
.lottery_games .lottery_game_item img {display:block;margin:0 auto;}
.hide {display:none;opacity:0;transition: opacity 0.2s ease-in}
.slot__img span img {	
	width: 56px; 
	position: absolute; 
	left: -28px; 
	top: 0;
	transition:  filter .5s ease;
	opacity:.5;
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
}

.slot__img span img:hover{
	opacity:1;
	filter:grayscale(0%);
	-webkit-filter:grayscale(0%);
}
.slot__active{
	opacity:1 !important;
	filter:grayscale(0%) !important;
	-webkit-filter:grayscale(0%) !important;
}
.slot__img{
	cursor: pointer;
}
.slot__img>span{
	position: relative;
}

/*Slot Page*/
.slot__games{
	width: 68% !important;
	margin: 1.5% auto !important;
	background-color: rgba(196,196,196,1); 
	padding: 2% 2.5% 1% 3.5%; 
	bottom: 110px;
	/*z-index: -1;*/
	position: relative;
/*	-webkit-box-shadow: 0 10px 20px   rgba(0,0,0,0.5);
	-moz-box-shadow: 0 10px 20px   rgba(0,0,0,0.5);
	box-shadow: 0 10px 20px   rgba(0,0,0,0.5)*/
}
.slot__games--header{
    margin: 3% 2% 3% 2%;
}
.slot__search{
	text-align: right;
}
.slot__search span{
	font-size: 0.9rem;
}
.slot__games--header span{
	text-transform: uppercase;
	font-weight: 300;
}
.slot__search input{
	border: none;
	background: rgba( 255,255,255,1);
	width: 70%;
	height: 2.25rem;
	text-indent: 10px;
}
.slot__search .fa-search{
	position: relative;
	right: 2rem;
}
.slot__games .img{
	margin: 0px 5px 0px 5px;
}
.games__bg{
	background-color: rgba(201,201,201,1);
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background-position: center center;
    object-fit: cover;
    background-size: contain;
    z-index: -4;

}
.slot__games--content .img{
	display: inline-block;
}
.slot__games--content{
	text-align: center;
}
.slot__games--category{
	display: inline-block;
	margin: 1% auto;
	margin-right: 2%;
	min-width: 100px;
}
/*.slot--category{
	float: left;
}*/
.slot__games--category>a,
.slot__games--category>a:visited
.slot__games--category>a:link{
	cursor: pointer; 
	color: rgba(0,0,0,1); 
	text-transform: capitalize; 
	font-size: 1rem; 
	font-weight: 300;
	transition: .5s ease;
}
.slot__games--category>a:hover,
.slot__games--category>a:focus,
.slot__games--category>a:active{
	color: rgba(196,135,15,1);
}
.slot__games--category>a>img{
	width: 30px; 
	height: auto; 
	vertical-align: middle !important;
}
.slick-slider {
    bottom: 220px;
}




/* new styles */
.hlp_btn {cursor: pointer}
.slot__logos,.slot__center--games {width: 537px;}
#section2 {padding-top:30px;}
.footer__btm p {font-size: 14px;}

 
.head_bottom>.text--large,button,.menu__icon.menu__icon-burger>span,.mobile__header_content-user{
    display: none;
}
.container-header{
    width: 70%; 

}

.rowtop, .rowbottom{
    float: none;
    text-align: right;
}

/*.nav__mobile{
	display: none;
}*/