.btn a:link,.btn a:active,.btn a:visited{
	color: $primary;
}

a{
	&:hover,&:focus,&:visited,&:active,&:link{
		text-decoration:none;
		outline:none;
		color: $primary;
	}
}
img{
	image-rendering:optimizeSpeed;
	image-rendering:-moz-crisp-edges;
	image-rendering:-o-crisp-edges;
	image-rendering:-webkit-optimize-contrast
}
table{
	border:1px solid rgba(0,0,0,1);
	padding:1%;
	text-align:center;
	margin:10px auto;
	width:100%
}
thead{
	@extend .text--strong;
}
td{
	width:200px;
	padding:5px 0;
	:first-child{
		text-align:left;
		padding-left:3%
	}
}
.img {
	img{
		max-width:100%;height:auto
	}
	figure img{
		border:.5rem solid rgba(215,215,215,1);
		background-color:rgba(172,172,172,1);
	}
	a{
		p{
			text-align:center;
			font-size:14px;
			position:relative;
			padding:3%; 
			color: rgba(50,50,50,1);
		}
	}
} 
.img--grayscale{
	opacity:.6;
	filter:grayscale(100%);
	-webkit-filter:grayscale(100%);
}


.btn{
	text-align:center
}
.button p{
    margin-top:1rem;
    margin-left:1.5rem;
    color:$primary;
    text-transform:uppercase;
    font-size:16px
}

.btn--go,.btn--back{
	display:inline-block;
	border:2.25px solid rgba(196,135,15,1);
	border-radius:50%;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);	
	margin-left:1.5rem;
}
.btn--go:after,.btn--go::after,.btn--back-small::after,.btn--back-small:after,.btn--back-small::after,.btn--back-small:after{
	content:'';
	display:inline-block;
	border-top:2.25px solid rgba(196,135,15,1);
	border-right:2.25px solid rgba(196,135,15,1);
	@include rotateElement(45deg);
}
.btn--back-small::after,.btn--back-small:after{
	@include rotateElement(225deg);
}
.btn--go-small,.btn--back-small{
	height:3.75rem;
	width:3.75rem;
}
.btn--go-large{
    width: 4.5rem;
    height: 4.5rem;
}

.btn--go-small::after,.btn--go-small:after,.btn--back-small::after,.btn--back-small:after{
	width:1rem;
	height:1rem;
	margin-top:1.3rem;
	margin-left:-.5rem;
}
.btn--back-small::after,.btn--back-small:after{
	margin-left: 0.3rem;
}   
.btn--go-small:hover,.btn--go-large:hover,.btn--back-small:hover{
	background: $primary;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.btn--go-small:hover::after,.btn--go-small:hover:after,.btn--go-large:hover::after,.btn--go-large:hover:after,.btn--back-small:hover::after,.btn--back-small:hover:after{
	border-top: 2.25px solid rgba(212,212,212,1);
	border-right: 2.25px solid rgba(212,212,212,1);
}

.btn--go-large:after,.btn--go-large::after{
	width:1.4rem;
	height:1.4rem;
	margin-top:1.45rem;
	margin-left:-.6rem;
}

.btn--play{
	height:auto;
	max-width:100%;
	background-color:rgba(89,89,89,1);
	color: $plainWhite!important;
	padding:30% 125%;
	border-radius:10px;
	font-size:13px;
	z-index:10!important;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	cursor: pointer;
}

.btn--play:hover{
	background-color: $primary;
}


.section__bg{
	background-color:rgba(201,201,201,1);
	position:absolute;
	bottom:0;
	top:50%;
	width:100%;
	height:250px;
	background-size:100% 100%;
	background-position:center center;
	object-fit:cover;
	background-size:contain;
	z-index:-4
}
.btn--mobile{
	position:relative;
	margin:0 auto
}
.container-resized{
	width: 80%;
}
input,button{
	border: none !important;
	box-shadow: none !important;
	outline: 0;
}

/*.section{
	padding-top: 140px !important;
	.fp-section.fp-table.active.fp-completely{
		padding-top:280px!important
	}
}
.container-fluid {
	overflow:hidden;
	height: 100%;
}
.container-resized{
	width: 70%;
}

.fp-auto-height{
	padding-top: 0px !important
}
.lSPager{
	visibility:hidden!important
}
*/