$primary: rgba(196, 135, 15,1);
$secondary: rgba(212,212,212,1);
$grey: rgba(110,110,110,1);
$lightGrey: rgba(112,112,112,1);

$navGrey: rgba(196, 135, 15,1);
$navGreyActive: rgba(196, 135, 15,1);
$plainWhite: rgba(255, 255, 255,1);
