$font-stack: "Microsoft Yahei", Arial,"微软雅黑", STXihei, "华文细黑", sans-serif;
.text--strong{
	font-weight:700
}
.text--light{
	font-weight: 300
}
.text--big {
    font-size: 1.75rem;
}
.text--red{
	color: $primary;
}
.text--lightGrey{
	color: $grey;
}

h1,h2,h3,h4,h5,h6{
	@extend .text--strong;
	line-height:1.5;
	font-style:italic;
}
h1{
	font-size:2.5rem
}
h2{
	font-size:2.25rem
}
h3{
	font-size:2rem
}
h4{
	font-size:1.8rem
}
h5{
	font-size:1.4rem
}
h6{
	font-size:1.2rem
}
small{
	font-size:.7rem
}
p,td{
	line-height:1.4
}
body {
	font-family: $font-stack; 
	background-color: $secondary;
}

.heading{
	text-align:left;
	h1{
		&:before, &::before{
			content:" E ";
			color:transparent;
			font-weight:bolder;
			margin-right:5px;
			position:relative;
			image-rendering:optimizeSpeed;
			image-rendering:-moz-crisp-edges;
			image-rendering:-o-crisp-edges;
			image-rendering:-webkit-optimize-contrast;
		}
	}
}
.heading--slot h1{
	&:before, &::before{
		background:url(../images/spritesheethd.png) -240px -50px;
		background-size:300px;
		font-size:55px;
	}
}
.heading--coins h1{
	&:before, &::before{
		background:url(../images/spritesheethd.png) -62px -50.5px;
		background-size:300px;
		font-size:60px;
	}
}
.heading--flag h1{
	&:before, &::before{
		background:url(../images/spritesheethd.png) -183px -175px;
		background-size:300px;
		font-size:50px;
	}
}
.heading--fish h1{
	&:before, &::before{
		background:url(../images/spritesheethd.png) -175px 10px;
		background-size:290px;
		font-size:55px;
	}
}
.heading--mobile h1{
	&:before, &::before{
		background:url(../images/spritesheethd.png) -55px -152px;
		background-size:250px;
		font-size:40px;
	}
}
.heading--gift h1{
	&:before, &::before{
		background:url(../images/spritesheethd.png) -180px -54px;
		background-size:300px;
		font-size:55px;
	}
}