/*FISH GG*/
.fish_page{
	overflow: none;
}
.container-fish{
	padding: 0;
	margin-top:5rem;
}
.fish__container{
	position: relative;
	margin: 5% auto;
}
.fish__row{
	text-align: center;
	position: relative;
	z-index: 3
}
.fish__row--mobile {
	margin-top: 10%; 
	a img{
		width: 200px
	}
}

.fish__container .img img{
	position: relative;
	margin: 0 auto;
	z-index: 3;
	max-width: 45%; 

}
.fishgames--gg, .fishgames--pt, .fishgames--ag{
    background: url(../images/catchfish/bg.png) no-repeat;
    height: 100%; 
    width:100%;
    background-position: center;
    background-size: cover;
    overflow:hidden;
}
.fishgames__container{
	text-align: center;
	margin: 0 auto;
	position: relative;
}
.fishgames--title{
	text-align: center;
	position: relative;
	margin: 0 auto;
}
.shark{
	position: absolute;
	bottom: 20%;
	left: 20%;
}
.nemo{
    position: absolute;
    bottom: 15%;
    right: 20%;
    width: 320px;
}
.water{
	position: absolute; 
	width:100%;
	height:auto;
	opacity:.9;
	z-index: 0;
	bottom: 0;
}
.bg_top{
	width:100%;
	display:block;
	height:80%;
}
.fish__row .button__fish{
	display: inline-block;
	margin: auto 3%
}
.button_right,.button_blue{
	width:253px;
	height:94px;
	@include borderRadius(15px);
	display:block;
	margin:0 auto;
	cursor: pointer;
}
.button_right{
	background:url(../images/catchfish/button1.png) center center no-repeat;
}
.button_blue{
	background:url(../images/catchfish/button2.png) center center no-repeat;
}
.button_right:hover{
	height:84px;
	margin-top:10px;
}
.button_blue:hover{
	height:84px;
	margin-top:10px;
}
.fish__button--container{
	width: 100%;
    display: block;
    height: 20%;
}
.button__fish--left, .button__fish--right{
    float: left;
    width: 50%;
    height: 80px;
}


.helpoverlay{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background:rgba(0,0,0,.5);
	z-index:9999;
	display:none;
}
.helpoverlay.active{
	display:block;
}
.window{
	background-size:100% 100% !important;
	background-position:center center !important;
	display:block;
	position:absolute;
    @include translate(-50%, 0%);
    left: 50%;
	top:10%;
}
.window--gg{
	background:url(../images/catchfish/gg/main.png);
	width:863px;
	height:545px;
}
.window--ag{
	background:url(../images/catchfish/ag/window--ag.png);
    width: 860px;
    height: 540px;
}
.window--pt{
	background:url(../images/catchfish/window-content-bg.png);
}
.tab-title{
	font-size:20px;
	color:#fff;
	font-weight:bolder;
	text-shadow:2px 2px 1px #01314c,-2px -2px 1px #01314c,2px -2px 1px #01314c,-2px 2px 1px #01314c;
	position:absolute;
    left: 125px;
    top: 35px;
}
.helpoverlay_close{
	width:61px;
	height:65px;
	background-size:100% 100%;
	background-position:center center;
	display:block;
	cursor:pointer;
	position:absolute;
	top:59px;
	right:-5px;
}
.helpoverlay_close--gg, .helpoverlay_close--ag{
	background:url(../images/catchfish/x.png);
}

.window-content{
	width:594px;
	height:auto;
	background-size:100% 100%;
	background-position:center center;
	display:block;
	cursor:pointer;
	position:relative;
	left:46px;
	top:116px;
}

.help__button--container{
	position:absolute;
	right:43px;
	top:114px;
	width:169px;
}
.help__button--container ul{
	padding:0;
}
.help__button{
	width:172px;
	height:62px;
	background-size:100% 100%;
	background-position:center center;
	display:block;
	cursor:pointer;
	margin-bottom:18px;
	text-align:center;
	line-height:50px;
	font-size:20px;
	color:#212121;
	font-weight:bolder;
	text-shadow:2px 2px 1px #00a1dd,-2px -2px 1px #00a1dd,2px -2px 1px #00a1dd,-2px 2px 1px #00a1dd;
}
.help__button:hover{
	font-size:22px;
}
.help__button.active{
	position:relative;
	z-index:1;
	box-sizing:border-box;
}
.help__button img{
	width:139px;
}
.help__button--ag{
	width:115px;
	height:49px;
	background:url(../images/catchfish/ag/tab-button.png);
	background-size:100% 100%;
	background-position:center center;
	display:block;
	cursor:pointer;
	margin-bottom:20px;
	text-align:center;
	line-height:50px;
	font-size:20px;
	color:#212121;
	font-weight:bolder;
	text-shadow:2px 2px 1px #00a1dd,-2px -2px 1px #00a1dd,2px -2px 1px #00a1dd,-2px 2px 1px #00a1dd;
}
.help__button--ag.active{
	width:140px;
	height:49px;
	background:url(../images/catchfish/ag/tab-button-active.png);
	margin-left:-25px;
	position:relative;
	z-index:1;
	text-shadow:2px 2px 1px #f6c200,-2px -2px 1px #f6c200,2px -2px 1px #f6c200,-2px 2px 1px #f6c200;
	padding-left:5px;
	box-sizing:border-box;
}

.content-pic{
	width:100%;
	display:none;
	cursor:pointer;
	position:relative;
	left:0;
	bottom:0;
	@include transition(all, 0.3s, cubic-bezier(.25,.8,.25,1));
	background-size:100% 100% !important;
	background-position:center center !important;
	height:383px !important;
}

.window-content--gg .one{
	background: url(../images/catchfish/gg/content-1.png) no-repeat;

}
.window-content--gg .two{
	background: url(../images/catchfish/gg/content-2.png) no-repeat;
}
.window-content--gg .three{
	background: url(../images/catchfish/gg/content-3.png) no-repeat;
}
.window-content--gg .four{
	background: url(../images/catchfish/gg/content-4.png) no-repeat;
}
.window-content--gg .five{
	background: url(../images/catchfish/gg/content-5.png) no-repeat;
}


.content-pic.active{
    @include transition(all, 0.3s, cubic-bezier(.25,.8,.25,1));
}

.window-content--ag .one{
	background: url(../images/catchfish/ag/content-1.png) no-repeat;

}
.window-content--ag .two{
	background: url(../images/catchfish/ag/content-2.jpg) no-repeat;
}
.window-content--ag .three{
	background: url(../images/catchfish/ag/content-3.png) no-repeat;
}
.window-content--ag .four{
	background: url(../images/catchfish/ag/content-4.png) no-repeat;
}
.window-content--ag .five{
	background: url(../images/catchfish/ag/content-5.png) no-repeat;
}