/*CAROUSEL*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.carousel{
    left: 0px;
    position:relative;
    margin:0 auto;
}
.carousel-indicators{
    bottom: 5%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    list-style: none;
    text-align: center;
    li {
        display: inline-block;
        width: 1rem;
        height: 8px;
        margin: 1px;
        text-indent: -999px;
        border: none;
        @include borderRadius(0px);
        cursor: pointer;
        background-color: rgba(255,255,255,0.5);
        @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
    }
    .active {
        margin: 0;
        width: 2.5rem;
        height: 8px;
        margin: 1px;
        background-color: $plainWhite;
    }
}

/*CLOCK SLOT GAMES*/
.slot,.flag,.mobile,.promo{
    margin:0 auto;
    text-align:center;
}
.mobiler{
    text-align:center;
}

.slot__platforms{
    width:100%;
    margin:5% auto 0% auto;
    background-color:rgba(196,196,196,1);
    padding:2% 1%;
    @include boxShadow(0 100px 10px -101px rgba(0,0,0,.5));
}
.slot__platforms_shadow{
    position:relative
}
.slot__platforms_shadow:before,.slot__platforms_shadow:after{
    z-index:-1;
    position:absolute;
    content:"";
    @include borderRadius(50%);
    bottom:25px;
    left:80px;
    width:50%;
    height:35%;
    top:55%;
    max-width:500px;
    background:rgba(0,0,0,0.7);
    @include boxShadow((0 35px 30px -8px rgba(0,0,0,0.5),0 25px 50px 25px rgba(0,0,0,0.25)));
}
.slot__platforms_shadow:before{
    @include rotate(-3.5);
}
.slot__platforms_shadow:after{
    @include rotate(3.5);
    right:80px;
    left:auto;
}
.slot__platforms_block{
    height:  9rem;
    width: 9rem;
    background-color: rgba(225,225,225,1); 
    display: inline-block;
    margin: 5px 5px;
    position: relative;
    background-size: contain !important;
    background-size: 100% 100%;
    @include boxShadow((0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)));
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
    &:hover{
        @include boxShadow((0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)));
    }
    &:after, &::after,  &:before, &::before{
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border-style: solid;
        line-height: 0px;
        margin-right: 50px; 
        left: 0;
    }
    &:before, &::before{
        border-bottom-color: $yellow; 
        z-index: 1;
        border-width: 2rem 5rem 0 0;
        border-color: #ffc44e transparent transparent transparent;
    }
    &:after, &::after{
        border-bottom-color: $primary;  
        z-index: 2;
        border-width: 0 8rem 3rem 0;
        border-color: transparent $primary transparent transparent;
    }
}
.slot__platforms--logo{
        z-index: 3;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        background-size: contain;
        text-align: right;
        display: inline-block;
}
.slot__platforms--pt{
    background: rgba(225,225,225,1) url(../images/platforms/pt.png) no-repeat;
}
.slot__platforms--mg{
    background: rgba(225,225,225,1) url(../images/platforms/mg.png) no-repeat;
}
.slot__platforms--ttg{
    background: rgba(225,225,225,1) url(../images/platforms/ttg.png) no-repeat;
}
.slot__platforms--png{
    background: rgba(225,225,225,1) url(../images/platforms/png.png) no-repeat;
}
.slot__platforms--bs{
    background: rgba(225,225,225,1) url(../images/platforms/bs.png) no-repeat;
}
.slot__platforms--isb{
    background: rgba(225,225,225,1) url(../images/platforms/isb.png) no-repeat;
}
.slot__platforms--fg{
    background: rgba(225,225,225,1) url(../images/platforms/fg.png) no-repeat;
}
.slot__platforms--hb{
    background: rgba(225,225,225,1) url(../images/platforms/hb.png) no-repeat;
}

.slot__platforms--pt,.slot__platforms--mg,.slot__platforms--ttg,.slot__platforms--png,
.slot__platforms--bs,.slot__platforms--isb,.slot__platforms--fg,.slot__platforms--hb{
    &:before, &::before{
        left: 0rem;
    }
    &:after, &::after{
        left: 1rem;
    }
    .slot__platforms--logo{
        right: 0rem;
    }
}
.slot__section--first{
    margin:10px auto;
    width:100%;
    h2{
        display:inline-block;
        margin-right:5%
    }
    .button{
        display:inline-block;
        p{
            display:inline-block
        }
    }
}

.slot__section--content{
    margin:15px auto;
    background: url(../images/barbarian.png) -50px top no-repeat, url(../images/trophy.png) right -40px no-repeat;
    background-size: contain;
    @include renderPixel;
}
.slot__section--btn{
    margin: 0 auto;
    .button{
        position: relative;
    }
}

.clock__container{
    height:5rem;
    position:relative;
    .clock{
        position:absolute;
        top:50%;
        left:50%;
        margin-right:-50%;
        @include translate(-50%,-50%);
    }

}



/*LIVE*/
.section--live{
    margin-top: 5rem;
}
.page--live{
    padding-top: 5rem;
}

.section__bg--live{
    top: 35%;
}
.live__row--adjust{
margin-top: 5% !important;
}
.live__heading--coins{
    position: absolute;
}
.live__container{
    max-width: 80%;
    margin: 0 auto;
}
.live__container--home{
    padding-top: 3%;
}
.live__contents{
    margin:0 auto;
    position:relative;
    z-index:3;
}
.live__contents--container{
    max-width: 300px;
    .img, .live__btn{
        display: inline-block !important;
        position: relative !important;
        img{
            width: 80% !important;
        }
    }

}
.live__logos-sa,
.live__logos-ag,
.live__logos-mg,
.live__logos-pt{
    img{
        width: 85%;
    }
}

.live--sa{
    bottom:240px;
    float:right;
    right: 260px;
}
.live--ag{
    right: -160px;
    bottom: 260px;
    float: right;
}
.live--mg{
    float: left;
    bottom: 200px;
    left: 300px;
}


.live--pt{
    bottom: 5px;
    left: 400px;
    position: absolute;
}

.live__model{
    max-width:70%;
    position:relative;
}
.live__model--sa{
    left:-3rem;
}
.live__model--mg{
    left:2.5rem;
    top:4rem;
}
.live__model--ag{
    left:5rem;
    bottom:4rem;
}
.live__model--pt{
    left:7rem;
    position:relative;
    max-width:60%;
}
.live__btn{
    margin:0 auto;
    max-width:10%;
    z-index:100;
    position:relative;
    @inlude: transition(background-color, .5s, ease-out);
    @include opacity(1);
    @include filter(grayscale, 100%);
}
.live__btn:hover{
            @include opacity(1);
        @include filter(grayscale, 0%);
}

.live__logos-sa{
    right:86px;
    bottom:5px;
}
.live__logos-mg{
    right:60px;
    bottom:15px
}
.live__logos-ag{
    right:50px;
    bottom:5px
}
.live__logos-pt{
    right:45px;
    bottom:5px
}

.live__btn--sa{
    left: 140px;
    bottom: 50px;
}
.live__btn--ag{
    left: 50px;
    bottom: 50px;
}
.live__btn--pt{
    right: 200px;
    bottom: 30px;
}
.live__btn--mg{
    right: 150px;
    bottom: 50px;
}

.live__background{
    background:url(../images/live_wm.jpg);
    width:100%;
    height:auto;
    background-repeat:no-repeat;
    background-size:contain;
    margin:0 auto;
    position: relative; 
    top: 50px;
}
.live__right,.live__left{
    &:before, &::before, &:after, &::after{
        @inlude: transition(background-color, .5s, ease-out);
    }
}
.live__right:nth-child(2){
    &:before, &::before, &:after, &::after{
        @include rotate(8);
        @include skew(0, -8);
        right:0;
        left:0;
        bottom:0        
    }
}
.live__right:nth-child(4){
    &:before, &::before, &:after, &::after{
        @include rotate(-10);
        @include skew(0, -10); 
        right:0; 
    }
}
.live__left:nth-child(1){
    &:before, &::before, &:after, &::after{
        padding-left:-50%;
        @include rotate(7);
        @include skew(0, 7);
    }
}
.live__left:nth-child(3){
    &:before, &::before, &:after, &::after{
        @include rotate(7);
        @include skew(0, 7);
        left:0;
    }
}
.live__left:nth-child(5){
    &:before, &::before, &:after, &::after{
        @include rotate(5);
        @include skew(0, 5);
        right:0;
        left:0;
        bottom:0
    }
}
.live__lr{
    &:before, &::before, &:after, &::after{
        content:'';
        height:100%;
        width:100%;
        position:absolute;
        background:inherit;
    }
}
.live__right{
    &:before, &::before, &:after, &::after{
        @include transform-origin(left, top)
    }
}
.live__left{
    &:before, &::before, &:after, &::after{
        top: 0;
        @include transform-origin(right, top)
    }
}
/*LIVE SLIDER  PAGE*/
.live__slider{
    text-align:right;
    bottom: 15px!important;
    text-align: right; 
    z-index: 1;
}

.live__slider .img{
    display: inline-block; 
    margin: 20px auto; 

}
.img--live-slides{
    display: inline-block; 
    margin: 5px auto; 
    padding: 5px;
}
.live__background .button{
    margin: -15px auto; 
    text-align: center;
}
.button__slides--pt{
    margin: 15px auto!important;
}
.live__slider .img img{
    display:inline-block;
    margin:0 auto
}
.live_control{
    display:inline-block;
    position:relative;
    top:-245px;
    width:10rem;
    height:12rem;
    background-color:rgba(255,255,255,0.25);
    z-index:1
}
.live__control-next{
    left:800px;
}
.live__girls-slider{
    text-align: right; 
    z-index: 1;
}
.livegirls__image{
    float: left ;
    position: relative ;
    z-index: 1 ;
    bottom: -25px;
}
.livegirls__image img{
    width: 280px;
}


.live__title{
    display: inline-block; 
    position: relative;
    top: 50px;
}

.live__title--sa img{
    text-align: right; 
    position: relative; 
    left: 500px; 
    float: right
}

.live__title--sa .text--lightGrey,
.live__title--mg .text--lightGrey,
.live__title--pt .text--lightGrey,
.live__title--ag .text--lightGrey{
    text-align: left ;
    font-size: 3.25rem ; 
    font-weight: 300 ;
}
.live__title img{
    text-align: right; 
    position: relative; 
    float: right;

}
.live__title--mg img,.live__title--pt img,.live__title--ag img{
    left: 330px;
}
.live--slides-mg{
    left:100px  
}

.live__logos{
    min-width:225px;
    position:relative;
    z-index:-1;
    @include transition(all, 1s, ease);
    width:50%;
    margin-top:2%
}

.live__games{
    width:100%;
    position:relative
}
.live__games::before{
    @include boxShadow(0 -15px 25px -15px rgba(100,100,100,.3));
}
.live__games:nth-child(1){
    z-index:-1;
    border:none;
    max-width:90%;
    margin:0 auto;
    top:40px;
}
.live__games:nth-child(2){
    background:rgba(172,172,172,1);
    top: 20px;
    height:140px;
    z-index:2;
    margin-left:10%;
    width:90%
}
.live__games:nth-child(3){
    background:rgba(191,191,191,1);
    bottom:60px;
    height:140px;
    z-index:3;
    margin-right:10%;
    width:90%
}
.live__games:nth-child(4){
    background:rgba(196,196,196,1);
    top:-60px;
    height:170px;
    z-index:4;
    margin-left:10%;
    width:90%
}
.live__games:nth-child(5){
    background:rgba(214,214,214,1);
    bottom:160px;
    height:100px;
    z-index:5;
    width:100%;
}

.slick-prev, .slick-next{
    &:before, &::before{
        color: $primary!important;
    }
}
/*FLAG*/
.lottery__game{
    position: relative;
    left: 0; 
    top: 0;
    img{
        width: 70%; 
    }
}
.flag__content{
    margin:0 auto;
}
.flag__content h4{
    max-width:600px;
    margin:10px auto;
    padding: 1% 0%;
}

.lottery_game_item {
    position: absolute;
    top: 65%;
    left: 50%;
    @include translate(-50%, 0%);
    .img{
        max-width: 125px;
    }
}
.lottery_game_item a{
    margin: auto 10px; 
    width: 150px;
    display: inline-block;
    z-index: 2;

}
.lottery_game_item .img img{
    @include opacity(1);
    @include filter(grayscale, 100%);
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
    @include transform(scale(1));
    &:hover{
        @include filter(grayscale, 0%);
        @include transform(scale(1.1));
    }

}
/*FISH GAMES*/
.heading.heading--fish{
    // position: absolute;
    margin-top: 5%;
    margin-bottom: -5%;
}
.fish{
    margin: 10% auto;
    text-align: center;
}
.fish__section .img{
    display: inline-block;
    max-width: 350px;
    margin: auto 2%;
}
.fish__logo{
    width:70%;
    margin:0 15%;
}
.fish__img{
    height:auto;
    overflow:hidden;
    position:relative;
    display:inline-block;
    border:none;

    margin: 5% auto;
    img{
        @include transition(all, .25s, linear); 
    }
    &::before, &:before{
        position:absolute;
        top:0;left:-85%;
        z-index:2;
        display:block;
        content:'';
        width:50%;
        height:100%;
        @include linearGradient(rgba(255,255,255,0), rgba(255,255,255,.3));
        @include skew(-25, 0);
    }
    &:hover{
        &::before, &:before{
            @include animation(shine, 1s, initial, 0s, inherit)
        }
    }
}
.fish_water_bg {
    position: absolute;
    left: 50%;
    top: 52.5%;
    @include translate(-50%, -50%);
    z-index: -2;
    width: 50%;
}
.btn--rectangle {
    vertical-align: middle;
    text-align: center; 
    background-color: rgba(196,135,15,1); 
    width: 100%; 
    color: rgba(255,255,255,1); 
    margin: 20px auto 0px;;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: 2px solid rgba(196,135,15,1);
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;

    &:hover{
        background: $secondary;
   }
}
.btn--large{
    padding: 0.5rem 2.5rem; 
}
/*MOBILE SERVICES*/
.mobile__content--container{
    position: relative; 
    display: inline-block;
    margin: auto 5%; 
    vertical-align: middle;
}
.mobile__content--container img{
    max-width: 650px;
}

.mobile__content{
    max-width:400px;
    background-color:rgba(212,212,212,1);
    padding:2%;
    margin: 3% auto;
    text-align:left;
    height:100%;
    h3{
        font-style:normal;
    }
    p{
        font-size:15px
    }
}

.qrcode{
    background-color:rgba(189,189,189,1);
    text-align:center;
    height:100%;
    padding:1%;
    margin-top:5%;
    .row .img img{
        @include borderRadius(5px)
    }
}
.qrcode__img{
    margin-top:5%;
    border-right:1px solid rgba(148,148,148,1)
}
.qrcode__link{
    font-size:17px;
    padding-top:65px;
}
.qrcode--btm{
    font-size:15px;
    color:rgba(255,255,255,1)
}
.services{
    text-align: center; 
    margin: 2% auto;
}
.services__block{
    background-color:rgba(221,221,221,1);
    height:150px;
    width:150px;
    padding:1%;
    margin:1%;
    display:inline-block;
    color: $greyServices;
    h5{
        margin-top:20%;
        &before,&::before{
            content:" EGC ";
            color:transparent;
            position:relative;
            font-size:25px;
        }
    }
    p{
        font-size:14px
    }
}


.section__bg--mobile{
    top: 30%;
}

.services--devices h5::before{
    background:url(../images/spritesheet_footer.png) -5px -15px;
    background-size:220px;
}
.services--gift h5::before{
    background:url(../images/spritesheet_footer.png) -65px -10px;
    background-size:220px;
}
.services--csr h5::before{
    background:url(../images/spritesheet_footer.png) -145px -10px;
    background-size:220px;
}
.services--lock h5::before{
    background:url(../images/spritesheet_footer.png) 8px -70px;
    background-size:220px;
}
.services--net h5::before{
    background:url(../images/spritesheet_footer.png) -70px -70px;
    background-size:220px;
}
.services--card h5::before{
    background:url(../images/spritesheet_footer.png) -145px -75px;
    background-size:220px;
}