/*MOBILE APP PAGE*/
.app{
	margin:0 auto;
	text-align:center;
}

.app__section{
	h3{
		text-align: right
	}
	div p{
		font-weight: 300;
		text-align: right;
		margin: 0 auto;
	}

}
.img__app{
	display: inline-block;
	img{
		min-width: 300px;
		width: 100%;
		max-width: 750px;
	}
}
.section__bg_app--section{
	top: 60%;
}
.app__section_images{
	margin: 0 auto;
}
.app__section_platforms{
	background: rgba(218,218,218,1);
	max-width: 430px;
	width: 100%;
	padding: 1rem;
	margin: 5% auto;
	.app__section_platforms--qr{
		margin: 1rem auto;
		display: inline-block;
		img{
			margin: 0 auto;
			vertical-align: middle;
			&:last-child{
				width: 100px;
			}
		}
	}
}
.app__section_platforms--label{
	display: inline-block;
	vertical-align: middle;
	p{
		display: block;
		text-align: center !important;
	}

}
.app__section--gold{
	img{
		display: inline-block; 
		width: 6%;
		vertical-align: middle
	}
	h6{
		display: inline-block;
		font-style: normal;
		font-weight: 300;
		vertical-align: middle
	}

}
.app__section_content{
	position: absolute;
	vertical-align: middle;
	font-weight: 300;
	margin: 5% auto;
	max-width: 300px;
	width: 100%;
}
.app__section_content--left{
	h4{
		text-align: left;
	}
	p{
		text-align:left !important;
	}
}
.app__section_content--right{
	margin-left: 50%;
	h4{
		text-align: right;
	}
	p{
		
		text-align:right ;
	}
}
.app__section_gaming{
	font-size: 1.25rem;
	margin: 0 auto; 
	p{
		text-align: center !important;
		width: 590px;
	}
}

.slot__platforms_triangle{
    position:relative;
    width: 100%;
    margin: 10% auto;
    margin-bottom: -2%;
    max-width: 1000px;
    a{
		&:first-child {
	    	&:hover>.slot__platforms_block--rotate{
	    		background: red;
	    	}
		}
		&:nth-child(2) {
	    	&:hover>.slot__platforms_block--rotate{
	    		background: orange;
	    	}
		}
		&:nth-child(3) {
	    	&:hover>.slot__platforms_block--rotate{
	    		background: yellow;
	    	}
		}
		&:nth-child(4) {
	    	&:hover>.slot__platforms_block--rotate{
	    		background: green;
	    	}
		}
		&:nth-child(5) {
		    margin-left: 17%;
	    	&:hover>.slot__platforms_block--rotate{
	    		background: blue;
	    	}
		}
		&:nth-child(6) {
	    	&:hover>.slot__platforms_block--rotate{
	    		background: indigo;
	    	}
		}
		&:nth-child(7) {
	    	&:hover>.slot__platforms_block--rotate{
	    		background: purple;
	    	}
		}
		&:last-child {
	    	&:hover>.slot__platforms_block--rotate{
	    		background: violet;
	    	}
		}
    }

    &:before, &::before, &:after, &::after{
    	content:"";
	    z-index:-1;
	    position:absolute;
	    width: 35%;
	    padding-bottom: 35%;
	    background:rgba(200,200,200,1);
	   @include rotate(45);

    }
    &:before, &::before{
    	left: 18%;
    	bottom: 0;
    }
    &:after, &::after{
    	right: 14%;
    	top: 0;
    }
}

.slot__platforms_block--rotate {
    height:  9rem;
    width: 9rem;
    background-color: rgba(225,225,225,1); 
    display: inline-block;
    margin-right: 7%;
    position: relative;
    background-size: contain !important;
    background-size: 100% 100%;
    @include transition(all, .3s, cubic-bezier(.25,.8,.25,1));
	@include rotate(-135);
    &:before, &::before{
        content: ' ';
        height: 0;
        position: absolute;
        width: 0;
        border-style: solid;
        line-height: 0px;
        margin-right: 50px; 
        left: 0;
    }
    &:before, &::before{
        border-bottom-color: $primary; 
        z-index: 1;
        border-width: 6rem 6rem  0 0 ;
        border-color: $primary transparent transparent   transparent;
    }
    img{
		@include rotate(135);
        z-index: 3;
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
		margin-top: 10px;
		margin-left: -60px;
    }
    &:after, &::after{
		content:"";
 		display:block;
		height:  9rem;
    	width: 9rem;
		@include rotate(135);
    }
}


.slot__platforms_block--rotate-pt{
    &:after, &::after{
		background: url(../images/platforms/pt.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}
.slot__platforms_block--rotate-mg{
    &:after, &::after{
		background: url(../images/platforms/mg.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}
.slot__platforms_block--rotate-ttg{
    &:after, &::after{
		background: url(../images/platforms/ttg.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}
.slot__platforms_block--rotate-png{
    &:after, &::after{
		background: url(../images/platforms/png.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}
.slot__platforms_block--rotate-bs{
    &:after, &::after{
		background: url(../images/platforms/bs.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}
.slot__platforms_block--rotate-isb{
    
    &:after, &::after{
		background:  url(../images/platforms/isb.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}
.slot__platforms_block--rotate-fg{
    
    &:after, &::after{
		background: url(../images/platforms/fg.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}
.slot__platforms_block--rotate-hb{
    &:after, &::after{
    	background:  url(../images/platforms/hb.png) no-repeat;
		background-size: contain;
		background-size: 85%;
		margin: 15% auto;
    }
}

.slot__platforms--pt,.slot__platforms--mg,.slot__platforms--ttg,.slot__platforms--png,
.slot__platforms--bs,.slot__platforms--isb,.slot__platforms--fg,.slot__platforms--hb{
    &:before, &::before{
        left: 0rem;
    }
    &:after, &::after{
        left: 1rem;
    }
    .slot__platforms--logo{
        right: 0rem;
    }
}
