/*PROMOTIONS PAGE*/
.section--promo{
    padding-top:  140px!important;
    height: 100%;
    .container-fluid{
        margin-top: 3.5%;
    }
}
.promo__grid{
    max-width: 1000px;
    width: 100%;
    margin: 2% auto !important;
}

.promo__grid--image{
    margin: 1%;
    display: inline-block;
    a{
        figure{
            // width: 100%;
            width: 300px;
            height: 300px;
            background: $greyFooter;
            border: .5rem solid rgba(255,255,255,1);
            @include boxShadow(0px 10px 20px -5px rgba(0,0,0,.5));
        }
    }
    &:nth-of-type(3n){
        clear: left;
    }
}