/*SLOT GAMES PAGE*/
.section--games{
	padding-top: 140px;
}
.slot__img {
	cursor: pointer;
	span img {	
		width: 56px; 
		position: absolute; 
		left: -28px; 
		top: 0;
		transition:  filter .5s ease;
		@include opacity(.5);
		@include filter(grayscale, 100%);
		&:hover{
			opacity:1 !important;
			filter:grayscale(0%) !important;
			-webkit-filter:grayscale(0%) !important;
		}
	}
	span{
		position: relative;
	}
}

.slot__active{
	opacity:1 !important;
	filter:grayscale(0%) !important;
	-webkit-filter:grayscale(0%) !important;
}
.slot__games--header-pt{
	&::before, &:before{
		content: "PlayTech"
	}
}
.slot__games--header-mg{
	&::before, &:before{
		content: "Microgaming"
	}
}
.slot__games--header-ttg{
	&::before, &:before{
		content: "Top Trend Gaming"
	}
}
.slot__games--header-png{
	&::before, &:before{
		content: "Play 'n Go"
	}
}
.slot__games--header-bs{
	&::before, &:before{
		content: "BetSoft Gaming"
	}
}
.slot__games--header-isb{
	&::before, &:before{
		content: "iSoftBet"
	}
}
.slot__games--header-fg{
	&::before, &:before{
		content: "Flow Gaming"
	}
}
.slot__games--header-hb{
	&::before, &:before{
		content: "Habanero Gaming"
	}
}
.slot__header--major{
	height: 450px
}
.slot__games{
	width: 68%;
	margin: 2% auto;
	background-color: rgba(196,196,196,1); 
	padding: 2% 2.5% 1% 3.5%; 
	bottom: 110px;
	position: relative;
}
.slot__games--header{
    margin: 3% 2% 3% 2%;
    span{
		text-transform: uppercase;
		font-weight: 300;
	}
}
.slot__games--header-title{
	font-weight: 300;
	font-style: normal
}
.slot__search{
	text-align: right;
	span{
		font-size: 0.9rem;
	}
	input{
		border: none;
		background: rgba( 255,255,255,1);
		width: 70%;
		height: 2.25rem;
		text-indent: 10px;
	}
	.fa-search{
		position: relative;
		right: 2rem;
	}
} 

.slot__games .img{
	margin: 0px 5px 0px 5px;
}

.slot__games--content {
	text-align: center;
	.img{
		display: inline-block;
	}
}
.slot__games--content{
	
}
.slot__games--category{
	display: block;
	margin: 3% auto;
	min-width: 100px;
	ul{
		li{
			display: inline-block;
			margin: auto .2rem;
			padding: .3rem .8rem;
  			@include transition(all, 0.5s, ease);
			a{
				color: $grey;
				 &:visited, &:link, &:focus{
					color: $grey;
				}
				&:hover{
					color: $primary;
  					@include transition(all, 0.5s, ease);
				}
			}
		}
	}
}

.slot__games--category-active{
	background: $primary;
	color: $plainWhite !important;
	border-radius: 5rem;
	a{
	color: $plainWhite !important;

	}
	&:active{
		@extend .slot__games--category-active;
	}
}

.slot__games--content-overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	@include transition(all, 0.3s, cubic-bezier(.25,.8,.25,1));
	background-color: rgba(110,110,110,0.4);
}
.slot__games--content-overlay>.slot__games_button{
	display: block;
	position: relative;
 	margin: 2rem auto;
}
.slots__filtr-item{
  position: relative;
  width: 100%;
}
.slot__games_button>button{
	display: block;
}
.slots__filtr-item:hover>.slot__games--content-overlay{
 	@include opacity(1);
 	border: 1px solid rgba(196,135,15,.5);
}

.slots__filtr-item:hover>.slot__games--content-overlay>.slot__games_button{
	@include opacity(1);
    @include animation(open-pop-up, .24s, ease-in-out, 0s, 1);
}
.slot__games_button--demo,.slot__games_button--play {
	position: relative;
	max-width: 150px;
	text-align: center;
	border: none;
	color: rgba(255,255,255,1);
	padding: 0.5rem 0.8rem;
	z-index: 1;
	display: block;
	margin: 1rem auto;
	@include transition(all, 0.3s, cubic-bezier(.25,.8,.25,1));
}
.slot__games_button--play{
	background: rgba(196,135,15,1);
}
.slot__games_button--demo{
	background: rgba(74,74,74,1);
}
.slot__games_button--demo:hover,.slot__games_button--play:hover,
.slot__games_button--demo:hover,.slot__games_button--play:hover{
    @include opacity(.6);
    @include filter(grayscale, 100%);
}
.slot__center{
	width: 30%;
	height: auto;
	position: relative;
	z-index: 1;
}
.slot__center--games{
	margin: 1% auto;
}
.slot__center--main{
	margin: 4% auto;
}
.slot__logos{
	margin: 0px auto;
	text-align: center;
	top: 50px;
}
.slot__img{
	@include borderRadius(50%);
	background-color:rgba(255,255,255,1);
	width:3.5rem;
	height:3.5rem;
	top:500px;
	@include borderRadius(50%);
	margin:0 auto;
	display:inline-block;
	@include boxShadow(0 2.5px 5px rgba(0,0,0,.25));
	margin-right: 1%;
}
.slot__logos--bg{
	position:relative;
	@include borderRadius(5px);
	background-color: rgba(177,177,177,1);
	padding: 4%;
	height: 5%;
	z-index: -1;
	bottom: 50px;
}
.games__bg{
	background-color: rgba(201,201,201,1);
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 250px;
    background-size: 100% 100%;
    background-position: center center;
    object-fit: cover;
    background-size: contain;
    z-index: -4;
}
.filtr-item{
	padding: 0rem 1rem 1rem .5rem;
	p{
		text-align: center
	}
}