.container-header{
    width: 70%;
}
.header{
    box-shadow:0 5px 20px rgba(125,125,125,0.5);
    width:100%;
    border-bottom: 2.5px solid $primary;
}
.header.fixed{
	@include navBackground( rgba(82,82,82,.1), rgba(82,82,82,1), rgba(33,33,33,1));
}
.fixed{
    position: fixed;
    z-index: 9999;
}
.logo{
    width: 90px;
    margin: 1%;
    float: left;
}
.user{
    float: right;
    margin: 1%;
    text-align: right;
    .form .form-group .form-control {
    	padding:2px 6px;
    	height:25px;
    	margin: 0 2px;
	}

}
.form .form-group {
	float:left;
	.form-control {
	    max-width: 140px;
	    display:inline;
	    float:left;
	    border:1px solid #C8C8C9;
	    background:#979B9E;
	    border-radius:0px;
	}
}

.rowtop, .rowbottom{
    float: none;
    text-align: right;
}
.rowtop span{
    color: rgba(255,255,255,1);
    font-size: 12px;
}
.rowbottom {
    margin-top:10px;
} 


.code {
	height:25px;
	margin-left:-3px;
	border: 1px solid #C8C8C9
}
.sec_code .form-control {
	width:50px;
}
.ibutton {
	border:0px;
	color:white;
	font-size:13px;
	text-transform:uppercase;
	min-width: 80px;
	padding:5px 10px;
}

.login {
	@extend .ibutton;
	background: $lightGrey;
	border:1px solid $lightGrey;
	margin-left:5px;
}
.register {
	@extend .ibutton;
	background: $primary;
	border:1px solid $primary;
}
.hide {
 	display:none;
}
.default {
	display:block
}

.head_top,.head_bottom{
    display: block;
}

.main__nav {
	text-transform: uppercase;
	li {
		float: left;
		margin: 0px;
		color: rgba(255,255,255,1); 
		a {
			line-height:1.9em;
			color:inherit;
			font-size: 12px; 
			margin: 0 0.5px 10px;
			text-transform: uppercase;
			display: block;
			position: relative;
			transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			&:after, &::after{
				position: absolute;
				bottom: -10px;
				left: 0;
				right: 0;
				margin: auto;
				width: 0%;
				content: '';
				color: transparent;
				background:rgba(196, 135, 15,1);
				height: 3px;
				transition: all 0.3s cubic-bezier(.25,.8,.25,1);
			}
		}
	}
	.active {
		color: rgba(196, 135, 15,1) !important;
	}
}

.menu_item {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	font-weight: normal;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	&:before, &::before{
		content:" M ";
		color:transparent;
		font-weight:bolder;
		margin-right:5px;
		position:relative;
		image-rendering:optimizeSpeed;
		image-rendering:-moz-crisp-edges;
		image-rendering:-o-crisp-edges;
		image-rendering:-webkit-optimize-contrast;
	}
}

.main__nav li a:hover{
	&:after,&::after{
		width: 100%
	}
}

.menu_item-home,.menu_item-slots,.menu_item-tournament,.menu_item-fishing,.menu_item-livecasino,.menu_item-lottery, .menu_item-promotion, .menu_item-vip, .menu_item-affiliate, .menu_item-imobile{
	&:before, &::before{
		font-size:20px;
	}
}

.menu_item-home:before,.menu_item-home::before{
	background: url(../images/menuicon_sprites.png)-35px -32px;
}
.menu_item-home:hover:before,.menu_item-home:hover::before,
.menu_item-home.active:before,.menu_item-home.active::before {
	background: url(assets/images/menuicon_sprites.png)-3px -32px;
}
 
.menu_item-slots:before,.menu_item-slots::before{
	background: url(assets/images/menuicon_sprites.png) -98px -224px;
}
.menu_item-slots:hover:before,.menu_item-slots:hover::before,
.menu_item-slots.active:before,.menu_item-slots.active::before {
	background: url(assets/images/menuicon_sprites.png) -66px -224px;
}
 
.menu_item-tournament:before,.menu_item-tournament::before{
	background: url(assets/images/menuicon_sprites.png) -131px -31px;
}
.menu_item-tournament:hover:before,.menu_item-tournament:hover::before,
.menu_item-tournament.active:before,.menu_item-tournament.active::before {
	background: url(assets/images/menuicon_sprites.png) -131px 1px;
}
.menu_item-fishing:before,.menu_item-fishing::before{
	background: url(assets/images/menuicon_sprites.png) -99px 0px;
}
.menu_item-fishing:hover:before,.menu_item-fishing:hover::before,
.menu_item-fishing.active:before,.menu_item-fishing.active::before {
	background: url(assets/images/menuicon_sprites.png) -67px 0px;
}
.menu_item-livecasino:before,.menu_item-livecasino::before{
	background: url(assets/images/menuicon_sprites.png) -99px -31px;
}
.menu_item-livecasino:hover:before,.menu_item-livecasino:hover::before,
.menu_item-livecasino.active:before,.menu_item-livecasino.active::before {
	background: url(assets/images/menuicon_sprites.png) -67px -31px;;
}
.menu_item-lottery:before,.menu_item-lottery::before{
	background: url(assets/images/menuicon_sprites.png) -35px -65px;
}
.menu_item-lottery:hover:before,.menu_item-lottery:hover::before,
.menu_item-lottery.active:before,.menu_item-lottery.active::before {
	background: url(assets/images/menuicon_sprites.png) -3px -65px;
}
.menu_item-promotion:before,.menu_item-promotion::before{
	background: url(assets/images/menuicon_sprites.png) -35px -96px;
}
.menu_item-promotion:hover:before,.menu_item-promotion:hover::before,
.menu_item-promotion.active:before,.menu_item-promotion.active::before {
	background: url(assets/images/menuicon_sprites.png) -3px -96px;
}
.menu_item-vip:before,.menu_item-vip::before{
	background: url(assets/images/menuicon_sprites.png) -131px 32px;
}
.menu_item-vip:hover:before,.menu_item-vip:hover::before,
.menu_item-vip.active:before,.menu_item-vip.active::before {
	background: url(assets/images/menuicon_sprites.png) -131px 64px;
}
.menu_item-imobile:before,.menu_item-imobile::before{
	background: url(assets/images/menuicon_sprites.png) -99px -65px;
}
.menu_item-imobile:hover:before,.menu_item-imobile:hover::before,
.menu_item-imobile.active:before,.menu_item-imobile.active::before {
	background: url(assets/images/menuicon_sprites.png) -67px -65px;
}
.menu_item-affiliate:before,.menu_item-affiliate::before{
	background: url(assets/images/menuicon_sprites.png) -35px 1px;
}
.menu_item-affiliate:hover:before,.menu_item-affiliate:hover::before,
.menu_item-affiliate.active:before,.menu_item-affiliate.active::before {
	background: url(assets/images/menuicon_sprites.png) -3px 1px;
}

.main__nav_dropdown{
    display: none;
}


.member{
    display: block;
    text-align: right;
    color: rgba(255,255,255,1);
    font-size: 14px;
}
.member__title{ 
	&:after, &::after{
    	content: ":";
	}
}

.member__info span{
    display: inline-block;
    margin: 1% 1% 2% 2%;
}
.member__name{
    color: rgba(196,135,15,1);
    font-weight: bold;

}
.member__logout{
    color: rgba(255,255,255,1);
    transition: border .5s ease;
    background: rgba(0,0,0,.5);
    padding: 5px;
    border-radius: 5px;
    &:hover{
	    color: rgba(196,135,15,1);
	    cursor: pointer;
	    transition: color .5s ease;
	}
}
.member__nav li{
    display: inline-block;
    background: rgba(196,135,15,1);
    padding: 1% 3.5%;
    min-width: 100px;
    text-align: center;
    transition: border .5s ease;
    cursor: pointer;
    &:hover{
	    border-bottom: 1px solid rgba(196,135,15,1);
	    background: none;
	    transition: background .5s ease;
	}
    a{
    	color: rgba(255,255,255,1);
    }
}
.member__wallet{
    text-align: left;
    background: rgba(0,0,0,1)!important;
    border: none!important;
    z-index: 999;
    width: 300px;
    margin: 5px auto;
    position: relative;
}
.member__wallet_table {
	border: none;
	tr{
	    padding: 5px;
	    transition: border 1s ease;
	}
	&:hover{
		border-bottom: 1px solid rgba(196,135,15,1);
		cursor: pointer !important;
		color: rgba(196,135,15,1);
		transition: color .5s ease;
	}
}
.wallet__balance--left{
    text-align: left !important;
}
.wallet__balance--right{
    text-align: right !important;
    width: 20%;
}  
.wallet--active{
    border-bottom: 1px solid rgba(196,135,15,1);
    background: none !important;
    transition: background .5s ease;
}  

.head_bottom .text--large, 
.menu__icon.menu__icon-burger span, 
.mobile__header_content-user,
button, #fp-nav{
    @extend .hide;
}
