@charset "UTF-8";
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

img {
  outline: none;
  border: 0px; }

button {
  cursor: pointer; }

.text--strong, h1, h2, h3, h4, h5, h6, thead {
  font-weight: 700; }

.text--light {
  font-weight: 300; }

.text--big {
  font-size: 1.75rem; }

.text--red {
  color: #c4870f; }

.text--lightGrey {
  color: #6e6e6e; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-style: italic; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

small {
  font-size: 0.7rem; }

p, td {
  line-height: 1.4; }

body {
  font-family: "Microsoft Yahei", Arial, "σ╛«Φ╜»Θ¢àΘ╗æ", STXihei, "σìÄµûçτ╗åΘ╗æ", sans-serif;
  background-color: #d4d4d4; }

.heading {
  text-align: left; }
  .heading h1:before, .heading h1::before {
    content: " E ";
    color: transparent;
    font-weight: bolder;
    margin-right: 5px;
    position: relative;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast; }

.heading--slot h1:before, .heading--slot h1::before {
  background: url(../images/spritesheethd.png) -240px -50px;
  background-size: 300px;
  font-size: 55px; }

.heading--coins h1:before, .heading--coins h1::before {
  background: url(../images/spritesheethd.png) -62px -50.5px;
  background-size: 300px;
  font-size: 60px; }

.heading--flag h1:before, .heading--flag h1::before {
  background: url(../images/spritesheethd.png) -183px -175px;
  background-size: 300px;
  font-size: 50px; }

.heading--fish h1:before, .heading--fish h1::before {
  background: url(../images/spritesheethd.png) -175px 10px;
  background-size: 290px;
  font-size: 55px; }

.heading--mobile h1:before, .heading--mobile h1::before {
  background: url(../images/spritesheethd.png) -55px -152px;
  background-size: 250px;
  font-size: 40px; }

.heading--gift h1:before, .heading--gift h1::before {
  background: url(../images/spritesheethd.png) -180px -54px;
  background-size: 300px;
  font-size: 55px; }

.btn a:link, .btn a:active, .btn a:visited {
  color: #c4870f; }

a:hover, a:focus, a:visited, a:active, a:link {
  text-decoration: none;
  outline: none;
  color: #c4870f; }

img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast; }

table {
  border: 1px solid black;
  padding: 1%;
  text-align: center;
  margin: 10px auto;
  width: 100%; }

td {
  width: 200px;
  padding: 5px 0; }
  td :first-child {
    text-align: left;
    padding-left: 3%; }

.img img {
  max-width: 100%;
  height: auto; }
.img figure img {
  border: 0.5rem solid #d7d7d7;
  background-color: #acacac; }
.img a p {
  text-align: center;
  font-size: 14px;
  position: relative;
  padding: 3%;
  color: #323232; }

.img--grayscale {
  opacity: .6;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

.btn {
  text-align: center; }

.button p {
  margin-top: 1rem;
  margin-left: 1.5rem;
  color: #c4870f;
  text-transform: uppercase;
  font-size: 16px; }

.btn--go, .btn--back {
  display: inline-block;
  border: 2.25px solid #c4870f;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: 1.5rem; }

.btn--go:after, .btn--go::after, .btn--back-small::after, .btn--back-small:after, .btn--back-small::after, .btn--back-small:after {
  content: '';
  display: inline-block;
  border-top: 2.25px solid #c4870f;
  border-right: 2.25px solid #c4870f;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.btn--back-small::after, .btn--back-small:after {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg); }

.btn--go-small, .btn--back-small {
  height: 3.75rem;
  width: 3.75rem; }

.btn--go-large {
  width: 4.5rem;
  height: 4.5rem; }

.btn--go-small::after, .btn--go-small:after, .btn--back-small::after, .btn--back-small:after {
  width: 1rem;
  height: 1rem;
  margin-top: 1.3rem;
  margin-left: -.5rem; }

.btn--back-small::after, .btn--back-small:after {
  margin-left: 0.3rem; }

.btn--go-small:hover, .btn--go-large:hover, .btn--back-small:hover {
  background: #c4870f;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.btn--go-small:hover::after, .btn--go-small:hover:after, .btn--go-large:hover::after, .btn--go-large:hover:after, .btn--back-small:hover::after, .btn--back-small:hover:after {
  border-top: 2.25px solid #d4d4d4;
  border-right: 2.25px solid #d4d4d4; }

.btn--go-large:after, .btn--go-large::after {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 1.45rem;
  margin-left: -.6rem; }

.btn--play {
  height: auto;
  max-width: 100%;
  background-color: #595959;
  color: white !important;
  padding: 30% 125%;
  border-radius: 10px;
  font-size: 13px;
  z-index: 10 !important;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer; }

.btn--play:hover {
  background-color: #c4870f; }

.section__bg {
  background-color: #c9c9c9;
  position: absolute;
  bottom: 0;
  top: 50%;
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background-position: center center;
  object-fit: cover;
  background-size: contain;
  z-index: -4; }

.btn--mobile {
  position: relative;
  margin: 0 auto; }

.container-resized {
  width: 80%; }

input, button {
  border: none !important;
  box-shadow: none !important;
  outline: 0; }

/*.section{
	padding-top: 140px !important;
	.fp-section.fp-table.active.fp-completely{
		padding-top:280px!important
	}
}
.container-fluid {
	overflow:hidden;
	height: 100%;
}
.container-resized{
	width: 70%;
}

.fp-auto-height{
	padding-top: 0px !important
}
.lSPager{
	visibility:hidden!important
}
*/
.container-header {
  width: 70%; }

.header {
  box-shadow: 0 5px 20px rgba(125, 125, 125, 0.5);
  width: 100%;
  border-bottom: 2.5px solid #c4870f; }

.header.fixed {
  background: rgba(82, 82, 82, 0.1);
  background: -moz-linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -moz-radial-gradient(circle farthest-side at 50% 150%, #525252 20%, #212121 75%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(82, 82, 82, 0.1)), color-stop(100%, #525252));
  background: -webkit-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -webkit-radial-gradient(50% 150%, circle, #525252 20%, #212121 75%);
  background: -o-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -o-radial-gradient(50% 150%, circle, #525252 20%, #212121 75%);
  background: -ms-linear-gradient(-225deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), -ms-radial-gradient(50% 150%, circle, #525252 20%, #212121 75%);
  background: linear-gradient(-45deg, rgba(82, 82, 82, 0.1) 65%, #525252 50%), radial-gradient(circle farthest-side at 50% 150%, #525252 20%, #212121 75%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#525252',GradientType=0 ); }

.fixed {
  position: fixed;
  z-index: 9999; }

.logo {
  width: 90px;
  margin: 1%;
  float: left; }

.user {
  float: right;
  margin: 1%;
  text-align: right; }
  .user .form .form-group .form-control {
    padding: 2px 6px;
    height: 25px;
    margin: 0 2px; }

.form .form-group {
  float: left; }
  .form .form-group .form-control {
    max-width: 140px;
    display: inline;
    float: left;
    border: 1px solid #C8C8C9;
    background: #979B9E;
    border-radius: 0px; }

.rowtop, .rowbottom {
  float: none;
  text-align: right; }

.rowtop span {
  color: white;
  font-size: 12px; }

.rowbottom {
  margin-top: 10px; }

.code {
  height: 25px;
  margin-left: -3px;
  border: 1px solid #C8C8C9; }

.sec_code .form-control {
  width: 50px; }

.ibutton, .login, .register {
  border: 0px;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  min-width: 80px;
  padding: 5px 10px; }

.login {
  background: #707070;
  border: 1px solid #707070;
  margin-left: 5px; }

.register {
  background: #c4870f;
  border: 1px solid #c4870f; }

.hide, .head_bottom .text--large,
.menu__icon.menu__icon-burger span,
.mobile__header_content-user,
button, #fp-nav {
  display: none; }

.default {
  display: block; }

.head_top, .head_bottom {
  display: block; }

.main__nav {
  text-transform: uppercase; }
  .main__nav li {
    float: left;
    margin: 0px;
    color: white; }
    .main__nav li a {
      line-height: 1.9em;
      color: inherit;
      font-size: 12px;
      margin: 0 0.5px 10px;
      text-transform: uppercase;
      display: block;
      position: relative;
      transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
      .main__nav li a:after, .main__nav li a::after {
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: '';
        color: transparent;
        background: #c4870f;
        height: 3px;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .main__nav .active {
    color: #c4870f !important; }

.menu_item {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  font-weight: normal;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .menu_item:before, .menu_item::before {
    content: " M ";
    color: transparent;
    font-weight: bolder;
    margin-right: 5px;
    position: relative;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast; }

.main__nav li a:hover:after, .main__nav li a:hover::after {
  width: 100%; }

.menu_item-home:before, .menu_item-home::before, .menu_item-slots:before, .menu_item-slots::before, .menu_item-tournament:before, .menu_item-tournament::before, .menu_item-fishing:before, .menu_item-fishing::before, .menu_item-livecasino:before, .menu_item-livecasino::before, .menu_item-lottery:before, .menu_item-lottery::before, .menu_item-promotion:before, .menu_item-promotion::before, .menu_item-vip:before, .menu_item-vip::before, .menu_item-affiliate:before, .menu_item-affiliate::before, .menu_item-imobile:before, .menu_item-imobile::before {
  font-size: 20px; }

.menu_item-home:before, .menu_item-home::before {
  background: url(../images/menuicon_sprites.png)-35px -32px; }

.menu_item-home:hover:before, .menu_item-home:hover::before,
.menu_item-home.active:before, .menu_item-home.active::before {
  background: url(assets/images/menuicon_sprites.png)-3px -32px; }

.menu_item-slots:before, .menu_item-slots::before {
  background: url(assets/images/menuicon_sprites.png) -98px -224px; }

.menu_item-slots:hover:before, .menu_item-slots:hover::before,
.menu_item-slots.active:before, .menu_item-slots.active::before {
  background: url(assets/images/menuicon_sprites.png) -66px -224px; }

.menu_item-tournament:before, .menu_item-tournament::before {
  background: url(assets/images/menuicon_sprites.png) -131px -31px; }

.menu_item-tournament:hover:before, .menu_item-tournament:hover::before,
.menu_item-tournament.active:before, .menu_item-tournament.active::before {
  background: url(assets/images/menuicon_sprites.png) -131px 1px; }

.menu_item-fishing:before, .menu_item-fishing::before {
  background: url(assets/images/menuicon_sprites.png) -99px 0px; }

.menu_item-fishing:hover:before, .menu_item-fishing:hover::before,
.menu_item-fishing.active:before, .menu_item-fishing.active::before {
  background: url(assets/images/menuicon_sprites.png) -67px 0px; }

.menu_item-livecasino:before, .menu_item-livecasino::before {
  background: url(assets/images/menuicon_sprites.png) -99px -31px; }

.menu_item-livecasino:hover:before, .menu_item-livecasino:hover::before,
.menu_item-livecasino.active:before, .menu_item-livecasino.active::before {
  background: url(assets/images/menuicon_sprites.png) -67px -31px; }

.menu_item-lottery:before, .menu_item-lottery::before {
  background: url(assets/images/menuicon_sprites.png) -35px -65px; }

.menu_item-lottery:hover:before, .menu_item-lottery:hover::before,
.menu_item-lottery.active:before, .menu_item-lottery.active::before {
  background: url(assets/images/menuicon_sprites.png) -3px -65px; }

.menu_item-promotion:before, .menu_item-promotion::before {
  background: url(assets/images/menuicon_sprites.png) -35px -96px; }

.menu_item-promotion:hover:before, .menu_item-promotion:hover::before,
.menu_item-promotion.active:before, .menu_item-promotion.active::before {
  background: url(assets/images/menuicon_sprites.png) -3px -96px; }

.menu_item-vip:before, .menu_item-vip::before {
  background: url(assets/images/menuicon_sprites.png) -131px 32px; }

.menu_item-vip:hover:before, .menu_item-vip:hover::before,
.menu_item-vip.active:before, .menu_item-vip.active::before {
  background: url(assets/images/menuicon_sprites.png) -131px 64px; }

.menu_item-imobile:before, .menu_item-imobile::before {
  background: url(assets/images/menuicon_sprites.png) -99px -65px; }

.menu_item-imobile:hover:before, .menu_item-imobile:hover::before,
.menu_item-imobile.active:before, .menu_item-imobile.active::before {
  background: url(assets/images/menuicon_sprites.png) -67px -65px; }

.menu_item-affiliate:before, .menu_item-affiliate::before {
  background: url(assets/images/menuicon_sprites.png) -35px 1px; }

.menu_item-affiliate:hover:before, .menu_item-affiliate:hover::before,
.menu_item-affiliate.active:before, .menu_item-affiliate.active::before {
  background: url(assets/images/menuicon_sprites.png) -3px 1px; }

.main__nav_dropdown {
  display: none; }

.member {
  display: block;
  text-align: right;
  color: white;
  font-size: 14px; }

.member__title:after, .member__title::after {
  content: ":"; }

.member__info span {
  display: inline-block;
  margin: 1% 1% 2% 2%; }

.member__name {
  color: #c4870f;
  font-weight: bold; }

.member__logout {
  color: white;
  transition: border .5s ease;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px; }
  .member__logout:hover {
    color: #c4870f;
    cursor: pointer;
    transition: color .5s ease; }

.member__nav li {
  display: inline-block;
  background: #c4870f;
  padding: 1% 3.5%;
  min-width: 100px;
  text-align: center;
  transition: border .5s ease;
  cursor: pointer; }
  .member__nav li:hover {
    border-bottom: 1px solid #c4870f;
    background: none;
    transition: background .5s ease; }
  .member__nav li a {
    color: white; }

.member__wallet {
  text-align: left;
  background: black !important;
  border: none !important;
  z-index: 999;
  width: 300px;
  margin: 5px auto;
  position: relative; }

.member__wallet_table {
  border: none; }
  .member__wallet_table tr {
    padding: 5px;
    transition: border 1s ease; }
  .member__wallet_table:hover {
    border-bottom: 1px solid #c4870f;
    cursor: pointer !important;
    color: #c4870f;
    transition: color .5s ease; }

.wallet__balance--left {
  text-align: left !important; }

.wallet__balance--right {
  text-align: right !important;
  width: 20%; }

.wallet--active {
  border-bottom: 1px solid #c4870f;
  background: none !important;
  transition: background .5s ease; }

footer {
  height: 100%;
  background-color: #969696; }

.footer__top {
  background-color: white;
  text-align: center;
  color: #8d8d8d;
  padding: 2% 8%;
  font-size: .8rem; }
  .footer__top .img {
    max-width: 78%;
    margin: 0 auto; }

.footer__links {
  margin: 0% auto 2% auto; }
  .footer__links ul li {
    display: inline-block;
    margin: 1%; }
    .footer__links ul li a {
      color: #4a4a4a; }
      .footer__links ul li a:hover {
        color: #c4870f; }
      .footer__links ul li a:active, .footer__links ul li a:visited, .footer__links ul li a:link {
        color: #4a4a4a; }

.footer__text {
  margin-left: 26%;
  margin-right: 14%;
  text-align: left; }
  .footer__text p {
    line-height: 1.25; }

.footer__btm {
  background-color: #969696;
  padding: 1%;
  text-align: center;
  color: #4f4f4f; }
  .footer__btm p {
    font-size: 14px; }

/*MOBILE APP PAGE*/
.app {
  margin: 0 auto;
  text-align: center; }
  .app p {
    font-weight: 300; }

.app__head-first {
  margin-bottom: 10px;
  display: none; }

.app__text-first {
  font-size: 1.15rem;
  width: 380px;
  margin: 0 auto;
  display: none; }

.heading--mobile-hide {
  display: none; }

.app__image-gold {
  display: inline-block;
  width: 4.5%; }

.app__text-second {
  display: inline-block;
  text-align: left; }

.app__text-second--title {
  position: relative;
  bottom: 10px;
  font-style: normal;
  font-weight: 400; }

.app__head-second {
  text-align: left;
  width: 470px;
  margin: 10% auto;
  left: 20%;
  position: relative; }
  .app__head-second p {
    font-size: 1.25rem; }
  .app__head-second .img img {
    width: 100%;
    margin-top: 2%; }

.app__image--slot {
  max-width: 90%;
  margin: 10% auto;
  right: 20%;
  position: relative; }

.app__image--live {
  width: 250px; }

.app__text-third {
  font-size: 1.25rem;
  width: 590px;
  margin: 0 auto; }

.app__image-platforms {
  margin: 0 auto; }

.mobile__img {
  width: 80%;
  padding: 1%; }

.mobile__img--left {
  margin-right: -30%; }

.mobile__img--right {
  margin-left: -30%; }

.slotty p, .live p, .platforms p {
  font-size: 1.25rem; }

.info__text h5 {
  font-style: none; }

.slot__content p {
  width: 500px; }

.live {
  height: 100%;
  background: url(../images/live_bg.png) no-repeat;
  background-size: contain; }

.live__content {
  text-align: right;
  width: 500px;
  margin: 18% auto; }

.platforms__text {
  text-align: center; }

.platforms .img {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%; }

/*SLOT GAMES PAGE*/
.section--games {
  padding-top: 140px; }

.slot__img {
  cursor: pointer; }
  .slot__img span img {
    width: 56px;
    position: absolute;
    left: -28px;
    top: 0;
    transition: filter .5s ease;
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); }
    .slot__img span img:hover {
      opacity: 0.1;
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%); }
  .slot__img span {
    position: relative; }

.slot__active {
  opacity: 0.1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); }

.slot__games {
  width: 68%;
  margin: 1.5% auto;
  background-color: #c4c4c4;
  padding: 2% 2.5% 1% 3.5%;
  bottom: 110px;
  position: relative; }

.slot__games--header {
  margin: 3% 2% 3% 2%; }
  .slot__games--header span {
    text-transform: uppercase;
    font-weight: 300; }

.slot__search {
  text-align: right; }
  .slot__search span {
    font-size: 0.9rem; }
  .slot__search input {
    border: none;
    background: white;
    width: 70%;
    height: 2.25rem;
    text-indent: 10px; }
  .slot__search .fa-search {
    position: relative;
    right: 2rem; }

.slot__games .img {
  margin: 0px 5px 0px 5px; }

.slot__games--content .img {
  display: inline-block; }

.slot__games--content {
  text-align: center; }

.slot__games--category {
  display: inline-block;
  margin: 1% auto;
  margin-right: 2%;
  min-width: 100px; }

.slot__games--category > a,
.slot__games--category > a:visited
.slot__games--category > a:link {
  cursor: pointer;
  color: black;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 300;
  transition: .5s ease; }

.slot__games--category > a:hover,
.slot__games--category > a:focus,
.slot__games--category > a:active {
  color: #c4870f; }

.slot__games--category > a > img {
  width: 30px;
  height: auto;
  vertical-align: middle !important; }

.slot__games--content-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: rgba(110, 110, 110, 0.4); }

.slot__games--content-overlay > .slot__games_button {
  display: block;
  position: relative;
  margin: 2rem auto; }

.slot__games--content > .img > a > figure {
  position: relative;
  width: 100%; }

.slot__games_button > button {
  display: block; }

.img:hover > a > figure > .slot__games--content-overlay {
  opacity: 1;
  border: 1px solid rgba(196, 135, 15, 0.5); }

.img:hover > a > figure > .slot__games--content-overlay > .slot__games_button {
  opacity: 1;
  animation: open-pop-up .24s ease-in-out; }

.slot__games_button--demo, .slot__games_button--play {
  position: relative;
  max-width: 150px;
  text-align: center;
  border: none;
  color: white;
  padding: 0.5rem 0.8rem;
  z-index: 1;
  display: block;
  margin: 1rem auto;
  animation: open-popup .24s ease-in-out;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.slot__games_button--play {
  background: #c4870f; }

.slot__games_button--demo {
  background: #4a4a4a; }

.slot__games_button--demo:hover, .slot__games_button--play:hover,
.slot__games_button--demo:hover, .slot__games_button--play:hover {
  opacity: .6;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

.slot__center {
  width: 30%;
  height: auto;
  position: relative;
  z-index: 1; }

.slot__center--games {
  margin: 1% auto; }

.slot__center--main {
  margin: 4% auto; }

.slot__logos {
  margin: 0px auto;
  text-align: center;
  top: 50px; }

.slot__img {
  border-radius: 50%;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  top: 500px;
  border-radius: 50%;
  margin: 0 auto;
  display: inline-block;
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.25);
  margin-right: 1%; }

.slot__logos--bg {
  position: relative;
  border-radius: 5px;
  background-color: #b1b1b1;
  padding: 4%;
  height: 5%;
  z-index: -1;
  bottom: 50px; }

.games__bg {
  background-color: #c9c9c9;
  position: absolute;
  bottom: -25%;
  width: 100%;
  height: 250px;
  background-size: 100% 100%;
  background-position: center center;
  object-fit: cover;
  background-size: contain;
  z-index: -4; }

@keyframes open-pop-up {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0); }
  100% {
    opacity: 1;
    transform: scale(1); } }
.promo {
  position: relative;
  width: 65%; }

.promo__container .img {
  margin-bottom: 10px; }

.promo--slider {
  top: 100px; }

.promo__controls {
  text-transform: uppercase;
  text-align: right;
  margin: 0 auto;
  bottom: 50px;
  margin-bottom: 5%;
  font-size: 14px; }

.promo__controls a {
  padding: 5px;
  text-decoration: none;
  cursor: pointer; }

.inactive {
  display: none !important; }

.active {
  display: block; }

.slider__bg {
  display: inline-block;
  position: relative;
  bottom: 51px;
  width: 5rem;
  height: 5rem;
  background-color: #c4870f;
  border-radius: 50%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }

.slider__bg-prev {
  right: 570px; }

.slider__bg-next {
  left: 570px; }

.promo__content {
  display: none;
  z-index: 99;
  position: relative; }

.promo__content--heading {
  padding: 3%; }

.promo__content--body {
  background-color: #e1e1e1;
  padding: 3%;
  text-align: left;
  z-index: 7;
  position: relative; }

.promo__content--body p {
  padding-top: 1%; }

.promo__content--body ul {
  list-style: none;
  margin: 5px 20px; }

.promo__content--body ul li {
  margin-bottom: .5rem;
  line-height: 1.3;
  padding-left: 1.5rem;
  position: relative; }

.promo__content--body ul li:after {
  content: '';
  height: .4em;
  width: .4em;
  background: black;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  top: .25em;
  left: 0; }

.carousel.carousel-promo {
  position: relative;
  left: 350px;
  margin: 0 auto; }

/*CAROUSEL*/
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.carousel {
  left: 0px;
  position: relative;
  margin: 0 auto; }

.carousel-indicators {
  bottom: 5%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  list-style: none;
  text-align: center; }
  .carousel-indicators li {
    display: inline-block;
    width: 2rem;
    height: 8px;
    margin: 1px;
    text-indent: -999px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .carousel-indicators .active {
    margin: 0;
    width: 2rem;
    height: 8px;
    margin: 1px;
    background-color: white; }

/*CLOCK SLOT GAMES*/
.slot, .flag, .mobile, .promo {
  margin: 0 auto;
  text-align: center; }

.slot__platforms {
  width: 90%;
  margin: 5% auto 0% auto;
  background-color: #c4c4c4;
  padding: 2% 1%;
  box-shadow: 0 100px 10px -101px rgba(0, 0, 0, 0.5); }

.slot__platforms_shadow {
  position: relative; }

.slot__platforms_shadow:before, .slot__platforms_shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  border-radius: 50%;
  bottom: 25px;
  left: 80px;
  width: 50%;
  height: 35%;
  top: 55%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 35px 30px -8px rgba(0, 0, 0, 0.7), 0 25px 50px 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 35px 30px -8px rgba(0, 0, 0, 0.7), 0 25px 50px 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 35px 30px -8px rgba(0, 0, 0, 0.5), 0 25px 50px 25px rgba(0, 0, 0, 0.25); }

.slot__platforms_shadow:before {
  -webkit-transform: rotate(-3.5deg);
  -moz-transform: rotate(-3.5deg);
  -o-transform: rotate(-3.5deg);
  -ms-transform: rotate(-3.5deg);
  transform: rotate(-3.5deg); }

.slot__platforms_shadow:after {
  -webkit-transform: rotate(3.5deg);
  -moz-transform: rotate(3.5deg);
  -o-transform: rotate(3.5deg);
  -ms-transform: rotate(3.5deg);
  transform: rotate(3.5deg);
  right: 80px;
  left: auto; }

.slot__platforms_block {
  height: 9rem;
  width: 9rem;
  background-color: #e1e1e1;
  display: inline-block;
  margin: 5px 5px;
  background-size: cover; }

.slot__platforms--pt {
  background: url(../images/platforms/pt.png) no-repeat; }

.slot__platforms--mg {
  background: url(../images/platforms/mg.png) no-repeat; }

.slot__platforms--ttg {
  background: url(../images/platforms/ttg.png) no-repeat; }

.slot__platforms--png {
  background: url(../images/platforms/png.png) no-repeat; }

.slot__platforms--bs {
  background: url(../images/platforms/bs.png) no-repeat; }

.slot__platforms--isb {
  background: url(../images/platforms/isb.png) no-repeat; }

.slot__platforms--fg {
  background: url(../images/platforms/fg.png) no-repeat; }

.slot__platforms--hb {
  background: url(../images/platforms/hb.png) no-repeat; }

.slot__section--top {
  margin: 10px auto;
  width: 100%; }
  .slot__section--top h2 {
    display: inline-block;
    margin-right: 5%; }
  .slot__section--top .button {
    display: inline-block; }
    .slot__section--top .button p {
      display: inline-block; }

.slot__section--btm {
  margin: 15px auto; }

.slot__section--btn {
  margin: 0 auto; }
  .slot__section--btn .button {
    position: relative; }

.clock__container {
  height: 5rem;
  position: relative; }
  .clock__container .clock {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }

.slot__center {
  width: 30%;
  height: auto;
  position: relative;
  z-index: 1; }

.slot__center--games {
  margin: 1% auto; }

.slot__center--main {
  margin: 4% auto; }

.slot__logos {
  margin: 0px auto;
  text-align: center;
  top: 50px; }

.slot__logos--bg {
  position: relative;
  border-radius: 5px;
  background-color: #b1b1b1;
  padding: 4%;
  height: 5%;
  z-index: -1;
  bottom: 50px; }

.slot__img span img {
  width: 56px;
  position: absolute;
  left: -28px;
  top: 0;
  transition: filter .5s ease;
  opacity: 0.5;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

.slot__img span img:hover {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); }

.slot__img {
  cursor: pointer; }

.slot__img > span {
  position: relative; }

/*LIVE*/
.section--live {
  margin-top: 5rem; }

.heading.heading--coins {
  /*position: absolute;*/ }

.live__container {
  max-width: 70%;
  margin: 0 auto; }

.live__contents {
  margin: 0 auto;
  position: relative;
  z-index: 3; }

.live__contents--container {
  max-width: 300px; }

.live__logos-sa img,
.live__logos-ag img,
.live__logos-mg img,
.live__logos-pt img {
  width: 85%; }

.live--sa {
  bottom: 240px;
  float: right;
  right: 260px; }

.live--ag {
  right: -160px;
  bottom: 260px;
  float: right; }

.live--mg {
  float: left;
  bottom: 200px;
  left: 300px; }

.live--pt {
  bottom: 5px;
  left: 400px;
  position: absolute; }

.live__model {
  max-width: 70%;
  position: relative; }

.live__model--sa {
  left: -3rem; }

.live__model--mg {
  left: 2.5rem;
  top: 4rem; }

.live__model--ag {
  left: 5rem;
  bottom: 4rem; }

.live__model--pt {
  left: 7rem;
  position: relative;
  max-width: 60%; }

.live__btn {
  margin: 0 auto;
  max-width: 10%;
  z-index: 100;
  position: relative;
  transition: background-color .5s ease-out;
  opacity: 1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%); }

.live__btn:hover {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%); }

.live__logos-sa {
  right: 86px;
  bottom: 5px; }

.live__logos-mg {
  right: 60px;
  bottom: 15px; }

.live__logos-ag {
  right: 50px;
  bottom: 5px; }

.live__logos-pt {
  right: 45px;
  bottom: 5px; }

.live__btn--sa {
  left: 140px;
  bottom: 50px; }

.live__btn--ag {
  left: 50px;
  bottom: 50px; }

.live__btn--pt {
  right: 200px;
  bottom: 30px; }

.live__btn--mg {
  right: 150px;
  bottom: 50px; }

.live__background {
  background: url(../images/live_wm.jpg);
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  top: 50px; }

.live__right, .live__left, .live__right::before, .live__left::before, .live__right::after, .live__left::after {
  transition: background-color 0.5s ease-out; }

.live__right:nth-child(2)::before, .live__right:nth-child(2)::after {
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: skewY(-8deg);
  right: 0;
  left: 0;
  bottom: 0; }

.live__right:nth-child(4)::before, .live__right:nth-child(4)::after {
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: skewY(-10deg);
  right: 0;
  left: 0;
  bottom: 0; }

.live__left:nth-child(1)::before, .live__left:nth-child(1)::after {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: skewY(7deg);
  padding-left: -50%; }

.live__left:nth-child(3)::before, .live__left:nth-child(3)::after {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  transform: skewY(7deg);
  right: 0;
  left: 0;
  bottom: 0; }

.live__left:nth-child(5)::before, .live__left:nth-child(5)::after {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: skewY(5deg);
  right: 0;
  left: 0;
  bottom: 0; }

.live__lr::before, .live__lr::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: inherit; }

.live__right::before, .live__right::after {
  transform-origin: left top; }

.live__left::before, .live__left::after {
  top: 0;
  transform-origin: right top; }

/*LIVE SLIDER*/
.live__slider {
  text-align: right;
  bottom: 15px !important;
  text-align: right;
  z-index: 1; }

.live__slider .img {
  display: inline-block;
  margin: 20px auto; }

.img--live-slides {
  display: inline-block;
  margin: 5px auto;
  padding: 5px; }

.live__background .button {
  margin: -15px auto;
  text-align: center; }

.button__slides--pt {
  margin: 15px auto !important; }

.live__slider .img img {
  display: inline-block;
  margin: 0 auto; }

.live_control {
  display: inline-block;
  position: relative;
  top: -245px;
  width: 10rem;
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 1; }

.live__control-next {
  left: 800px; }

.live__girls-slider {
  text-align: right;
  z-index: 1; }

.livegirls__image {
  float: left;
  position: relative;
  z-index: 1;
  bottom: -25px; }

.livegirls__image img {
  width: 280px; }

.live__title {
  display: inline-block;
  position: relative;
  top: 20px; }

.live__title--sa img {
  text-align: right;
  position: relative;
  left: 550px;
  float: right; }

.live__title--sa, .live__title--mg, .live__title--pt, .live__title--ag {
  display: inline-block;
  position: relative;
  top: 20px; }

.live__title--sa .text--lightGrey,
.live__title--mg .text--lightGrey,
.live__title--pt .text--lightGrey,
.live__title--ag .text--lightGrey {
  text-align: left;
  font-size: 3.25rem;
  font-weight: 300; }

.live__title img {
  text-align: right;
  position: relative;
  float: right; }

.live__title--mg img, .live__title--pt img, .live__title--ag img {
  left: 370px; }

.live--slides-mg {
  left: 100px; }

.live__logos {
  min-width: 225px;
  position: relative;
  z-index: -1;
  transition: 1s ease;
  width: 50%;
  margin-top: 2%; }

.live__games {
  width: 100%;
  position: relative; }

.live__games::before {
  -webkit-box-shadow: 0 -15px 25px -15px rgba(100, 100, 100, 0.3);
  -moz-box-shadow: 0 -15px 25px -15px rgba(100, 100, 100, 0.3);
  box-shadow: 0 -15px 25px -15px rgba(100, 100, 100, 0.3); }

.live__games:nth-child(1) {
  z-index: -1;
  border: none;
  max-width: 90%;
  margin: 0 auto;
  top: 40px; }

.live__games:nth-child(2) {
  background: #acacac;
  top: 20px;
  height: 140px;
  z-index: 2;
  margin-left: 10%;
  width: 90%; }

.live__games:nth-child(3) {
  background: #bfbfbf;
  bottom: 60px;
  height: 140px;
  z-index: 3;
  margin-right: 10%;
  width: 90%; }

.live__games:nth-child(4) {
  background: #c4c4c4;
  top: -60px;
  height: 170px;
  z-index: 4;
  margin-left: 10%;
  width: 90%; }

.live__games:nth-child(5) {
  background: #d6d6d6;
  bottom: 160px;
  height: 100px;
  z-index: 5;
  width: 100%; }

/*FLAG*/
.lottery__game {
  position: relative;
  left: 0;
  top: 0; }
  .lottery__game img {
    width: 70%; }

.flag__content {
  margin: 0 auto; }

.flag__content h4 {
  max-width: 600px;
  margin: 10px auto;
  padding: 1% 0%; }

.lottery_game_item {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%); }
  .lottery_game_item .img {
    max-width: 125px; }

.lottery_game_item a {
  margin: auto 10px;
  width: 150px;
  display: inline-block;
  z-index: 2; }

.lottery_game_item .img img:hover {
  opacity: 1;
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
  transform: scale(1.1); }

.lottery_game_item .img img {
  opacity: 1;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: scale(1); }

/*FISH GAMES*/
.heading.heading--fish {
  position: absolute; }

.fish {
  margin: 10% auto;
  text-align: center; }

.fish__section .img {
  display: inline-block;
  max-width: 350px;
  margin: auto 2%; }

.fish__logo {
  width: 70%;
  margin: 0 15%; }

.fish__img {
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border: none; }

.fish__img img {
  -webkit-transition: all .25s linear;
  transition: all .25s linear; }

.fish_water_bg {
  position: absolute;
  left: 50%;
  top: 52.5%;
  transform: translate(-50%, -50%);
  z-index: -2;
  width: 50%; }

.fish__img::before {
  position: absolute;
  top: 0;
  left: -85%;
  z-index: 2;
  display: block;
  content: '';
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg); }

.fish__img:hover::before {
  -webkit-animation: shine 1s;
  animation: shine 1s; }

@-webkit-keyframes shine {
  100% {
    left: 125%; } }
@keyframes shine {
  100% {
    left: 125%; } }
/*MOBILE SERVICES*/
.mobile__content--container {
  position: relative;
  display: inline-block;
  margin: auto 5%;
  vertical-align: middle; }

.mobile__content--container img {
  max-width: 650px; }

.mobile__content {
  max-width: 400px;
  background-color: #d4d4d4;
  padding: 2%;
  margin: 3% auto;
  text-align: left;
  height: 100%; }
  .mobile__content h3 {
    font-style: normal; }
  .mobile__content p {
    font-size: 15px; }

.mobile__img {
  width: 80%;
  padding: 1%; }

.mobile__img--left {
  margin-right: -30%; }

.mobile__img--right {
  margin-left: -30%; }

.qrcode {
  background-color: #bdbdbd;
  text-align: center;
  height: 100%;
  padding: 1%;
  margin-top: 5%; }
  .qrcode .row .img img {
    border-radius: 5px; }

.qrcode__img {
  margin-top: 5%;
  border-right: 1px solid #949494; }

.qrcode__link {
  font-size: 17px;
  padding-top: 65px; }

.qrcode--btm {
  font-size: 15px;
  color: white; }

.services {
  text-align: center;
  margin: 2% auto; }

.services__block {
  background-color: #dddddd;
  height: 150px;
  width: 150px;
  padding: 1%;
  margin: 1%;
  display: inline-block; }
  .services__block h5 {
    margin-top: 8%; }
    .services__block h5before, .services__block h5::before {
      content: " EGC ";
      color: transparent;
      position: relative;
      font-size: 25px; }
  .services__block p {
    font-size: 14px; }

.services--devices h5 :before, .services--devices h5::before, .services--gift h5 :before, .services--gift h5::before, .services--csr h5 :before, .services--csr h5::before, .services--csr h5 :before, .services--csr h5::before, .services--lock h5 :before, .services--lock h5::before, .services--net h5 :before, .services--net h5::before, .services--card h5 :before, .services--card h5::before {
  background-size: 220px; }

.services--devices h5::before {
  background: url(../images/spritesheet_footer.png) -5px -15px; }

.services--gift h5::before {
  background: url(../images/spritesheet_footer.png) -65px -10px; }

.services--csr h5::before {
  background: url(../images/spritesheet_footer.png) -145px -10px; }

.services--lock h5::before {
  background: url(../images/spritesheet_footer.png) 8px -70px; }

.services--net h5::before {
  background: url(../images/spritesheet_footer.png) -70px -70px; }

.services--card h5::before {
  background: url(../images/spritesheet_footer.png) -145px -75px; }

.section__bg--mobile {
  top: 22.5%; }

/*# sourceMappingURL=main.css.map */
